<div class="lergo-form invite lesson-action-panel">
    <div class="invite-sections sections-links lesson-action-panel-navigation clearfix">
        <p class="lergo-h4 lesson-action-panel-link" ng-class="{active:isStudentMode()}" ng-click="setStudentMode()">
            {{'lessons.inviteLesson.student.msg'| translate}}</p>
        <p class="lergo-h4 lesson-action-panel-link" ng-class="{active:isClassMode()}" ng-click="setClassMode()">
            {{'lessons.inviteLesson.class.msg' | translate }}</p>
        <button class="btn-link close-button" ng-click="onClose()"><span class="fa fa-times"></span></button>
    </div>


    <script type="text/ng-template" id="inline_lessonCreateInviteFormItem.html">
        <p ng-show="!isSuccess()">{{'lessons.inviteLesson.' + mode + '.help' | translate }} </p>
        <p ng-show="isSuccess()">{{'lessons.inviteLesson.' + mode + '.success.help' | translate }} </p>
        <div class="container" style="width: 100%">
            <div class="row">
                <div ng-class="{'col-md-4':isSuccess(),'col-md-12':!isSuccess() }">
                    <div>{{'name' | translate }}</div>
                    <input type="text" ng-model="invitationName" on-enter="enterPressed()"
                           ng-class="{'in-success':isSuccess()}"/>
                </div>
                <div ng-show="isSuccess()" class="col-md-8">

                    <p>{{'pin' | translate }}
                        <small style="font-size: small">{{'lessons.inviteLesson.'+mode+'.pinHint' | translate}}</small>
                    </p>
                    <input type="text" ng-value="getPin()" readonly on-enter="enterPressed()"
                           ng-class="{'in-success':isSuccess()}" select-all-text-on-click on-enter
                           style="direction: inherit;"/>
                </div>
            </div>


            <div ng-show="isSuccess()" class="invite-link">
                <div>{{'lessons.inviteLesson.' + mode + '.success.invite' | translate}}</div>
                <textarea class="link" readonly select-all-text-on-click
                       on-enter="enterPressed()">{{getLink()}}</textarea>
            </div>
            <br/>
            <div class="button">
                <button class="btn" ng-click="sendInvite()" ng-show="!isSuccess()" ng-disabled="!isValid()">{{
                    'button.submit' | translate }}
                </button>
                <button ng-click="newInvite()" class="btn" ng-show="isSuccess()">{{ 'button.newInvite' | translate }}
                </button>
            </div>
            <div>
                <span class="lergo-h4">{{'lessons.inviteLesson.' + mode + '.noteTitle' | translate}}:</span>
                {{'lessons.inviteLesson.' + mode + '.noteMessage' | translate}}
            </div>

        </div>
    </script>


    <div ng-show="isStudentMode()" ng-class="{active:isStudentMode()}">
        <div lesson-create-invite-form-item="student"></div>
    </div>

    <div ng-show="isClassMode()" ng-class="{active:isClassMode()}">
        <div lesson-create-invite-form-item="class"></div>
    </div>
</div>
