<!--jeff: this is a new invite form used after the lesson is played. It prevents
the format from interfering with the before lesson invite form-->

<div class="card">
    <div class="card-block">
        <span class="lesson-invite-after" ng-class="{instanceafter:isStudentMode()}"  ng-click="setStudentMode()">{{'lessons.inviteLesson.student.msg'| translate}}</span>
        <span class="lesson-invite-after" ng-class="{instanceafter:isClassMode()}"   ng-click="setClassMode()"> {{'lessons.inviteLesson.class.msg' | translate }}</span>
        <button  class="lesson-invite-close-button btn-link close-button" ng-click="onCloseAfter()"><span class="fa fa-times"></span></button>
    </div>

    <script type="text/ng-template" id="inline_lessonCreateInviteFormItem.html">
        <br>
        <p>{{'lessons.inviteLesson.' + mode + '.help'  | translate }} </p>
        <div class="container">
            <!--<div>{{'name' | translate }}</div>-->
            <input type="text" ng-model="invitationName" on-enter="enterPressed()" />
            <div ng-show="isSuccess()">
                <div>{{'lessons.inviteLesson.' + mode + '.success' | translate}}</div>
                <input type="text" ng-value="getLink()" readonly select-all-text-on-click on-enter="enterPressed()" placeholder=mode />
            </div>
            <br/>
            <div class="button">
                <button class="btn" ng-click="sendInvite()" ng-show="!isSuccess()" ng-disabled="!isValid()">{{ 'button.submit' | translate }}</button>
                <button ng-click="newInvite()" class="btn" ng-show="isSuccess()">{{ 'button.newInvite' | translate }}</button>
            </div>
            <div>
                <span class="lergo-h4">{{'lessons.inviteLesson.' + mode + '.noteTitle' | translate}}:</span>
                {{'lessons.inviteLesson.' + mode + '.noteMessage' | translate}}
            </div>

        </div>
    </script>


        <div ng-show="isStudentMode()" ng-class="{active:isStudentMode()}" class="container">
            <div lesson-create-invite-form-item="student"></div>
        </div>

        <div ng-show="isClassMode()" ng-class="{active:isClassMode()}" class="container">
            <div lesson-create-invite-form-item="class"></div>
        </div>
</div>
