<div class="lergo-form report">
	<p ng-show="!abuseReport.lastUpdated" class="lergo-h4">{{'reportAbuse.title'| i18n}}</p>
	<p ng-show="!!abuseReport.lastUpdated" class="lergo-h4">{{'reportAbuse.thanks'| i18n}}</p>
	<button style="float: right; margin-top: -20px;" class="btn-link" ng-click="setActiveAction()">X</button>
	<div class="container" ng-show="!abuseReport.lastUpdated">
		<div>
			<div class="options">
				<input type="radio" ng-model="abuseReport.reason" value="infringesRights" />
				{{'abuseReport.reason.infringesRights'|i18n}}
			</div>
			<div class="options">
				<input type="radio" ng-model="abuseReport.reason" value="notEducational" />
				{{'abuseReport.reason.notEducational'|i18n}}
			</div>
			<div class="options">
				<input type="radio" ng-model="abuseReport.reason" value="notAppropriate" />
				{{'abuseReport.reason.notAppropriate'|i18n}}
			</div>
		</div>
		<div class="comment" ng-show="!!abuseReport.reason">
			{{'abuseReport.comments'|i18n}}
			<textarea ng-model="abuseReport.comment"></textarea>
		</div>
		<div class="button">
			<button ng-disabled="!abuseReport.reason" class="btn" ng-click="submitAbuseReport()">{{ 'button.submit' | i18n }}</button>
		</div>
		<div>
			<span class="lergo-h4">{{'lessons.note' | i18n}}:</span>
			{{'abuseReport.noteMessage' | i18n}}
		</div>
	</div>
	<div class="container" ng-show="!!abuseReport.lastUpdated">
		<div>
			<div class="bold">{{'abuseReport.issueReported'|i18n}}</div>
			{{'abuseReport.reason.'+abuseReport.reason| i18n}}
		</div>
		<br />
		<div>
			<div class="bold">{{'abuseReport.timeStamp'|i18n}}</div>
			{{abuseReport.lastUpdated | date:'d-MMM-yyyy' }}
		</div>
		<br />
		<div ng-show="!!abuseReport.comment">
			<div class="bold">{{'abuseReport.addComments'|i18n}}</div>
			{{abuseReport.comment}}
		</div>
		<br />
	</div>
</div>