<div class="lergo-form report">
	<p class="lergo-h4">
		<!--{{'lessons.reportAbuse'| i18n}}-->
		Report Abuse
	</p>
	<div class="container" ng-show='!abuseReport.submitted'>
		<div>
			<div class="options">
				<input type="radio" ng-model="abuseReport.reason" value="infringesRights" />
				It infringes my rights
			</div>
			<div class="options">
				<input type="radio" ng-model="abuseReport.reason" value="notEducational" />
				It is not educational content
			</div>
			<div class="options">
				<input type="radio" ng-model="abuseReport.reason" value="notAppropriate" />
				It is not appropriate for kids
			</div>
		</div>
		<div class="comment" ng-show="!!abuseReport.reason">
			Comments (Optional)
			<textarea ng-model="abuseReport.comment"></textarea>
		</div>
		<div class="button">
			<button ng-disabled="!abuseReport.reason" class="btn" ng-click="submitAbuseReport()">{{ 'button.submit' | i18n }}</button>
		</div>
		<div>
			<span class="lergo-h4">{{'lessons.note' | i18n}}:</span>
			{{'lessons.reportNoteMessage' | i18n}}
		</div>
	</div>
	<div class="container" ng-show='!!abuseReport.submitted'></div>
</div>