<div class="hidden-sm hidden-xs">
    <div id="questionsIndex" load-filter-and-paging="loadQuestions()">
        <span class="error">{{error}}</span>
        <br/>
        <div class="page-content-width page-content-titles" ng-show="!isModal">
            <div class="page-content-body">
                <div class="lergo-h1">
                    <div class="btn-group" uib-dropdown dropdown-append-to-body>
                        <button id="btn-append-to-body" type="button" class="btn-link" uib-dropdown-toggle  style="color: #5fb9ff; text-decoration: none">
                            <span class="fa fa-caret-down"></span>
                            <span class="lergo-h1">{{('questions.'+ questionToLoad |translate)}} </span>
                        </button>
                        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
                            <li role="menuitem"><a class="btn-link" style="outline: none;" ng-click="load(QuestionTypeToLoad.user)">{{'questions.myQuestions'|translate}}</a></li>
                            <li role="menuitem"><a class="btn-link" style="outline: none;" ng-click="load(QuestionTypeToLoad.all)">{{'questions.allQuestions'|translate}}</a></li>
                            <li role="menuitem"><a class="btn-link" style="outline: none;" ng-click="load(QuestionTypeToLoad.liked)">{{'questions.likedQuestions'|translate}}</a></li>
                        </ul>
                    </div>

                    [ {{ 'questions.total' | translate }}: {{filterPage.count}} ]
                </div>
                <div class="page-content-titles-actions">
                    <button class="btn btn-start" ng-click="createQuestionBtnDisable || createNewQuestion()"
                            ng-disabled="createQuestionBtnDisable">
                        <i ng-show="createQuestionBtnDisable" class="fa fa-circle-o-notch fa-spin" aria-hidden="true"></i>
                        {{ 'questions.createNew' | translate }}
                    </button>
                </div>
            </div>
        </div>
        <div class="page-content-width">
            <div class="page-content-body">
                <div class="container">
                    <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                <div filter-is-active="questionsFilterOpts" section="questions"></div>
                                <div>
                                    <div class="lergo-h1">{{ 'questions.filter' | translate }}</div>
                                    <div lergo-filter no-url-changes="{{isModal}}" model="questionsFilter" on-change="loadQuestions()"
                                         on-load="filterLoaded()"
                                         opts="questionsFilterOpts"></div>
                                </div>
                            </div>
                            <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12"></div>
                            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                            <table ng-show="items.length > 0" class="table ">
                                <thead>
                                <tr style="font-weight: bold">
                                    <td ng-show="isModal">
                                        <input type="checkbox" ng-click="selectAll($event)"/>
                                    </td>
                                    <td>{{ 'questions.question' | translate }}</td>
                                    <td>{{ 'questions.answer' | translate }}</td>
                                    <td ng-show="questionToLoad ===QuestionTypeToLoad.all">{{ 'questions.createdBy' | translate }}</td>
                                    <td>{{ 'questions.language' | translate}}</td>
                                    <td>{{ 'questions.subject' | translate}}</td>
                                    <td>{{ 'questions.age' | translate}}</td>
                                </tr>
                                </thead>
                                <tr ng-repeat="item in items |orderBy:'-lastUpdate'" ng-class="{'disabled':!!item.alreadyAdded}">
                                    <td ng-show="isModal">
                                        <input ng-disabled="!!item.alreadyAdded" type="checkbox" ng-model="item.selected"/>
                                    </td>
                                    <td dir="auto" class="question">
                                        <span ng-show="!!isModal">{{item.question}}</span>
                                        <div ng-show="!isModal" question-read-link question="item"></div>
                                    </td>
                                    <td dir="auto" class="answer">{{ getAnswers(item) | limitTo:30}}</td>
                                    <td ng-show="questionToLoad ===QuestionTypeToLoad.all" class="answer">{{item.user.username}}</td>
                                    <td class="answer">{{item.language && ('filters.languages.' + item.language | translate) || ""}}
                                    </td>
                                    <td class="answer">{{item.subject && ('filters.subjects.' + item.subject | translate) ||""}}</td>
                                    <td class="answer">{{item.age &&('+'+ item.age) || ""}}</td>
                                </tr>
                            </table>
            <div class="page-content-body text-center" ng-show="!items || items.length == 0"><span
                class="alert alert-warning font-medium">{{ 'questions.noQuestions' | translate }}</span></div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<div class="hidden-lg hidden-md">
    <div id="questionsIndex" load-filter-and-paging="loadQuestions()">
        <span class="error">{{error}}</span>
        <br/>
        <div ng-show="!isModal">
            <div>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-xs-12">
                            <div class="lergo-h1 content-margins">
                                <!-- using uib-bootstrap code to get dropdown to 'dropdown' in angular 1.6-->
                                <div class="btn-group" uib-dropdown dropdown-append-to-body>
                                    <button id="btn-append-to-body" type="button" class="btn-link" uib-dropdown-toggle  style="color: #5fb9ff; text-decoration: none">
                                        <span class="fa fa-caret-down"></span>
                                        <span class="lergo-h1">{{('questions.'+ questionToLoad |translate)}} </span>
                                    </button>
                                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
                                        <li role="menuitem"><a class="btn-link" style="outline: none;" ng-click="load(QuestionTypeToLoad.user)">{{'questions.myQuestions'|translate}}</a></li>
                                        <li role="menuitem"><a class="btn-link" style="outline: none;" ng-click="load(QuestionTypeToLoad.all)">{{'questions.allQuestions'|translate}}</a></li>
                                        <li role="menuitem"><a class="btn-link" style="outline: none;" ng-click="load(QuestionTypeToLoad.liked)">{{'questions.likedQuestions'|translate}}</a></li>
                                    </ul>
                                </div>

                                [ {{ 'questions.total' | translate }}: {{filterPage.count}} ]
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-xs-12">
                    <div class="content-margins" >
                        <button class="btn btn-start" ng-click="createQuestionBtnDisable || createNewQuestion()"
                                ng-disabled="createQuestionBtnDisable">
                            <i ng-show="createQuestionBtnDisable" class="fa fa-circle-o-notch fa-spin" aria-hidden="true"></i>
                            {{ 'questions.createNew' | translate }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div>
                <div filter-is-active="questionsFilterOpts" section="questions"></div>
                <div>
                    <div lergo-filter no-url-changes="{{isModal}}" model="questionsFilter" on-change="loadQuestions()"
                         on-load="filterLoaded()"
                         opts="questionsFilterOpts"></div>
                </div>
            </div>
            <div class="table-responsive">
                <table ng-show="items.length > 0" class="table ">
                    <thead>
                    <tr style="font-weight: bold">
                        <td ng-show="isModal">
                            <input type="checkbox" ng-click="selectAll($event)"/>
                        </td>
                        <td>{{ 'questions.question' | translate }}</td>
                        <td>{{ 'questions.answer' | translate }}</td>
                        <td ng-show="questionToLoad ===QuestionTypeToLoad.all">{{ 'questions.createdBy' | translate }}</td>
                        <td>{{ 'questions.language' | translate}}</td>
                        <td>{{ 'questions.subject' | translate}}</td>
                        <td>{{ 'questions.age' | translate}}</td>
                    </tr>
                    </thead>
                    <tr ng-repeat="item in items |orderBy:'-lastUpdate'" ng-class="{'disabled':!!item.alreadyAdded}">
                        <td ng-show="isModal">
                            <input ng-disabled="!!item.alreadyAdded" type="checkbox" ng-model="item.selected"/>
                        </td>
                        <td dir="auto" class="question">
                            <span ng-show="!!isModal">{{item.question}}</span>
                            <div ng-show="!isModal" question-read-link question="item"></div>
                        </td>
                        <td dir="auto" class="answer">{{ getAnswers(item) | limitTo:30}}</td>
                        <td ng-show="questionToLoad ===QuestionTypeToLoad.all" class="answer">{{item.user.username}}</td>
                        <td class="answer">{{item.language && ('filters.languages.' + item.language | translate) || ""}}
                        </td>
                        <td class="answer">{{item.subject && ('filters.subjects.' + item.subject | translate) ||""}}</td>
                        <td class="answer">{{item.age &&('+'+ item.age) || ""}}</td>
                    </tr>
                </table>
            </div>
            <div class="text-center" ng-show="!items || items.length == 0"><span
                class="alert alert-warning font-medium">{{ 'questions.noQuestions' | translate }}</span></div>
        </div>


    </div>
</div>

<div lergo-paging page="filterPage" on-change="loadQuestions()" on-load="pagingLoaded()"></div>
