<div class="base-layout" id="questionsIndex">
   <span class="error">{{error}}</span> <br />
   <div style="float: left; width: 80%">
      <p class="lergo-h1">My Questions [ Total: {{items.length}} ]</p>
   </div>
   <div style="float: right">
      <button class="btn" ng-click="createNewQuestion()">Create New Question</button>
   </div>
   <table ng-show="items.length > 0" class="table ">
      <thead>
         <tr style="font-weight: bold">
            <th></th>
            <th>Question</th>
            <th>Answer(s)</th>
            <th>Language</th>
            <th>Subject</th>
            <th>Age</th>
            <th>View</th>
            <th>Edit</th>
         </tr>
      </thead>
      <tr ng-repeat="item in items |orderBy:'-lastUpdate'  ">
         <td><input type="checkbox" /></td>
         <td class="question">{{item.question | limitTo:80 }}</td>
         <td class="answer">{{getAnswers(item).join('; ') | limitTo:30}}</td>
         <td class="answer">{{item.language}}</td>
         <td class="answer">{{item.subject}}</td>
         <td class="answer">{{item.age}}</td>
         <td class="viewLink"><a href="#/user/questions/{{item._id}}/read">View</a></td>
         <td class="editLink"><a href="#/user/questions/{{item._id}}/update">Edit</a></td>
      </tr>
   </table>
   <div ng-show="!items || items.length == 0">There are no questions to display</div>
</div>