
<div style="" ng-controller="QuestionsIndexCtrl" ng-init="$root.questionScrollPosition=0">
	<div
		style="border-right: 3px solid #efefef; min-height: 380px; width: 150px; line-height: 2; min-width: 150px; float: left; padding: 10px; font-size: 20px; margin-top:10px;">
		<div>
			<a class="btn-link" ng-click="showMyQuestions() || loadPublicQuestion(false)">My Question</a>
		</div>
		<div>
			<a class="btn-link" ng-click="loadPublicQuestion(true) || showAllQuestions()">All Question</a>
		</div>
		<div>
			<a class="btn-link" ng-click="createQuestion()">Create New</a>
		</div>
	</div>
	<div ng-show="!create">
		<div class="modal-body base-layout-class base-layout-modal" style="height: 400px; overflow-y: auto">
			<div ng-include="'views/questions/_index.html'" ng-init="isModal=true"></div>
		</div>
		<div class="modal-footer" style="text-align: left">
			<div>
				<button class="btn " ng-click="addSelectedItems(items)">{{'add' |i18n}}</button>
				<button class="btn btn-default" ng-click="cancel()">{{'cancel' |i18n}}</button>
			</div>
			<div ng-show="selectedItems.length===0" class="errorMessage">{{'questions.add.emptySelection' | i18n}}</div>
		</div>
	</div>
</div>
<div style="border-left: 5px solid black" ng-controller="QuestionsUpdateCtrl" ng-show="!!create">
	<div class="modal-body base-layout-class base-layout-modal " style="height: 400px; overflow-y: auto">
		<div ng-include="'views/questions/_update.html'"></div>
	</div>
	<div class="modal-footer" style="text-align: left">
		<button class="btn " ng-disabled="isSaving()||!isValid(quizItem)" ng-click="addItem(quizItem)">{{'add' | i18n}}</button>
		<button class="btn btn-default" ng-click="cancel(quizItem)">{{'cancel' | i18n}}</button>
		<div class="lergo-h3" style="display: inline;" ng-show="isValid(quizItem)">{{ isSaving() && ('saving' + '...' | i18n) || ('saved' | i18n) }}</div>
	</div>
</div>
