<div ng-controller="QuestionsUpdateCtrl" ng-init="quizItem=qItem">
	<div class="modal-body" style="height: 400px; overflow-y: auto">
		<div ng-include="'views/questions/_update.html'"></div>
	</div>
	<div class="modal-footer" style="text-align: left" ng-show="!!create">
		<button class="btn " ng-disabled="isSaving()||!isValid(quizItem)" ng-click="ok(quizItem)">{{'add' | i18n}}</button>
		<button class="btn btn-default" ng-click="cancel(quizItem)">{{'cancel' | i18n}}</button>
		<div class="lergo-h3" style="display: inline;" ng-show="isValid(quizItem)">{{ isSaving() && ('saving' + '...' | i18n) || ('saved' | i18n) }}</div>
	</div>
	<div class="modal-footer" style="text-align: left" ng-show="!create">
		<button class="btn" ng-click="cancel(quizItem)">{{'done' | i18n}}</button>
		<div class="lergo-h3" style="display: inline;" ng-show="isValid(quizItem)">{{ isSaving() && ('saving' + '...' | i18n) || ('saved' | i18n) }}</div>
	</div>
</div>
