<div class="base-layout">
	<div id="questionPreview">
		<div class="left">
			<div class="question">
				<p class="lergo-h4">{{quizItem.question}}</p>
			</div>
			<div class="help">
				<p class="question-help-text">{{quizItem.helpText}}</p>
			</div>
			<div class="audio" ng-show="!!quizItem.media">
				<audio ng-show=" quizItem.media==='audio' && !!quizItem.audioUrl" ng-src="{{getSantizeUrl(quizItem.audioUrl)}}" audioplayer controls></audio>
				<img width="380px" ng-show="quizItem.media==='image' && !!quizItem.imageUrl" ng-src="{{getSantizeUrl(quizItem.imageUrl)}}"></img>
			</div>
			<div class="answers " ng-include="getQuestionViewTemplate(quizItem)"></div>
			<div class="submit">
				<button class="btn" type="submit" ng-click="checkAnswer()">{{ 'button.submit' | i18n }}</button>
			</div>
		</div>
		<div class="right">
			<div class="action-items">
				<div class="hint" ng-show="!!quizItem.hint">
					<a ng-show="!!quizItem.hint" popover-placement="top" popover="{{quizItem.hint}}" class="btn-link"> {{'hint' | i18n}} </a>
					<br />
				</div>
				<a class="btn-link" ng-click="copyQuestion(quizItem)">
					<i class="fa fa-copy" tooltip="{{'questions.tooltip.copy' | i18n}}"></i>
				</a>
				<a class="btn-link" href="#/user/questions/{{quizItem._id}}/update" tooltip="{{'questions.tooltip.edit' | i18n}}">
					<i class="fa fa-pencil-square-o"></i>
				</a>
				<br />
				<br />
			</div>
		</div>
	</div>
	<div ng-show="!!answer">
		<div class="bg-success" ng-show="answer.correct">
			{{(quizItem.type === 'openQuestion') && ('questions.thankYou' | i18n) || ('questions.correctAnswerFilled' | i18n) }}
			<div ng-show="!!quizItem.explanation">
				<button class="btn-link" style="color: white" ng-click="isCollapsed = !isCollapsed">{{ 'explanation' | i18n }}</button>
				<div style="width: 400px; margin: auto" collapse="!isCollapsed">{{quizItem.explanation}}</div>
			</div>
		</div>
		<div class="bg-warning" ng-show="!answer.correct">
			{{ 'questions.incorrectAnswerFilled' | i18n }}: {{((quizItem.type==='trueFalse') && (getCorrectAnswers(quizItem) &&
			('quizItem.answer.'+getCorrectAnswers(quizItem)| i18n)||"") || getCorrectAnswers(quizItem) )}}
			<div ng-show="!!quizItem.explanation">
				<button class="btn-link" style="color: white" ng-click="collapsed = !collapsed">{{ 'explanation' | i18n }}</button>
				<div style="width: 400px; margin: auto" collapse="!!collapsed">{{quizItem.explanation}}</div>
			</div>
		</div>
	</div>
</div>