
<div class="base-layout" id="questions-update" noindex>
    <div class="container">
        <div class="row">
            <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12"></div>
            <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
	        <div ng-include="'views/questions/_update.html'"></div>
	        <br>
	        <div class="lergo-h3" ng-show="isValid(quizItem)">{{ isSaving() && ('saving'| translate) || ('saved' | translate) }}</div>
                <div>
                    <button class="btn" ng-click="done()" ng-disabled="isSaving()">{{ 'done' | translate }}</button>
                    <a ng-show="isValid(quizItem)" class="btn update-question-preview" ng-disabled="isSaving()" href="#!/user/questions/{{quizItem._id}}/read"> {{ 'previewQuestion' | translate }} </a>
                </div>
                <div class="hidden-sm hidden-xs" style="height: 30px"></div>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12"></div>
        </div>
    </div>
</div>
