<div class="container-fluid" id="pinInvite">
    <div class="row vertical-positioning-wrapper" >
        <div class="col-md-12 col-sm-12 text-center vertical-positioning-40">
            <form >
                <div>
                    <img src="images/logos/transparent-beta.png">
                </div>
                <div>
                    <input  ng-model="pin">
                </div>
                <br>
                <div>
                    <button class="btn btn-default" ng-click="getLesson()">Enter</button>
                </div>

            </form>

        </div>
    </div>
</div>
