<div class="container-fluid" id="pinInvite">
    <div class="row vertical-positioning-wrapper" >
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 text-center vertical-positioning-40">
            <form >
                <div>
                    <i class="logo-beta transparent"></i>
                </div>
                <div>
                    <input  ng-model="pin" ng-class="{invalid: invalidPin}" type="tel" maxlength="6">
                </div>
                <br>
                <div>
                    <button class="btn btn-default" ng-click="getLesson()">Enter</button>
                </div>

            </form>

        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
    </div>
</div>
<style>
    body{
        min-width: 110px !important;
    }
</style>
