
<div id="questionPreview" ng-keyup="$event.keyCode === 13 ?  enterPressed(quizItem) : null" tabindex="1">
	<div class="left">
		<div class="question" style="line-height: 3">
			{{!quizItem.userAnswer && (quizItem.userAnswer=[])||""}}
			<span class="lergo-h4" style="line-height: 0.75" ng-repeat="option in quizItem.question.split('___') track by $index">
				<span class="lergo-h4">{{option}}</span>
				<input ng-show="!$last" style="width:{{getFillIntheBlankSize(quizItem,$index)}}px; background-color:#EEEEEE; display: inline; min-height: 28px;"
					ng-model="quizItem.userAnswer[$index]" set-focus="$first">
			</span>
		</div>
		<div class="help">
			<p class="qu estion-help-text">{{quizItem.helpText}}</p>
		</div>
		<div quiz-item-media quiz-item="quizItem"></div>
		<div ng-include="'views/questions/view/partials/_submit.html'"></div>
	</div>
	<div class="right">
		<div class="action-items">
			<div class="hint" ng-show="!!quizItem.hint">
				<a ng-show="!!quizItem.hint" popover-placement="top" popover="{{quizItem.hint}}" class="btn-link"> {{'hint' | i18n}} </a>
			</div>
			<div ng-show="mode==='read'" class="action-item">
				<hr />
				<a class="btn-link" ng-click="copyQuestion(quizItem)">
					<i class="fa fa-copy" tooltip="{{'questions.tooltip.copy' | i18n}}"></i>
				</a>
				<a class="btn-link" href="#/user/questions/{{quizItem._id}}/update" tooltip="{{'questions.tooltip.edit' | i18n}}">
					<i class="fa fa-pencil-square-o"></i>
				</a>
			</div>
		</div>
	</div>
</div>
<div ng-show="mode==='quiz'">
	<progressbar animate="true" value="progressPercentage" type="primary" class="progressbar"> <b>{{progressPercentage}}%</b></progressbar>
</div>
<br>
<div ng-include="'views/questions/view/partials/_result.html'"></div>
