
<div id="questionPreview" ng-keyup="$event.keyCode === 13 ?  enterPressed(quizItem) : null" tabindex="1">
	<div class="left">
		<div dir="auto" class="question" style="line-height: 3">
			{{!quizItem.userAnswer && (quizItem.userAnswer=[])||""}}
			<span class="lergo-h4" style="line-height: 0.75" ng-repeat="option in quizItem.question.split('___') track by $index">
				<span class="lergo-h4">{{option}}</span>
				<span ng-show="!$last" style="display: inline-block;">
					<input {{getFillIntheBlankSize(quizItem,$index)}}px; style="display: inline; min-height: 28px;" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" ng-model="quizItem.userAnswer[$index]"
						set-focus="$first">
					<span ng-show="getAnswer() && step.testMode!=='True' && !getAnswer().correct ">
						<i ng-show="!isCorrectFillInTheBlanks(quizItem , $index)" class="fa fa-times wrong"></i>
						<i ng-show="!!isCorrectFillInTheBlanks(quizItem , $index)" class="fa fa-check correct"></i>
					</span>
				</span>
			</span>
		</div>
		<div dir="auto" class="help">
			<p class="question-help-text">{{quizItem.helpText}}</p>
		</div>
		<div quiz-item-media quiz-item="quizItem"></div>
		<div ng-include="'views/questions/view/partials/_submit.html'"></div>
	</div>
	<div class="right">
		<div ng-include="'views/questions/view/partials/_actionItems.html'"></div>
	</div>
</div>
<div ng-show="isQuizStep()">
	<div lergo-progress-bar ng-ready="updateProgress()" animate="true" value="progressPercentage" type="primary" class="progressbar">
		<b>{{progressPercentage}}%</b>
	</div>
	<!--<progressbar animate="true" value="progressPercentage" type="primary" class="progressbar"> <b>{{progressPercentage}}%</b></progressbar>-->
</div>
<br>
<div ng-include="'views/questions/view/partials/_result.html'"></div>
