<div id="questionPreview" ng-keyup="$event.keyCode === 13 ?  enterPressed(quizItem) : null" tabindex="1">
	<div class="left">
		<div dir="auto" class="question">
			<p class="lergo-h4">{{quizItem.question}}</p>
		</div>
		<div dir="auto" class="help">
			<p class="question-help-text">{{quizItem.helpText}}</p>
		</div>
		<div quiz-item-media quiz-item="quizItem"></div>
		<div multi-choice quiz-item="quizItem" on-click="checkAnswer()"></div>
		<div class="submit">
			<div>
				<button ng-show="!getAnswer() && isMultiChoiceMultiAnswer(quizItem)" ng-disabled="!canSubmit(quizItem)" type="submit" class="btn"
					ng-click="checkAnswer()">{{ 'button.submit' | translate }}</button>
                <div quiz-next-question-button></div>
				<button ng-show="!!isQuizDone()" class="btn" ng-click="continueBtnDisable || nextStep()">
                    <i ng-show="continueBtnDisable" class="fa fa-circle-o-notch fa-spin" aria-hidden="true"></i>
                    {{ 'lessons.letsContinue' | translate }}
                </button>
			</div>
		</div>
	</div>
	<div class="right">
		<div ng-include="'views/questions/view/partials/_actionItems.html'"></div>
	</div>
</div>
<div ng-show="isQuizStep()">
	<div lergo-progress-bar ng-ready="updateProgress()" animate="true" value="progressPercentage" type="primary" class="progressbar">
		<b>{{progressPercentage}}%</b>
	</div>
	<!--<progressbar animate="true" value="progressPercentage" type="primary" class="progressbar"> <b>{{progressPercentage}}%</b></progressbar>-->
</div>
<br>
<div ng-include="'views/questions/view/partials/_result.html'"></div>
