<form name="MCMultiAnswerForm" ng-submit="submit(correctAnswer)" class="lergo-form">
	<div>
		Question: <input ng-model="quizItem.question" />
	</div>
	<div>
		<table class="table table-striped table-condensed">
			<thead>
				<tr>
					<th style="width: 40px;">Answer Options</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="option in quizItem.options">
					<td><input type="checkbox" 
						ng-true-value="option" ng-false-value="" ng-click="$parent.updateSelection($event,option)"/>{{option}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<button type="submit">Submit</button>
</form>
