<div class="question-multi-choice">
   <table class="lergo-table">
      <tbody>
         <tr ng-repeat="option in quizItem.options | shuffle ">
            <td style="width: 5%">
                <!-- todo : connect input elements to model instead of doing a workaround with ng-show -->
                <input type="checkbox"  ng-show="!quizItem.userAnswer || quizItem.userAnswer.indexOf(option.label) < 0" ng-true-value="option" ng-false-value=""
               ng-click="$parent.updateAnswer($event,option.label,quizItem)"/>

                <input type="checkbox" checked ng-show="quizItem.userAnswer.indexOf(option.label) > -1" ng-true-value="option" ng-false-value=""
               ng-click="$parent.updateAnswer($event,option.label,quizItem)"/>


            </td>
            <td>{{option.label}}</td>
         </tr>
      </tbody>
   </table>
</div>


