<div id="questionPreview" ng-keyup="$event.keyCode === 13 && quizItem.subType==='short' ?  enterPressed(quizItem) : null" tabindex="1">
    <div class="container-fluid">
        <div class="row input-block">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="text-center" ng-include="'views/questions/view/partials/_actionItems.html'"></div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div dir="auto" class="question">
                                <p class="lergo-h4" >{{quizItem.question}}</p>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div dir="auto" class="help">
                                <p class="question-help-text">{{quizItem.helpText}}</p>
                            </div>
                            <div quiz-item-media class="img-small"   quiz-item="quizItem"></div>
                        </div>
                    </div>
            </div>

        </div> <!--closes row-->
        <div class="row">
            <div class="answers">
                <input dir="auto"   autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" id="openQuestionText" ng-show="quizItem.subType==='short'" ng-model="quizItem.userAnswer"/>
                <textarea dir="auto" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" id="openQuestionTextarea" ng-show="quizItem.subType==='long'" ng-model="quizItem.userAnswer"></textarea>
                <span ng-init="quizItem.subType==='short' ? setFocus('openQuestionText') : setFocus('openQuestionTextarea')"></span>
            </div>
            <div ng-include="'views/questions/view/partials/_submit.html'"></div>
                <div ng-show="isQuizStep()">
                    <div class="side10" lergo-progress-bar ng-ready="updateProgress()" animate="true" value="progressPercentage" type="primary" class="progressbar">
                        <b>{{progressPercentage}}%</b>
                    </div>
                </div>
                <br>
                <div class="result" ng-show="!!getAnswer(quizItem)">
                    <div class="bg-primary side10">
                        <span>{{'questions.thankYou' | translate}}</span>
                        <div ng-show="shouldShowExplanationMessage()">
                            <button class="btn-link" style="color: white" ng-click="isCollapsed = !isCollapsed">{{ 'explanation' | translate }}</button>
                            <div dir="auto" style="margin: auto" uib-collapse="!!isCollapsed">{{quizItem.explanation}}</div>
                        </div>
                    </div>
                </div>
                <div class="result" ng-show="!getAnswer()">
                    <div  class="bg-primary side10">{{'steps.answer' | translate }}</div>
                </div>
        </div>
    </div>
</div>

