<div id="questionPreview" ng-keyup="$event.keyCode === 13 ?  enterPressed(quizItem) : null" tabindex="1">
	<div class="left">
		<div class="question">
			<p class="lergo-h4">{{quizItem.question}}</p>
		</div>
		<div class="help">
			<p class="question-help-text">{{quizItem.helpText}}</p>
		</div>
		<div class="audio" ng-show="!!quizItem.media">
			<audio ng-show=" quizItem.media==='audio' && !!quizItem.audioUrl" ng-src="{{getSantizeUrl(quizItem.audioUrl)}}" audioplayer controls></audio>
			<img width="300px" ng-show="quizItem.media==='image' && !!quizItem.imageUrl" ng-src="{{getSantizeUrl(quizItem.imageUrl)}}"></img>
		</div>
		<div class="answers">
			<input id="openQuestionText" ng-show="quizItem.subType==='short'" ng-model="quizItem.userAnswer" autofocus />
			<textarea id="openQuestionTextarea" ng-show="quizItem.subType==='long'" ng-model="quizItem.userAnswer" autofocus></textarea>
			<!-- Setting focus manually -->
			{{quizItem.subType==='short' ? setFocus('openQuestionText') : setFocus('openQuestionTextarea')}}
		</div>
		<div class="submit">
			<div ng-show="mode==='read'">
				<button class="btn" type="submit" ng-click="checkAnswer()">{{ 'button.submit' | i18n }}</button>
			</div>
			<div ng-show="mode==='quiz'">
				<button ng-show="!getAnswer(quizItem)" ng-disabled="!quizItem.userAnswer" type="submit" class="btn" ng-click="checkAnswer()">{{
					'button.submit' | i18n }}</button>
				<button ng-show="hasNextQuizItem() && getAnswer(quizItem)" class="btn" ng-click="nextQuizItem()">{{ 'nextQuestion' | i18n }} >></button>
				<button ng-show="!hasNextQuizItem() && getAnswer(quizItem)" class="btn" disabled>{{ 'steps.noMoreQuestions' | i18n }}</button>
			</div>
		</div>
	</div>
	<div class="right">
		<div class="action-items">
			<div class="hint" ng-show="!!quizItem.hint">
				<a ng-show="!!quizItem.hint" popover-placement="top" popover="{{quizItem.hint}}" class="btn-link"> {{'hint' | i18n}} </a>
			</div>
			<div ng-show="mode==='read'">
				<hr />
				<a class="btn-link" ng-click="copyQuestion(quizItem)">
					<i class="fa fa-copy" tooltip="{{'questions.tooltip.copy' | i18n}}"></i>
				</a>
				<a class="btn-link" href="#/user/questions/{{quizItem._id}}/update" tooltip="{{'questions.tooltip.edit' | i18n}}">
					<i class="fa fa-pencil-square-o"></i>
				</a>
			</div>
		</div>
	</div>
</div>
<br>
<div ng-show="!!getAnswer(quizItem)">
	<div class="bg-primary">
		<span>{{'questions.thankYou' | i18n}}</span>
	</div>
</div>
