<!-- <div id="questionPreview" ng-keyup="$event.keyCode === 13 ?  enterPressed(quizItem) : null" tabindex="1">
    <div class="container-fluid">
        <div class="row input-block">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="text-center" ng-include="'views/questions/view/partials/_actionItems.html'"></div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div dir="auto" class="question">
                                <p class="lergo-h4">{{quizItem.question}}</p>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div dir="auto" class="help">
                                <p class="question-help-text">{{quizItem.helpText}}</p>
                            </div>
                            <div quiz-item-media class="img-small"   quiz-item="quizItem"></div>
                        </div>
                    </div>
            </div>
        </div>
        <div class="row">
            <div class="answers">
                <input dir="auto" id="exactQuestionText" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" ng-model="quizItem.userAnswer" autofocus ng-init="setFocus('exactQuestionText')" />
            </div>
            <div ng-include="'views/questions/view/partials/_submit.html'"></div>
            <div class="sideBot5nd" ng-show="isQuizStep()">
                <div lergo-progress-bar ng-ready="updateProgress()" animate="true" value="progressPercentage" type="primary" class="progressbar"> <b>{{progressPercentage}}%</b></div>
            </div>
            <br>
            <div class="sideBot5nd" ng-include="'views/questions/view/partials/_result.html'"></div>
        </div>
    </div>
</div> -->
