#about {
    .cloudbees {
        width: 128px;
        height: 92px;
        display: inline-block;
        background: url("../images/thanks_to/cloudbees.png");
    }
    .browserstack {
        width: 386px;
        height: 92px;
        display: inline-block;
        background: url("../images/thanks_to/browserstack.png");
    }
    .nav-tabs-vertical {
        width: 225px;
        float: left;
        > li {
            &.active > a {
                &,
                &:hover,
                &:focus {
                    border-right-color: #fafafa;
                }
            }
        }
    }
    .tab-content-vertical {
        width: 775px;
        float: right;
    }
    .rtl {
        .nav-tabs-vertical {
            float: right;
            > li {
                &.active > a {
                    &,
                    &:hover,
                    &:focus {
                        border-left-color: #fafafa;
                        border-right-color: #dddddd;
                    }
                }
            }
        }
        .tab-content-vertical {
            float: left;
        }
    }
}
