.admin {
    .filter-lessons {
        border-bottom: 1px solid #d2e8fa;
        padding-top: 16px;
        padding-bottom: 16px;
    }
    .admin-lessons {
        padding-top: 16px;
        padding-bottom: 16px;
        border-bottom: 1px solid #d2e8fa;
        margin-bottom: 20px;
    }
}

@media screen and (max-width : 1023px) {
    .admin {
        .admin-lessons {
            padding: 0 15px;
        }
    }
}

#usersIndex {
    .filter-users {
        border-bottom: 1px solid #d2e8fa;
        width: 72.5vw;
        padding-top: 16px;
        padding-bottom: 16px;
    }
}

@media screen and (max-width : 1023px) {
    #usersIndex {
        .filter-users {
            padding: 0 15px;
            width: unset;
        }
    }
}
@media screen and ( max-width : 768px ) {
    .rtl {
        .admin {
            .admin-publish {
                .dropdown-menu {
                    margin-left: -110px;
                }
            }
        }
    }
}

