$HEADER_BACKGROUND_COLOR: $COLOR_13;
$HEADER_BACKGROUND_COLOR: $COLOR_13;
$HEADER_HEIGHT: 110px !default;
$FOOTER_HEIGHT: 170px !default;


label.btn.btn-link {
    text-transform: capitalize;
    text-decoration: none;
    font-size: 16px;
}

.mobile-navbar-menu {

    li {
        padding: 8px 16px;
        border-bottom: 1px solid #ddd;
        font-size: 20px;
    }

    li:first-child {
        border-bottom: none;
        label {
            color: white;
            margin: -20px 0 -20px 0;
        }
    }
}

/*.row.fix {
    display: flex;
    flex-wrap: wrap;
    width:100%;
}*/

#profileloginbutton-mobile-not-logged-in{
    padding-top: 16px;

    .header-signup {
        margin-right: 0;
        a {
            color: white;
            display: inline-block;
            font-size: 20px;
            width: 95px;
            text-decoration: none;
            padding: 15px 0 15px 0;
            margin:-15px 0 -3px 0;
            text-align: center;
            &:hover {
                background-color: rgba(0, 0, 0, 0.3)
            }
            &:last-child {
                /*float: right;*/
            }
        }
    }
    .header-login {
        .user-section-menu {
        }
        & > a {
            color: white;
            font-size: 18px;
            text-overflow:ellipsis;
            white-space: nowrap;
            overflow:hidden;
            max-width:100%;
            text-decoration: none;
            padding: 15px 15px;
            text-align: center;
            &:hover {
                background-color: rgba(0, 0, 0, 0.3)
            }
            img{
                padding-right:5px;
            }
        }
    }
}



#profileloginbutton-desktop  {

    .header-signup {
        margin-right: 0;
        a {
            color: white;
            display: inline-block;
            font-size: 20px;
            width: 85px;
            text-decoration: none;
            padding: 15px 0 15px 0;
            margin-top: -11px;
            text-align: center;
            &:hover {
                background-color: rgba(0, 0, 0, 0.3)
            }
            &:last-child {
                float: right;
            }
        }
    }
    .header-login {
        .user-section-menu {
        }
        & > a {
            color: white;
            font-size: 18px;
            text-overflow:ellipsis;
            white-space: nowrap;
            overflow:hidden;
            max-width:100%;
            text-decoration: none;
            padding: 15px 15px 7px;
            text-align: center;
            &:hover {
                background-color: rgba(0, 0, 0, 0.3)
            }
            img{
                padding-right:5px;
            }
        }
    }
}



#profileloginbutton-mobile  {
    padding-top: 16px;

    .header-signup {
        margin-right: 0;
        a {
            color: white;
            display: inline-block;
            font-size: 20px;
            width: 95px;
            text-decoration: none;
            padding: 15px 0 15px 0;
            margin:-15px 0 -3px 0;
            text-align: center;
            &:hover {
                background-color: rgba(0, 0, 0, 0.3)
            }
            &:last-child {
                float: right;
            }
        }
    }
    .header-login {
        .user-section-menu {
        }
        & > a {
            color: white;
            font-size: 18px;
            text-overflow:ellipsis;
            white-space: nowrap;
            overflow:hidden;
            max-width:100%;
            text-decoration: none;
            padding: 15px 15px;
            text-align: center;
            &:hover {
                background-color: rgba(0, 0, 0, 0.3)
            }
            img{
                padding-right:5px;
            }
        }
    }
}

.navbar-toggle {
    border-color:#91CFFF !important;
}

.searchIconCenter {
    width: 20px;
    margin: auto;
    padding-top: 26px;
}

 /*for the mobile search only*/
.navbar-search-mobile {
    height: 40px;
    border-top: 10px solid #91cfff;
    border-bottom: 10px solid #91cfff;
    input {
        border-radius: 10px;
        font-size: 12px;
    }
    .navbar-search-adjust {
        border-top: 5px solid white;
        border-bottom: 5px solid white;
        height: 44px;
        background-color: white;
    }

    .cancel-search-mobile {
        position: relative;
        color: #91cfff;
        font-size: 12px;
        bottom: -4px;
        padding: 7px;
        height: 34px;
        width: 50px;
        margin: auto;
    }
    .search-mobile {
        display: inline-block;
        font-size: 14px;
        color: darkgrey;
        position: relative;
        bottom: 23px;
        float: right;
        margin-right: 25px;
    }

}
.search-float {
    float: right;
    padding: 2px;
}

input.form-control.search-input {
    margin: 20px 1px -20px 1px;
}

#header-mobile {
    .cancel-search {
        position:relative;
        right: 78px;
        color: darkgrey;
        bottom: 2px;
    }
    .pull-left.logo {
        margin-left: 1vw;
    }
}


.base-layout, .base-layout-class {

} /*end of base-layout*/

/* Adds borders for tabs */
.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.nav-tabs {
    margin-bottom: 0;
}

/*from stackoverflow*/
.row.fix {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}
/*from angular-ui*/
.horizontal-collapse {
    height: 70px;
}
.navbar-collapse.in {
    overflow-y: hidden;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

#wrapper {
    margin-bottom: -$HEADER_HEIGHT;
    min-height: 100%;

}

#simple-dropdown1 {
    display: inline-block;
    padding: 11px 14px 6px 12px;
    color: white;
    font-size: 1em;
    margin-right:40px;
    float: right;
    &:hover {
        background-color: rgba(0, 0, 0, 0.3)
    }
}

.more-links {
    height: 20px;
    margin-left: 10px;
    font-size: 14px;
}

.dropdown-align {
    margin-left: 62px;
    margin-top: 40px;
}
.dropdown-align-user {
    margin-left: 0px;
}
.rtl {
    .dropdown-align {
        margin-left: 22px;
    }
    .dropdown-align-user {
        margin-left: -42px;
    }
}



/** guy - "base-layout" will trigger the directive. so we alias it to base-layout-class to use the class without the directive*/
.base-layout, .base-layout-class {

    &:not(.base-layout-modal) {
        margin-bottom: -$HEADER_HEIGHT;
    }
    .push {
        height: $HEADER_HEIGHT;
    }
    #header-mobile {
        background: $HEADER_BACKGROUND_COLOR;
        border-bottom: $HEADER_BACKGROUND_COLOR;
        margin-bottom: 0;

        img.d-image {
            margin-left: 45px;
            margin-right: 45px;
            padding: 0 50px;
        }

        .search-icon {
            color: white;
            position: relative;
            font-size: 19px;
            top: 18px;
            margin-left: -50px;
            &:hover {
                color: rgba(0, 0, 0, 0.3);
            }
            i.fa.fa-search {
                padding-left: 12px;
            }
        }
        .header-actions{
            max-width: 200px;
            margin-top: -8px;
            float: right;

            .header-language{
                select{
                    font-size: 18px;
                    color: white;
                    border:0;
                    background-color: $HEADER_BACKGROUND_COLOR;
                    margin-top: 20px;
                    margin-left: 11px;
                }
            }
        }
    }

    /** standard widths for this layout **/
    .page-content-width {
        /*min-width: 1100px;
        width: 1100px;*/
        margin-left: auto;
        margin-right: auto;

        /* clearfix */
        &:after {
            content: "";
            visibility: hidden;
            display: block;
            height: 0;
            clear: both;
        }

        .page-content-body {
            display: inline-block;
            width: 730px;
            min-width: 730px;
        }
    }

    .page-content-titles {
        margin-bottom: 25px;
        .page-content-body, .page-content-sidebar {
            border-bottom: 1px solid $LERGO_HR_COLOR;
            padding-bottom: 15px;
        }
        .page-content-body .lergo-h1 {

            display: inline-block;
        }
        .page-content-titles-actions {
            display: inline-block;
            float: right;
            margin-top: -5px;
            margin-bottom: -5px;

        }

        .page-content-titles-actions-new {
            display: inline-block;
            float: right;
            margin-bottom: -2px;

        }
    }


    #footer {
        padding: 15px;
       /* height: 103px;*/

        background-color: #296CA1;
        width: 100%;
        .footer-text {
            color: white;
            padding-bottom: 15px;
            font-size: 12px;
            a {
                color: white
            }
        }
        .footer-links {
            display: table;
            float: left;
            width: 100%;
            ul, li {
                list-style: none;
                padding: 0;
                margin: 0;
            }
            li {
                float: left;
                padding-right: 30px;
                padding-bottom: 10px;

                &, a {
                    color: white
                }
            }
            .row {
                display: table-row;
            }
        }
        .copyrights {
            float: right;
            color: #A6BBCF;
        }
    }
}

#content {
    height: auto !important;
    min-height: 750px;
    /*padding-bottom: 20px;*/
    & > div:first-child {
        /* guy - written like this so that we can override if needed */
        margin-top: 10px;
    }
}

/** guy - "base-layout" will trigger the directive. so we alias it to base-layout-class to use the class without the directive*/
.container, .base-layout, .base-layout-class {
    &:not(.base-layout-modal) {
        height: 100%;
    }
}


.embed-mode-item {
    /* to display only in embed code */
    display: none;
}

.lergo-embed-mode {
    background: transparent;
    .not-embed-mode-item {
        display: none;
    }

    .embed-mode-item {
        display: block;
    }
}


/******* LANGUAGE SPECIFIC CORRECTIONS ******/


/*body.ru {
    .base-layout, .base-layout-class {
        #header {
            .header-navigation {
                li, li:after {
                    margin: 0 3px ;
                    padding: 0 3px;

                }
            }

        }
    }
}*/
// desktop only! - not ipad
// drop-downs show menu on hover for desktop only
@media screen  and (min-width: 1200px) {
    .dropdown:hover .dropdown-menu {
        display: block;
    }
}

// Jeff- allows the pages to be  responsive while still using production code
@media screen and (max-width: 1200px) {
    .base-layout, .base-layout-class {
        .page-content-width {
            width: unset;
            min-width: unset;

            .page-content-body {
                width: unset;
                min-width: unset;
                display: unset;
            }
        }
        .page-content-titles {
            .page-content-titles-actions {
                display: inline-block;
                float: left;
                margin-top: 20px;
                margin-bottom: -5px;

            }
        }

    }
    .homepage-desktop {
        .lessons-desktop {
            .lesson-desktop {
                width: unset;
            }
        }
    }
}

// ipad and desktop
@media screen and (min-width: 1024px) {
    #header-mobile {
        .navbar-form {
            padding: 0px;
            .form-control.search-desktop {
                width: 349px;
                /*margin-left: -48px;*/
            }
            .form-group.search-homepage-desktop {
                margin: 4px 0px 4px 3px;
            }
        }
    }
    .rtl {
        #header-mobile {
            .navbar-form {
                .form-group.search-homepage-desktop {
                    margin: 4px 3px 4px 0px;
                }
            }
        }
    }
}

// ipad only
@media screen and (min-device-width : 1024px) and (max-width: 1200px) {

    .dropdown-align {
        margin-left:-33px;
    }

    #header-mobile {
        .navbar-form {
            .form-group.search-homepage-desktop {
                margin: 4px 0px 4px 62px;
            }
        }
    }
    .rtl {
        #header-mobile {
            .navbar-form {
                .form-group.search-homepage-desktop {
                    margin: 4px 62px 4px 0px;
                }
            }
        }
        .dropdown-align {
            margin-left:3px;
            margin-top: 49px;
        }
    }

    .homepage-desktop {
        .lessons-desktop {
            .lesson-desktop {
                width: 190px;
            }
            .stats-desktop {
                width: unset;
            }
        }
    }
    .sidebar-desktop {
        padding-bottom: 7px;
    }
    #profileloginbutton-desktop {
        .header-signup {
         a  {
             width: unset;
            }
        }
    }
}

.tooltip-width1 {
    width: 200px;
}





