#classInvite{
    .label{
        text-align:left;
        width:150px;
        color:$LERGO_MENU_GRAY_TITLE;
    }
    .input{
        max-width:50%;
    }
    .lergo-body-tile{
        padding:40px;
    }
}
