/* http://meyerweb.com/eric/tools/css/reset/
   v2.0b1 | 201101
   NOTE: WORK IN PROGRESS
   USE WITH CAUTION AND TEST WITH ABANDON */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
}
/*prevent overflow of mobile view*/
body, html { overflow-x:hidden; }


.lergo-tab-content {
   border-bottom: 1px solid #ddd;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
    direction: ltr;
    &.rtl {
        direction: rtl;
    }
    &.ltr{
        direction:ltr;
    }
}

body{
    /*min-width: 1100px;*/ // required for direction RTL.
    &.lergo-embed-mode{
        width:auto;
    }
}

/**
 *
 *   Guy - Things to test when changing this
      - mobile english/hebrew shows page correctly. (not header stretches well both sides)
      - go to /embedTest2.html (change the url there to something real) for hebrew and english. see no scroll bars and quizes display correctly.
      - sound in ipad works correctly for hebrew mode.

 *
**/
@media screen and (max-width:1099px) {

    body{
        &.lergo-embed-mode{
            min-width:0;
        }

    }
}



.ltr{
    direction:ltr;
}

.rtl{
    direction:rtl;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

/* remember to define visible focus styles!
:focus {
	outline: ?????;
} */

/* remember to highlight inserts somehow! */
ins {
    text-decoration: none;
}

del {
    text-decoration: line-through;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    position: relative;
}

*, body, html {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
}

.centered-content {
   /* width: 1000px;*/
    margin-left: auto;
    margin-right:auto;
}

body, body * {
    font-family: Ubuntu, sans-serif;
}

body {
    background: $LERGO_BODY_BACKGROUND;
    color: $LERGO_BODY_COLOR;
}

[class^="icon-"], [class*=" icon-"] {
    background-image: none;
    margin: 0;
}

ul.lergo-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
        float: left;
        color: $LERGO_MENU_TEXT_COLOR;
        font-size: 17px;
        &.active {
            color: $LERGO_MENU_TEXT_COLOR_ACTIVE;
            font-weight: bold;
        }
        text-transform: uppercase;
        &:not(:first-child) {
            margin-left: 20px;
            &:before {
                display: inline-block;
                content: "|";
                padding-right: 20px;
            }
        }
    }
}

body div.container {
    /*width: 100%;*/
}

button.action-item {
    background: $LERGO_ACTION_BACKGROUND;
    padding: 8px;
    border: none;
    border-radius: 10px;
    text-transform: uppercase;
}

.lergo-toggle-switch {
    .active {
        border: 2px solid red;
    }
}

.hr {
    height: 2px;
    background: #D2E8FA;
    &.dark {
        background: #DEDEDE;
    }
}

.top-padding {
    padding-top: 20px;
}

.bottom-padding {
    padding-bottom: 50px;
}

.bottom-padding25 {
    padding-bottom: 25px;
}

.padding-leftRight15 {
    padding: 0 15px;
}

.padding-leftRight2 {
    padding: 0 2px;
}

.status {
    height: 100px;
}

.lergo-h0 {
    font-size: 28px;
    white-space: nowrap;
    text-align: justify;
    color: $LERGO_H1_COLOR;
    text-transform: uppercase;
    font-weight: bold;

    &.no-case{
        text-transform: none;
    }
}

.lergo-h1-orig {
    font-size: 28px;
    white-space: nowrap;
    text-align: justify;
    color: $LERGO_H1_COLOR;
    text-transform: uppercase;
    font-weight: bold;

    &.no-case{
        text-transform: none;
    }
}

.lergo-h1 {
    font-size: 22px;
    white-space: nowrap;
    text-align: justify;
    color: $LERGO_H1_COLOR;
    text-transform: uppercase;
    font-weight: bold;

    &.no-case{
        text-transform: none;
    }
}

.lergo-h2 {
    color: $LERGO_H2_COLOR;
    font-size: 20px;
    text-transform: capitalize;
}

.lergo-h3 {
    color: $LERGO_H3_COLOR;
    font-size: 17px;
    text-transform: uppercase;
}

.lergo-h4 {
    color: $LERGO_H2_COLOR;
    font-size: 20px;
    color: black;
    font-weight: bold;
}

.lergo-icon {
    color: $LERGO_ICON_COLOR;
}

//ipad only
@media (min-width: 1024px ) and (max-width: 1200px) {
    .lergo-h1-orig {
        font-size: 24px;
    }
}

// scale all fonts smaller for mobile
@media screen and (max-width:1199px) {

    .lergo-h0 {
        font-size: 22px;
    }

    .lergo-h1-orig {
        font-size: 19px;
        white-space: normal;
    }

    .lergo-h1 {
        font-size: 19px;
        white-space: normal;
    }

    .lergo-h2 {
        font-size: 17px;
    }

    .lergo-h3 {
        font-size: 13px;
    }

    .lergo-h4 {
        font-size: 17px;
    }
    .rtl {
        .lergo-h0 {
            font-size: 24px !important;
        }
    }

}

/** a toggle widget that uses pressed/unpressed look and feel for active **/
.buttons-selector {
    $BORDER_RADIUS: 10px;
    padding: 10px;
    background: $LERGO_INPUT_BACKGROUND;
    display: inline-block;
    .buttons-selector-item {
        outline: none;
        color: $LERGO_BACKGROUND;
        padding: 5px 10px;
        margin: 0;
        border: none;
        min-width: 50px;
        text-transform: uppercase;
        border: none;
        background-color: white;
        &.active {
            color: white;
            background-color: $LERGO_BACKGROUND;
        }
        &:first-child {
            border-top-left-radius: $BORDER_RADIUS;
            border-bottom-left-radius: $BORDER_RADIUS;
        }
        &:last-child {
            border-top-right-radius: $BORDER_RADIUS;
            border-bottom-right-radius: $BORDER_RADIUS;
        }
    }
}

/** a toggle widget that marks active by border **/
.border-selector {
    padding: 20px;
    background-color: $LERGO_INPUT_BACKGROUND;
    display: inline-block;
    .border-selector-item {
        position: relative;
        border: 5px solid transparent;
        &.active {
            &:after {
                content: "";
                display: inline-block;
                border: 10px solid $LERGO_BACKGROUND;
                border-radius: 10px;
                background-color: transparent;
                height: 57px;
                width: 60px;
                position: absolute;
                z-index: 20;
                left: -10px;
                top: -27px;
            }
        }
    }
}

.left {
    float: left;
}

.right {
    float: right;
}

.clearfix {
    &, &:before, &:after {
        clear: both;
    }
}

.wide {
    width: 100%;
}

.dialog-container {
    position: relative;
    margin: 100px auto 0 auto;
    z-index: 1000;
    background: white;
    padding: 30px;
    border-radius: 4px;
    background: $LERGO_BODY_BACKGROUND;
}

.modal-cover {
    position: fixed;
    z-index: 2;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
}

.logo {
    &.transparent {
        width: 251px;
        height: 146px;
        display: inline-block;
        background: url("../images/logos/transparent.png");
    }
}

.logo-beta {
    &.transparent {
        width: 200px;
        height: 116px;
        display: inline-block;
        background: url("../images/logos/transparent-beta.png");
    }
}

.btn {
}

.clickable {
    cursor: pointer;
}

.loader-tall {
    width: 58px;
    height: 20px;
    display: inline-block;
    background: url("../images/loaders/loader1.gif") no-repeat;
}

.loader-short {
    width: 29px;
    height: 10px;
    display: inline-block;
    background: url("../images/loaders/loader2.gif") no-repeat;
}

$COLOR_14: royalblue !default;
$COLOR_15: #61A04F !default;
$COLOR_16: rosybrown !default;
$COLOR_17: #ee9a00 !default;
$COLOR_18: firebrick !default;
$COLOR_19: #2a6496 !default;

.bg-info {
    padding: 10px;
    text-align: center;
    background-color: $COLOR_16;
    color: white;
}

.bg-primary {
    padding: 10px;
    text-align: center;
    background-color: $COLOR_14;
    color: white;
}

.bg-success {
    padding: 10px;
    text-align: center;
    background-color: $COLOR_15;
    color: white;
}

.bg-warning {
    padding: 10px;
    text-align: center;
    background-color: $COLOR_17;
    color: white;
}

.bg-danger {
    padding: 10px;
    text-align: center;
    background-color: $COLOR_18;
    color: white;
}

.active-button {
    border: 3px solid $COLOR_14;
}

.lergo-table {
    width: 100%;
    position: relative;
    // Cells
    > thead,
    > tbody,
    > tfoot {
        > tr {
            > th,
            > td {
                padding: $table-cell-padding;
                line-height: $line-height-base;
                vertical-align: middle;
                border-top: none;
            }
        }
    }
    // Bottom align for column headings
    > thead > tr > th {
        vertical-align: bottom;
        border-bottom: 2px solid $table-border-color;
    }
    > thead > tr {
        vertical-align: bottom;
        border-bottom: 2px solid $table-border-color;
        font-weight: bold;
    }
    // Remove top border from thead by default
    > caption + thead,
    > colgroup + thead,
    > thead:first-child {
        > tr:first-child {
            > th,
            > td {
                border-top: 0;
            }
        }
    }
    // Account for multiple tbody instances
    > tbody + tbody {
        border-top: 2px solid $table-border-color;
    }
    // Nesting
    .table {
        background-color: $body-bg;
    }
}

.age-limit-4 {
    background-color: $AGE_LIMIT_4;
}

.age-limit-5 {
    background-color: $AGE_LIMIT_5;
}

.age-limit-6 {
    background-color: $AGE_LIMIT_6;
}

.age-limit-7 {
    background-color: $AGE_LIMIT_7;
}

.age-limit-8 {
    background-color: $AGE_LIMIT_8;
}

.age-limit-9 {
    background-color: $AGE_LIMIT_9;
}

.age-limit-10 {
    background-color: $AGE_LIMIT_10;
}

.age-limit-11 {
    background-color: $AGE_LIMIT_11;
}

.age-limit-12 {
    background-color: $AGE_LIMIT_12;
}

.age-limit-13 {
    background-color: $AGE_LIMIT_13;
}

.age-limit-14 {
    background-color: $AGE_LIMIT_14;
}

.age-limit-15 {
    background-color: $AGE_LIMIT_15;
}

.age-limit-16 {
    background-color: $AGE_LIMIT_16;
}

.age-limit-17 {
    background-color: $AGE_LIMIT_17;
}

.age-limit-18 {
    background-color: $AGE_LIMIT_18;
}

.age-limit-18 + {
    background-color: $AGE_LIMIT_18_PLUS;
}

.kitchen-sink {
    .active {
        border: 0;
    }
}

.popover {
    .popover-title {
        font-weight: bold;
    }
    .popover-content {
        line-height: 1.2;
        width: 250px;
        font-size: 15px;
        color: #949494;
        a {
            margin-left: 0;
            font-size: 15px;
        }
    }
}

.rtl {
    .popover {
        text-align: right;
    }
}

.checkbox-dropdown {
    width: 65px;
    padding-left: 0;
    padding-right: 0;
    .btn-group {
        background: #efefef;
        padding: 0 5px;
        border-radius: 5px;
    }
    .caret {
        vertical-align: super;
    }
}

.expander {
    .btn-link {
        text-decoration: none;
    }
    font-size: 15px;
}

.tag-section-wrapper {
    .lergo-tag-item {
        padding: 10px;
        border-radius: 7px;
        background: $COLOR_1;
        color: white;
        margin-top: 12px;
        margin-left: 3px;
        display: inline-block;
        white-space: nowrap;
        .lergo-tag-item-remove {
            padding: 0 0 0 5px;
            margin-left: 5px;
            margin-right: 0;
            border-right: none;
            border-left: 1px solid white;
            cursor: pointer;
            &:after {
                background: yellow;
            }
        }
    }
    input {
        display: inline-block;
        width: 100%;
        max-width: 500px;
        font-size: 0.9em;
    }
}

.rtl {
    .tag-section-wrapper {
        .lergo-tag-item {
            .lergo-tag-item-remove {
                padding: 0 5px 0 0;
                margin-left: 0;
                margin-right: 5px;
                border-right: 1px solid white;
                border-left: none;
            }
        }
    }
}

.lergo-progress-bar {
    border: 1px solid royalblue;
    border-radius: 4px;
    margin: 5px;
    .lergo-progress-bar-inner {
        background-color: #428bca;
        color: white;
        text-align: center;
        font-size: 12px;
        line-height: 20px;
    }
}

.pop-up-hint {
    padding: 8px;
    vertical-align: middle;
    span {
        position: relative;
        padding-left: 2px;
        padding-bottom: 10px;
        .popover-content {
            width: 260px;
        }
        button {
            background-color: transparent;
            border: 0;
            color: #2a6496;
            vertical-align: super;
        }
        input {
            vertical-align: middle;
            display: inline;
            margin-left: 10px;
        }
    }
}

.bold {
    font-weight: bold;
}

.disabled {
    color: #cecece;
}

.errorMessage {
    font-size: 15px;
    color: red;
}

.loading {
    width: 160px;
    margin: auto;
    margin-top: 200px;
    font-size: 60px;
    text-align: center;
}

.font-lg {
    font-size: 28px;
    white-space: nowrap;
    text-align: justify;
    font-weight: bold;
}

.font-medium{
    font-size: medium;
}
.modal-footer{
    text-align: left;
}

.rtl {
    .text-right {
        text-align: left;
    }
    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6,
    .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
        float: right;
    }
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6,
    .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
        float: right;
    }

    .modal-footer{
        text-align: right;
    }
    .lergo-h0 {
        font-size: 34px;
    }
}

.clickable, a, a i, a i.fa,  a i.fa:before{
    cursor:pointer;
}


.lergo-body-tile{
    max-width: 600px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    background-color: $LERGO_BODY_TILE_BACKGROUND;
    padding-top: 1px;
    margin-top: 30px;
}

.bot5 {
    margin-bottom: 5px;
}


.bot10 {
    margin-bottom: 10px;
}
.bot24 {
    margin-bottom: 24px;
}

.top5 {
    margin-top: 5px;
}

.top7 {
    margin-top: 7px;
}

.top10 {
    margin-top: 10px;
}
.top15 {
    margin-top: 15px;
}

.top17 {
    margin-top: 17px;
}

.top20 {
    margin-top: 20px;
}

.top30 {
    margin-top: 30px;
}

.top90 {
    margin-top: 90px;
}
.sideBot5nd {
    margin-left: -5px;
    margin-right: -5px;
    margin-bottom: -5px;

}
.side10 {
    margin-left: 10px;
    margin-right: 10px;

}

.side15n {
    margin-left: -15px;
    margin-right: -15px;

}
.height25 {
    height: 25px;
}
.height10 {
    height: 10px;
}
.margin-botN45 {
    margin-bottom: -45px;
}

.pad-topBot5 {
    padding-top: 5px;
    padding-bottom: 5px;
}

.pad-topBot7 {
    padding-top: 7px;
    padding-bottom: 7px;
}

.pad-topBot20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.pad-top20 {
    padding-top: 20px;
}

.pad-leftRight8 {
    padding-left: 8px;
    padding-right: 8px;
}
.padding-1 {
    padding-top: 16px;
    padding-bottom: 16px;
}


.row-nested{
    margin-left: 0px;
    margin-right: 0px;
}
.row-nested15{
    margin-left: 15px;
    margin-right: 15px;
}
.row-nested30{
    margin-left: 30px;
    margin-right:30px;
}

.img-small {
    max-width: 300px;
}

.nounderline{
    a{
        text-decoration: none;
    }
    a:hover{
        text-decoration: none;
    }
}

.textAlignCenter {
    text-align: center;
}

// settings this as default behavior as I assume that all text for copy-paste is in english and usually links or embed snippet
[select-all-text-on-click]{
    text-align:start;
    direction:ltr;
}



label {
    font-weight: 500;
}

/*used to remove ends of lines*/
.white-box {
    height: 53px;
    margin-left: -203px;
    width: 212px;
    float: left;
    margin-top: -54px;
    background-color: white;
}

@media screen and (max-width:1024px) {
    .lergo-body-tile {
        max-width: unset;
        width: unset;
    }
    .m-bot0 {
        margin-bottom: 0px;
        margin-top: 0px;
    }
    .mobile-leftRight12 {
        padding-left: 12px;
        padding-right: 12px;
    }
    .mobile-leftRight15 {
        padding-left: 15px;
        padding-right: 15px;
    }
    .mobile-leftRight20 {
        padding-left: 15px;
        padding-right: 15px;
    }
    #content > div:first-child {
        margin-top: 5px;
    }
    .lergo-body-tile{
        margin-top: 0px;
    }
    .mobile-topbot10 {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .mfont-size13 {
        font-size: 13px;
    }
    .mpadding2 {
        padding: 2px;
    }
    .mpad-topBot2 {
        padding-top: 2px;
        padding-bottom: 2px;
    }
    .mpad-topBot4 {
        padding-top: 4px;
        padding-bottom: 4px;
    }
    .mpad-leftRight8 {
        padding-left: 8px;
        padding-right: 8px;
    }

    .mpad-leftRight16 {
        padding-left: 16px;
        padding-right: 16px;
    }
    .mpad-bot5 {
        padding-bottom: 5px;
    }
    .mpad-top10 {
        padding-top: 10px;
    }
    .m-right {
        float: right;
    }
    .d-m-left {
        float: right;
    }
    .mpadrtl10 {
        padding-left: 10px;
        padding-right: 0px;
    }
    .rtl {
        .mpadrtl10 {
            padding-left: 0px;
            padding-right: 10px;
        }
        .m-right {
            float: left;
        }
        .d-m-left {
            float: left;
        }
        .dropdown-menu {
            float: right;
            position: inherit;
        }
    }
}





 /*Desktop and iPad only*/
@media  screen and (min-width : 1024px) {

    .d-top30 {
        margin-top: 30px;
    }
    .d-pad20 {
        padding-top: 20px;
    }
    .d-leftRight15 {
        padding-left: 15px;
        padding-right: 15px;
    }
    .d-leftRight80 {
        padding-left: 80px;
        padding-right: 80px;

    }
    .d-underline1 {
        border-bottom: 1px solid #d2e8fa;
    }

    .rtlFloatLeft {
        float: right;
    }
    .rtl {
        .rtlFloatLeft {
            float: left;
        }
    }
    .d-padl {
        padding-left: 6px;
        padding-right: 0px;
    }
    .rtl {
        .d-padl {
            padding-left: 0px;
            padding-right: 6px
        }
    }
    .d-padBot15 {
        padding-bottom: 15px;
    }
    .d-padBot10 {
        padding-bottom: 10px;
    }
    .d-m-left {
        float: unset;
    }
    .d-padr15 {
        padding-right: 15px
    }
    .rtl {
        .d-m-left {
            float: right;
        }
        .d-padr15 {
            padding-right: 0px
        }
    }
}

@media  screen and (min-width : 1200px) {
    .d-margin-rtl {
        margin-left: 70px;
    }
    .rtl {
        .d-margin-rtl {
            margin-right: 70px;
        }
    }
}


all-rtl-float-right {
    float: right;
    .rtl {
        all-rtl-float-right {
            float: left;
        }
    }
}


