/* http://meyerweb.com/eric/tools/css/reset/
   v2.0b1 | 201101
   NOTE: WORK IN PROGRESS
   USE WITH CAUTION AND TEST WITH ABANDON */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
  direction:ltr;
  &.rtl { direction:rtl; }

}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* remember to define visible focus styles!
:focus {
	outline: ?????;
} */

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, body, html {
  padding: 0;
  margin: 0;

}

html, body {
  height: 100%;
}

.centered-content {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

body, body * {
  font-family: Ubuntu, sans-serif;
}

body {
  background: $LERGO_BODY_BACKGROUND;
  color: $LERGO_BODY_COLOR;
}

[class^="icon-"], [class*=" icon-"] {
  background-image: none;
  margin: 0;
}

ul.lergo-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    float: left;
    color: $LERGO_MENU_TEXT_COLOR;
    font-size: 17px;
    &.active {
      color: $LERGO_MENU_TEXT_COLOR_ACTIVE;
      font-weight: bold;
    }
    text-transform: uppercase;
    &:not(:first-child) {
      margin-left: 20px;
      &:before {
        display: inline-block;
        content: "|";
        padding-right: 20px;
      }
    }

  }

}


body div.container {
  width: 100%;
}

button.action-item {
  background: $LERGO_ACTION_BACKGROUND;
  padding: 8px;
  border: none;
  border-radius: 10px;
  text-transform: uppercase;
}

.lergo-toggle-switch {
  .active {
    border: 2px solid red;
  }
}

.hr {
  height: 2px;
  background: #D2E8FA;
  &.dark{
    background:#DEDEDE;
  }
}

.lergo-form {
  textarea {
    width: $LERGO_POST_MAIN_CONTENT_WIDTH;
    padding: 0;
    background: $LERGO_INPUT_BACKGROUND;
    height: $LERGO_FORM_TEXTAREA_HEIGHT;
    @include input-block-level();
  }

  input {
    background: $LERGO_INPUT_BACKGROUND;
    border:1px solid $LERGO_INPUT_BORDER_COLOR;
    padding:5px;
    border-radius:5px;
    @include input-block-level();

    &[type=checkbox]{
      width:30px
    }

  }

  select {
    background: $LERGO_INPUT_BACKGROUND;
  }

  .section {
    margin-bottom:20px;
    &.horizontal{
      margin-top:10px;
      .label{
        width:200px;
      }
     .input{
       display:inline-block;
     }
    }
    .label {
      color: $LERGO_H3_COLOR;
      font-size: 17px;
      background: none;
      text-shadow: none;
      text-transform: uppercase;
    }
  }

  .actions {
    text-align: center;
    button {

      background: $LERGO_BACKGROUND;
      color: white;
      padding: 10px;
      font-weight: bold;
      text-transform: uppercase;
      border: none;
      border-radius: 10px;
    }
  }

}

.lergo-h1{
  font-size: 22px;
  white-space: nowrap;
  text-align: justify;
  color: $LERGO_H1_COLOR;
  text-transform: uppercase;
  font-weight: bold;
}

.lergo-h2 {
  color: $LERGO_H2_COLOR;
  font-size: 20px;
  text-transform: capitalize;
}

.lergo-h3 {
  color: $LERGO_H3_COLOR;
  font-size: 17px;
  text-transform: uppercase;
}

.lergo-icon {
  color: $LERGO_ICON_COLOR;
}

/** a toggle widget that uses pressed/unpressed look and feel for active **/
.buttons-selector {
  $BORDER_RADIUS: 10px;
  padding: 10px;
  background: $LERGO_INPUT_BACKGROUND;
  display: inline-block;
  .buttons-selector-item {
    outline:none;
    color: $LERGO_BACKGROUND;
    padding:5px 10px;
    margin:0;
    border:none;
    min-width:50px;
    text-transform: uppercase;
    border:none;
    background-color: white;
    &.active {
      color: white;
      background-color: $LERGO_BACKGROUND;
    }
    &:first-child {
      border-top-left-radius: $BORDER_RADIUS;
      border-bottom-left-radius: $BORDER_RADIUS;
    }

    &:last-child {
      border-top-right-radius: $BORDER_RADIUS;
      border-bottom-right-radius: $BORDER_RADIUS;
    }
  }
}

/** a toggle widget that marks active by border **/
.border-selector {
  padding:20px;
  background-color:$LERGO_INPUT_BACKGROUND;
  display:inline-block;
    .border-selector-item{
      position:relative;

      border:5px solid transparent;
      &.active{
        &:after{
          content:"";
          display:inline-block;
          border:10px solid $LERGO_BACKGROUND;
          border-radius: 10px;
          background-color:transparent;
          height:57px;
          width:60px;
          position:absolute;
          z-index:20;
          left:-10px;
          top:-27px;
        }
      }
    }
}

.left{
  float:left;
}

.right{
  float:right;
}

.clearfix{
  &,&:before,&:after{
    clear:both;
  }
}

.wide{
  width:100%;
}



.dialog-container{
  position: relative;
  margin:100px auto 0 auto;
  z-index:1000;
  background:white;
  padding:30px;
  border-radius:4px;
  background:$LERGO_BODY_BACKGROUND;
}

.modal-cover{
  position:fixed;
  z-index:2;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background:rgba(0,0,0,0.5);
}



.logo{
  &.transparent{
    width:251px;
    height:146px;
    display:inline-block;
    background:url('../images/logos/transparent.png')
  }
}



.btn{

}

$COLOR_14: #4169E1 !default;
$COLOR_15: #3CB371 !default;
$COLOR_16: #BC8F8F !default;
$COLOR_17: #EE9A00 !default;
$COLOR_18: #B22222 !default;
$COLOR_19: #2a6496 !default;

.bg-info {
  padding:10px;
  text-align:center;
  background-color: $COLOR_16;
  color:white;
}

.bg-primary{
  padding:10px;
  text-align:center;
  background-color:$COLOR_14;
  color:white;
}
.bg-success {
  padding:10px;
  text-align:center;
  background-color: $COLOR_15;
  color:white;
}

.bg-warning {
  padding:10px;
  text-align:center;
  background-color: $COLOR_17;
  color:white;
}

.bg-danger {
  padding:10px;
  text-align:center;
  background-color: $COLOR_18;
  color:white;

}

.active{
  border:3px solid $COLOR_14;
}