
#createLessonPageMobile {
    .createLesson-form {
        display: table;
        padding-top: 10px;
        width: 100%;
        .lergo-label {
            padding-top: 10px;
        }
        .error {
            display: table-row;
            font-size: 15px;
            color: red;
        }
        .name {
            display: table-row;
        }
        .description {
            display: table-row;
        }
        .stats {
            margin-top: 20px;
            .form-control {
                display: inline;
                margin: 10px 0;
            }
            .language {
                padding: 0 10px 0 10px;
            }
            .subject {
                padding: 0 15px;
            }
            .age {
                input, label {
                    display: block;
                }
            }
            .tag {
                margin: 10px -15px;
                color: inherit;
                padding: 10px 10px;

                .tag-section-wrapper {
                    .tags-section {
                        input {
                            max-width: 30%;
                        }

                    }
                }

            }
            .hr-width {
                margin-left: -14px;
                margin-right: -14px;
            }
            .advanced-options {
                margin-left: -15px;
                .row {
                    margin-left: 0px;
                    padding: 10px 0;
                }
            }
            .lesson-actions {
                margin-left: -30px;

            }
            .button-align {
                text-align: center;
                padding-right: 100px;

            }
            .retry-question {
                float: right;
            }
            .move-quiz {
                padding-right: 60px;
                float: right;
            }
            .video-url, .slides-url {
                margin-left: 15px;
            }
            .shuffle-questions {
                text-align: center;
            }
        }
    }
    select:nth-child(1) {
        margin-bottom: -8px;
    }

    .create-lesson-sidebar {
        padding: 12px 25px;
    }

    .step-actions{
        padding: 10px 0;
        text-align:center;
    }
}

.rtl {
    #createLessonPageMobile{
        .createLesson-form {

            }
            .stats {
                .lesson-actions {
                    margin-right: -30px;
                }
                .advanced-options {
                    margin-right: -15px;
                    .row {
                        margin-right: 0px;
                    }
                }

                .open-update {
                    padding-left: 30px;
                }

                .video-url, .slides-url {
                    margin-right: 15px;
                }
                .button-align {
                    padding-left: 100px;

                }
            }
    }

}

@media screen and (max-width: 1023px ){
    #createLessonPageMobile {
        .createLesson-form {
            .stats {
                .move-quiz {
                    padding-right: 0px;
                }
                .tag {
                    .tag-section-wrapper {
                        .tags-section {
                            input {
                                max-width: 80%;
                            }
                        }
                    }
                }
            }
        }

    }

}


