[filter-is-active]{
    margin-top:-15px;
    text-align:center;

    .alert {
        width: auto;
        display: inline-block;
        white-space: nowrap;
        &, .btn-link, .close { opacity:1; color:white;  }
        &.alert-success{
            background-color: #3CB371;
        }

        [ng-transclude]{
            padding:0 20px;
        }

        .close{
            margin-top:-15px;
            margin-right:-10px;
        }
    }
    [lergo-reset-filter]{
        cursor:pointer;
        font-weight: bold;
        text-decoration: underline;
    }
}

.mobile-filter-button-l{
    font-size: 0.8em;
    margin-left: 20px;
    float: left;
}

.mobile-filter-button-r{
    font-size: 0.8em;
    float: right;
    z-index: 1;
}

.filter-box {
    margin-top: 1em;
    color: #c5c5c5;
    .filter-label {
        color: #c5c5c5;
        padding-bottom: .5em;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 20px;
    }
}

.cancel-search-mobile-user { // testing this
    position:relative;
    right: 57px;
    top: -11px;
    color: darkgrey;
    font-size: 14px;
    cursor: pointer;
    font-weight: bold;
    z-index:2;
}

.rtl {
    .cancel-search-mobile-user { // testing this
         right: 57px;
         top: -12px;
    }
    .mobile-filter-button-l{
        float: right;
    }
    .mobile-filter-button-r{
        float: left;
        margin-left: 15px;
    }
}

.cancel-search-user {
    position:relative;
    right: 57px;
    top: -11px;
    color: darkgrey;
    font-size: 14px;
    cursor: pointer;
    font-weight: bold;
    z-index:2;
}

.rtl {

    .cancel-search-user {
        right: -57px;
        top: -11px;
    }

}


.filter-buttons {
    max-width: 155px;
    background: $LERGO_INPUT_BACKGROUND;
}

.filter-buttons-double {
    max-width: 60px;
    background: $LERGO_INPUT_BACKGROUND;
}
a.input-group-addon.show-more-filters-desktop {
    background-color: transparent;
    border: transparent;
    top: 13px;
    position: relative;
}

label.filter-label {
    color: #D8D8D8;
    padding-bottom: .5em;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
}
i.fa.fa-ellipsis-h.fa-2x{
    position: relative;
    left: 170px;
    top: -18px;
    color: #D8D8D8;
}
.input-group-addon:not(:first-child):not(:last-child) {
   /* background-color: #fafafa;*/
    /*border-color:  #fafafa;*/
}

.rtl {
    i.fa.fa-ellipsis-h.fa-2x{
    position: relative;
    left: -170px;
    top: -18px;
    color: #D8D8D8;
    }
}

