.go-to-my-lessons-demo-dialog{
    .intro {
        text-align:center;
        padding:50px;
        width:650px;
        margin:0 auto;
        line-height:30px;
    }
    .graphics{
        text-align:center;
        padding:10px 0 80px 0 ;
    }
}
