#HelperContent {
    width: 340px;
    .helperContent {
        border-radius: 3px;
        .video {
            background: #efefef;
            padding:5px;
            .title {
                font-size: 20px;
                text-align: center;
                color: #7c7c7c;
                font-weight: bold;
                padding-bottom: 5px;
            }
        }
        .textContent {
            background: #efefef;
            border: 2px solid #7c7c7c;
            border-radius: 5px;
            padding: 5px;
            .tips {
                font-size: 20px;
                color: #7c7c7c;
                font-weight: bold;
                margin-bottom: 5px;
            }
            .important {
                font-size: 20px;
                color: #7c7c7c;
                font-weight: bold;
                margin-bottom: 5px;
            }
        }
    }
    .admin {
        border: 2px solid  #7c7c7c;
        padding: 5px;
        border-radius: 5px;
        .remove {
            float: right;
        }
    }
}

.rtl {
    #HelperContent {
        margin-right: -115px;
        .admin {
            .remove {
                float: left;
            }
        }
    }
}
