

.weight10{font-size:10px;}
.weight11{font-size:11px;}
.weight12{font-size:12px;}
.weight13{font-size:13px;}
.weight14{font-size:14px;}
.weight15{font-size:15px;}
.weight16{font-size:16px;}
.weight17{font-size:17px;}
.weight18{font-size:18px;}
.weight19{font-size:19px;}
.weight20{font-size:20px;}
.weight21{font-size:21px;}
.weight22{font-size:22px;}
.weight23{font-size:23px;}
.weight24{font-size:24px;}
.weight25{font-size:25px;}
.weight26{font-size:26px;}
.weight27{font-size:27px;}
.weight28{font-size:28px;}
.weight29{font-size:29px;}
.weight30{font-size:30px;}


.homepage{
  hr {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: $LERGO_HR_COLOR;
    border-color: $LERGO_HR_COLOR;
    border-top: 1px solid $LERGO_HR_COLOR;
  }

  .sidebar {
    width: 225px;
    float: right;
    margin-top: 0;

  }
  .article-header {
    margin-top: 5px;

    font-weight: bold;
    color: #D8D8D8;
    min-height: 100px;
    text-align: right;

    td {
      margin: 0;
      padding: 0;
    }
    .stats-lessons {
      width: 1px;
    }

    .stats-questions {
      width: 114px;
    }

    .amount {
      font-size: 34px;
    }
    .type {
      font-size: 14px;
      text-transform: uppercase;
      margin-top: -10px;
    }
    .and-counting {
      margin-left: 73px;
      font-size: 34px;
      text-transform: uppercase;
      text-align: left;
    }
  }
  .age-limit {
    width: 90px;
    z-index: 10;
    position: relative;
    margin-top: 10px;
    margin-left: 10px;
    background-color: #6B9BEA;
    padding: 10px;
    border-radius: 10px;
    color: white;
    overflow-x: hidden;
    white-space: nowrap;
    .value {
      display: inline-block;
      font-size: 20px;
    }
    .units {
      white-space: normal;
      width: 35px;
      text-align: center;
      display: inline-block;
      line-height: 15px;
    }
	&.age-limit-4   { background-color:#FFB9E4 }
	&.age-limit-4   { background-color:#D68ED7 }
	&.age-limit-5   { background-color:#C67BD4 }
	&.age-limit-6   { background-color:#9E6CC9 }
	&.age-limit-7   { background-color:#7D6BB1 }
	&.age-limit-8   { background-color:#736EE2 }
	&.age-limit-9   { background-color:#6B9BEA }
	&.age-limit-10  { background-color:#8CE4FA }
	&.age-limit-11  { background-color:#58DBD9 }
	&.age-limit-12  { background-color:#51D5A5 }
	&.age-limit-13  { background-color:#86DE83 }
	&.age-limit-14  { background-color:#B3F0A8 }
	&.age-limit-15  { background-color:#D3EA84 }
	&.age-limit-16  { background-color:#FFEA3C }
	&.age-limit-17  { background-color:#FED782 }
	&.age-limit-18  { background-color:#FF9B64 }
	&.age-limit-18+  { background-color:#FF8181 }
  }
  .lessons {
    .image {
      position: relative;
      margin: -35px auto 0 auto;
      text-align: center;
      z-index: 0;
      &, img {
        height: 120px;
        width: 180px;
      }
      i {
        font-size: 120px;
      }
    }
    .title {
      color: #585858;
      padding: 5px 10px 5px 10px;
      font-size: 15px;
      white-space: normal;
      font-weight: bold;
      width: 200px;
      line-height: 15px;
      margin: 0 auto;
      min-height: 40px;
      a {
        color: #585858;
        &:hover {
          color: blue;
        }
      }
    }
    .stats {
      width: 200px;
      margin: 0 auto;
      padding: 5px 10px;
      font-size: 14px;
      color: #585858;
      display: block;
    }
    .lesson {
      position: relative;
      height: 256px;
      width: 233px;
      float: left;
      border-radius: 10px;
      background-color: #EFEFEF;
      &:hover {
        background-color: white;
      }

      margin-top:10px;
      &:nth-child(n+4) {
        margin-top: 37px;
      }

      &:nth-child(3n+2) {
        margin-left: 15px;
        margin-right: 15px;

      }
    }
    .stats-table {
      width: 100%;
      td {
        span i {
          text-align:left;
          width:13px;
        }
        padding-bottom: 5px;
      }
    }
  }
}



.admin{
  table{
    tr, td{
      padding:10px;
    }
  }
}
