#lessonsIndex{
  table {
      thead:first-child > tr:first-child > td:first-child {
          width: 520px;
          white-space: normal;
      }
  }
    .filter-lessons {
        padding-top: 20px;
        border-bottom: 1px solid #d2e8fa;
        padding-bottom: 17px;
    }
    .my-lessons {
        padding-top: 16px;
        padding-bottom: 16px;
    }
    .create {
        button {
            margin-top: 8px;
            margin-bottom:17px;
        }
    }
}
@media screen and (min-width: 1024px) {
    #lessonsIndex {
        .my-lessons {
            border-bottom: 1px solid #d2e8fa;
            margin-bottom: 18px;
        }
        .create {
           /* border-bottom: 1px solid #d2e8fa;*/
            float: right;
        }
        .col-border-bottom {
            border-bottom: 1px solid #d2e8fa;
        }
    }
    .rtl {
        #lessonsIndex {
            .create {
                float: left;
            }
        }
    }
}

@media screen and (max-width: 1023px) {
    #lessonsIndex {
        .create {
            padding: 0 15px;
        }
        .name {
            white-space: normal;
        }
    }

}

@media  screen and (max-width : 1023px) {
    .padding-1 {
        padding-bottom: 22px;
    }
    #content > div:first-child {
        margin-top: 5px;
    }
}

#inviteIndex {
    .filter-invites {
        padding-top: 20px;
        border-bottom: 1px solid #d2e8fa;
        padding-bottom: 17px;
    }
    .my-invites {
        padding-top: 19px;
        padding-bottom: 16px;
    }
}

@media screen and (min-width: 1024px) {
    #inviteIndex {
        .my-invites {
            border-bottom: 1px solid #d2e8fa;
        }
        .table-margin {
            margin-top: 26px;
        }
    }
}

@media screen and (max-width: 1023px) {
    #inviteIndex {
        .my-invites {
            border-bottom: 1px solid #d2e8fa;
            padding-left: 15px;
            padding-right: 15px;
        }
        .name {
            white-space: normal;
        }
        table {
            thead:first-child > tr:first-child > td:nth-child(5) {
                white-space: normal;
            }
        }
    }
}


