.lesson-step {
    .lesson-step-title {
        text-align: center;
        padding-bottom: 20px;
    }
}

.lesson-step-video {
    text-align: center;
    .lesson-step-video-content {
        display: inline-block;
    }
}

.lesson-step-quiz {
    .lesson-step-quiz-next {
        text-align: center;
    }
    .lergo-progress-bar {}
    .question-true-false {
        .true-false-options {
            .true-false-option {
                padding: 15px;
                margin-left: 5px;
            }
            text-align: center;
        }
    }
    margin-top: 20px;
    .lergo-h2 {
        text-align: center;
        padding: 10px 0;
    }
    .lesson-step-quiz-content {
        width: 570px;
        border: 5px solid #949494;
        border-radius: 10px;
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
    }
}

.lesson-step-quiz-mobile {
    .lesson-step-quiz-next {
        text-align: center;
    }
    .lergo-progress-bar {}
    .question-true-false {
        .true-false-options {
            .true-false-option {
                padding: 15px;
                margin-left: 5px;
            }
            text-align: center;
        }
    }
    margin-top: 20px;
    .lergo-h2 {
        text-align: center;
        padding: 10px 0;
    }
    .lesson-step-quiz-content {
        /*width: 570px;*/
        border: 5px solid #949494;
        border-radius: 10px;
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
    }
}

#lessonDisplay {
    #content {
        padding-bottom: 100px;
    }
    .done-step {
        background-image: url("../images/certificate.png");
        margin: 0 auto;
        width: 800px;
        height: 550px;
        .congrats {
            font-size: 30px;
            text-align: center;
            font-family: cursive;
            font-weight: bold;
            padding-top: 75px;
        }
        .message {
            width: 600px;
            font-size: 25px;
            text-align: center;
            margin: 0 auto;
            line-height: 2;
            .lesson-title {
                font-weight: bold;
                color: #428bca;
            }
        }
        .report {
            width: 600px;
            margin: 0 auto;
            font-size: 20px;
            a {
              cursor:pointer; /* JIRA-576 - links should have cursor pointers. */
                &:hover {
                    text-decoration: none;
                }
            }
        }
        .stats {
            width: 600px;
            margin: 0 auto;
            .action-items {
                text-align: right;
            }
            .forms {
                background: #efefef;
                padding: 5px;
                border-radius: 10px;
            }
        }
    }

    .done-step-mobile {
        background-image: url("../images/certificate.png");
        margin: 0 auto;
        width: 800px;
        height: 550px;
        .congrats {
            font-size: 30px;
            text-align: center;
            font-family: cursive;
            font-weight: bold;
            padding-top: 75px;
        }
        .message {
            width: 600px;
            font-size: 25px;
            text-align: center;
            margin: 0 auto;
            line-height: 2;
            .lesson-title {
                font-weight: bold;
                color: #428bca;
            }
        }
        .report {
            width: 600px;
            margin: 0 auto;
            font-size: 20px;
            a {
                cursor:pointer; /* JIRA-576 - links should have cursor pointers. */
                &:hover {
                    text-decoration: none;
                }
            }
        }
        .stats {
            width: 600px;
            margin: 0 auto;
            .action-items {
                text-align: right;
            }
            .forms {
                background: #efefef;
                padding: 5px;
                border-radius: 10px;
            }
        }
    }
    .loading {
        width: 160px;
        margin: auto;
        margin-top: 200px;
        font-size: 60px;
        text-align: center;
    }
    .next-step {
        position: relative;
        margin: 0 auto;
    }
}

.video-tip {
    display: inline-block;
}


.lergo-embed-mode{
  #lessonDisplay{
    #content{
      width:600px;
    }
    .lesson-step-title{
      width:600px;
      max-width:600px;
      text-overflow: ellipsis;
      overflow-x:hidden;
      line-height:40px;
    }
    .done-step{
      width:600px;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url("../images/certificate_embed.png") ;

      .congrats{
        line-height:10px;
      }


      .message, .report, .stats{
        width:400px;

        .lesson-title{
          color: #428bca;
          font-size: 17px;
          text-overflow: ellipsis;
          overflow-x: hidden;
          white-space: nowrap;
          max-width: 380px;
          display: inline-block;
          width: 500px;
        }

        .created-by{
          display:block;
          line-height:10px;
          margin-top:-10px;
        }

      }

      .report{
        margin: 0 auto;
        table{
          margin-top:-40px;
        }
      }
    }
  }
}

.lergo-embed-mode-mobile{
    #lessonDisplay-mobile{
        #content-mobile{
            /*width:600px;*/
        }
        .lesson-step-title{
            /*width:600px;*/
            max-width:600px;
            text-overflow: ellipsis;
            overflow-x:hidden;
            line-height:40px;
        }
        .done-step{
           /* width:600px;*/
            background-repeat: no-repeat;
            background-position: center;
            background-image: url("../images/certificate_embed.png") ;

            .congrats{
                line-height:10px;
            }


            .message, .report, .stats{
               /* width:400px;*/

                .lesson-title{
                    color: #428bca;
                    font-size: 17px;
                    text-overflow: ellipsis;
                    overflow-x: hidden;
                    white-space: nowrap;
                    max-width: 380px;
                    display: inline-block;
                    /*width: 500px;*/
                }

                .created-by{
                    display:block;
                    line-height:10px;
                    margin-top:-10px;
                }

            }

            .report{
                margin: 0 auto;
                table{
                    margin-top:-40px;
                }
            }
        }
    }
}

#quizUpdate {
    .practise-button {
        padding-right: 0px;
    }
}

.rtl {
    #quizUpdate {
        .practise-button {
            padding-right: 15px;
        }
    }
}
