.lesson-step {
  .lesson-step-title {
    text-align:center;
    padding-bottom: 20px;
  }
}
.lesson-step-video{
  text-align:center;
  padding-top:20px;
  .lesson-step-video-content{
    display:inline-block;
  }
}
.lesson-step-quiz{
  .lesson-step-quiz-next{
    text-align:center;
  }
    .progressbar{
    border:1px solid royalblue;
    width: 450px;
	margin: 0 auto;
    }
 .question-true-false{
   .true-false-options{
     .true-false-option{
       padding:15px;
       margin-left:5px;

     }
     text-align:center;

   }
 }
  margin-top:20px;
  .lergo-h2{
    text-align:center;
    padding:10px 0;
  }
  .lesson-step-quiz-content, .lesson-step-quiz-next{
  background-color: gainsboro;
    width:400px;
    margin:0 auto;
  }
}


#lessonDisplay{
  #content{
    padding-bottom:100px;
  }
  .done-step {
   margin: 0 auto;
   	
   	 .orange{
      	color:#F7941E;
      	position: relative;
		z-index: 10;
		font-size: 80px;
      }
      .green{
      	color:#8CC63F;
      	position: relative;
		z-index: 10;
		font-size: 60px;
      }
      .red{
     	color:#EF3E36;
      	position: relative;
		z-index: 10;
		font-size: 40px;
      }
   	
    .message {
    width:50%;
      float: left;
      margin-top: 50px;
      font-size:30px;
      text-align:center;
      .lergo-h1{
      text-align:center;
      white-space: normal;
      text-transform: none;
      }
      .report{
	      a{
	      &:hover{
	      text-decoration:none;}
	      }
      }
      .recmmonded{
      }
    }

    .image {
      float: left;
      .user {
        margin-top: 100px;
        color: #91cfff;
        .fa-user {
          font-size: 240px;
        }
      }

      .cap {
        margin-top: -310px;
        color: #296CA1;
        .fa-graduation-cap {
          font-size: 140px;
        }
      }
    }
  }



  .next-step{
  	position:relative;
    margin:0 auto;
  }
 }
.video-tip{
	display: inline-block;
	
}