#lessonsIndex{
  table{
    .name{
      width:100%;
    }
  }
    .filter-lessons {
        padding-top: 20px;
        border-bottom: 1px solid #d2e8fa;
        padding-bottom: 17px;
    }
    .my-lessons {
        padding-top: 16px;
        padding-bottom: 16px;
    }
    .create {
        button {
            margin-top: 8px;
            margin-bottom:17px;
        }
    }
}
@media screen and (min-width: 1024px) {
    #lessonsIndex {
        .my-lessons {
            border-bottom: 1px solid #d2e8fa;
        }
        .create {
            border-bottom: 1px solid #d2e8fa;
        }
    }
}

@media screen and (max-width: 1024px) {
    #lessonsIndex {
        .create {
            padding: 0 15px;
        }
    }

}

@media  screen and (max-width : 1024px) {
    .padding-1 {
        padding-bottom: 22px;
    }
    #content > div:first-child {
        margin-top: 5px;
    }
}
