.lesson-preview {

    .collapsible{
        @extend .lergo-h1;
        font-size: 20px;
    }
    .title{
        @extend .lergo-h1;
        font-size: 15px;
        white-space: normal;
    }
    .sub-title{
        @extend .lergo-h4;
        font-size: 18px;
        color: #949494;
    }
    margin: 20px;
    .header {
        img {
            width: 100%;
        }
        .title{
            text-align: center;
        }
        height: inherit;
        min-height: 210px;
        padding: 10px;
        background-color: #EFEFEF;
        margin-bottom: 20px;
        border-radius: 10px;
        .header-name {
            text-align: center;
            border: 3px solid blue;
            border-radius: 10px;
            padding: 30px;
        }
    }
    .header-desc {
        min-height: 120px;
    }

    .step {
        padding: 1px 10px 20px;
        background-color: #EFEFEF;
        margin-bottom: 20px;
        border-radius: 10px;
        .icon {
            width: 5%;
        }
        .title {
            width: 20%;
        }
        .description {
            .bg-success {
                margin: 5px;
            }
            .bg-warning {
                margin: 5px;
            }
            .bg-primary {
                margin: 5px;
            }
            i {
                margin-left: 10px;
                margin-right: 10px;
            }
        }
    }
    .recommendation {
        padding: 1px 10px 20px;
        background-color: #EFEFEF;
        margin-bottom: 20px;
        border-radius: 10px;
    }
    .details {
        .detail {
            background-color: #EFEFEF;
            margin-bottom: 20px;
            border-radius: 10px;
            padding: 10px;
            .quiz {
                padding: 5px;
                border-radius: 10px;
                .quiz-correct {
                    border: 2px solid mediumseagreen;
                    border-radius: 10px;
                }
                .quiz-wrong {
                    border: 2px solid #ee9a00;
                    border-radius: 10px;
                }
                .quiz-open {
                    border: 2px solid royalblue;
                    border-radius: 10px;
                }
                .wrong {
                    color: firebrick;
                }
                .correct {
                    color: mediumseagreen;
                }
                .bold {
                    font-weight: bold;
                }
                .specific-explanation {
                    display: block;
                    font-weight: bold;
                }
                .bg-success {
                    text-align: inherit;
                }
                .bg-warning {
                    text-align: inherit;
                }
                .bg-primary {
                    text-align: inherit;
                }
                .quiz-answer {
                    padding: 10px;
                }
                .help-text {
                    font-style: italic;
                    color: #949494;
                    padding: 10px;
                }
                .question-media {
                    padding-left: 10px;
                }
                .duration {
                    float: right;
                }
            }
        }
    }
}


