
.lesson-step {
  .lesson-step-title {
    text-align:center;
    padding-bottom: 20px;
  }
}

.lesson-step-video{
  text-align:center;
  padding-top:20px;

  .lesson-step-video-content{
    display:inline-block;
  }
}


.lesson-step-quiz{
  .lesson-step-quiz-next{
    text-align:center;
  }

 .question-true-false{
   .true-false-options{
     .true-false-option{
       padding:15px;
       margin-left:5px;

     }
     text-align:center;

   }
 }
  margin-top:20px;
  .lergo-h2{
    text-align:center;
    padding:10px 0;
  }
  .lesson-step-quiz-content, .lesson-step-quiz-next{
  background-color: gainsboro;
    width:400px;
    margin:0 auto;
  }
}


#lessonDisplay{

  .done-step {
    padding-top: 100px;
    .message {
      float: right;
      margin-top: 200px;
      margin-right: 320px;
      font-size:30px;
    }

    .image {
      float: left;
      .user {
        margin-top: 100px;
        color: #91cfff;
        .fa-user {
          font-size: 240px;
        }
      }

      .cap {
        margin-top: -310px;
        color: #296CA1;
        .fa-graduation-cap {
          font-size: 140px;
        }
      }
    }
  }


.start-step{
	width:500px;
	margin:0 auto;
	padding-top:100px;
	.welcome{
	font-size:30px;
	text-align: center;
	}
	.name{
	padding:10px;
	font-weight:bold;
	font-size:15px;
	text-align:center;
	width:360px;
	margin:0 auto;
	}
	
	.description{
	padding:5px 0;
	width:400px;
	margin:0 auto;
	}
	.button{
	position:relative;
	background-color: transparent;
	padding:20px;
	text-align:center;
	margin-top:-160px;
	margin-bottom:40px;
	z-index:10;
	i{font-size:60px;}
	}
	.stats{
	}
	.stats-button{
		background-color: #5fb9ff;
		width: auto;
		padding: 8px;
		color: white;
		border-radius: 10px;
		display: inline-block;
	}
	.lesson{
		position:relative;
		width:500px;
		float:left;
		margin:0 0 20px 10px;
		border-radius: 10px;
		background-color:#EFEFEF;	
		.image{
			position:relative;
			margin:20px auto;
			text-align:center;
			z-index:0;
			&, img {
			height:240px;
			width:360px;	  
			}
			i{font-size:240px;
			color:#296CA1;}	
		}
	}
}
  .next-step{
  	position:relative;
    padding-top:100px;
    text-align:center;
    margin:0 auto;
	width:500px;
  }
}