#lessonsIndex{
  table{
    .name{
      width:100%;
    }
  }
}

#lessonsIndex-mobile{
    table{
        .name{
            width:100%;
        }
    }
    .content-margins {
        margin: 10px 20px 10px 20px;
    }
}
.padding-1 {
     padding-top: 16px;
     padding-bottom: 16px;
}

@media  screen and (max-width : 1024px) {
    .padding-1 {
        padding-top: 0;
        padding-bottom: 22px;
    }
    #content > div:first-child {
        margin-top: 5px;
    }
}
