
#loginPage, #signUpPage, #resetPasswordRequestPage {
  #content {
    .centered-content {
      width: 250px;
      margin: 100px auto 0 auto;
      .center {
        text-align: center;
      }
    }
  }

}