
#loginPage, #signUpPage, #resetPasswordRequestPage, #changePassword {
  #content {
    .centered-content {
          width: 250px;
          margin: 30px auto 0 auto;
          .center {
            text-align: center;
          }
    }
  }
  .or {
      text-align: center;
      margin-bottom: 5px;
  }
  .submit {
      padding:3px;
      width: 100%;
  }

    .reset-submit {
        width: 100%;
        padding: 7px;
    }
    .have-account {
        float: right;
        margin: 0 -20px;
        font-size: 16px;
    }
  .instructions {
    margin: 10px auto;
    padding:20px;
    text-align: center;
  }

  .errorMessage {
      font-size: 15px;
      color: red;
  }

  .bg-warning, .bg-success{
      padding:10px;
      text-align:center;
  }

}

#signUpPageConfirmation{
	 #content {
    .centered-content {
      width: 250px;
      margin: 100px auto;
      .center {
        text-align: center;
      }
    }
  }
  .bg-info{
  padding:10px;
  text-align:inherit;
  }
}

.rtl {
    #signUpPage {
        .have-account {
            float: left;
        }
    }
}
