#Profile {
    background: #eeeeee;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;

    a {
        position: relative;
    }
    input {
        background: #fafafa;
        border: 0;
        padding: 5px;
        border-radius: 5px;
    }
    textarea {

        margin: 0 15px;
        width: 340px;
        height: 144px;
        border-radius: 5px;
        padding: 5px;
        background: #fafafa;
    }
    blockquote {
        margin: 0 20px;

    }
    .btn{
        text-transform: none;
        padding: 2px 0;
    }
    .profile-first-block {
        margin: 18px 2px;
        .margin-adjust {
            margin-left: -77px;
            .user {
                margin-left: 0px;
                margin-right: 0px;
            }
        }
        .can-edit {
            min-height: 40px;
        }
    }
    .profile-second-block {
        margin-top: -10px;
    }
    .profile-lessons {
         margin: 15px 0px 15px;
    }
    .profile-lessons-count {
        margin: 15px 0px;
    }
    .profile-external-link {
        i {
            margin: 15px 0 0;
        }
    }

    .float-rtl {
        float: right;
    }
}

.rtl {
    #Profile {
        .float-rtl {
            float: left;
        }
        .profile-first-block {
            .margin-adjust {
                margin-right: -77px;
                margin-left: 0px;
            }
        }
    }
}


.public-profile-page{
    #Profile{
        margin-top:20px;
    }
}

#PublicProfile {
    background: #eeeeee;
    border-radius: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

.rtl .tooltipMobile {
    margin-left: 40px;
    min-width: 80px;
}

@media screen and (max-width:1199px) {
    .rtl .tooltipMobile {
        margin-left: 70px;
        min-width: 80px;
    }
    .rtl {
        #Profile {
            .profile-first-block {
                .margin-adjust {
                    margin-right: 0px;
                    margin-left: 0px;
                    padding: 0px;
                }
            }
            blockquote {
                margin: 0 0 0 20px;
            }
        }
    }

    #Profile {
        .float-rtl {
            padding: 0;
        }
        blockquote {
            margin: 0 20px 0 0px;
        }
        .ext-link {
            max-width: 140px;
        }
        textarea {
            max-width: 170px
        }
        .profile-first-block {
            .margin-adjust {
                margin-right: 0px;
                margin-left: 0px;
                padding:0px;
            }
        }
    }

}


