#Profile {
    background: #eeeeee;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;

    a {
        position: relative;
    }
    input {
        background: #fafafa;
        border: 0;
        padding: 5px;
        border-radius: 5px;
    }
    textarea {
        width: 249px;
        height: 144px;
        border-radius: 5px;
        padding: 5px;
        background: #fafafa;
    }
    blockquote {
        margin: 0 10px;
    }
    .btn{
        text-transform: none;
    }
    .profile-first-block {
        margin: 18px 2px;
    }
    .profile-lessons {
         margin: 36px 0px 15px;
    }
    .profile-lessons-count {
        margin: 15px 0px;
    }

    .float-rtl {
        float: right;
    }
}

.rtl {
    #Profile {
        .float-rtl {
            float: left;
        }
    }
}


.public-profile-page{
    #Profile{
        margin-top:20px;
    }
}

#PublicProfile {
    background: #eeeeee;
    border-radius: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

.rtl .tooltipMobile {
    margin-left: 40px;
    min-width: 80px;
}

@media screen and (max-width:1199px) {
    .rtl .tooltipMobile {
        margin-left: 70px;
        min-width: 80px;
    }
    #Profile {
        .float-rtl {
            padding: 0;
        }
        blockquote {
            margin: 0 20px;
        }
    }

}


