.correct-answer {
    &.select, .select {
        color: white;
        border-radius: 3px;
        padding: 0;
        cursor: pointer;
        background: transparent;
        border: 1px solid $LERGO_INPUT_BORDER_COLOR;
        width: 30px;
        height: 30px;
        box-sizing: border-box;
        display: inline-block;
        text-align: center;
        vertical-align: top;
        i {
            margin: auto;
            display: none;
            vertical-align: middle;
            margin-top: 5px;
        }
        &.active {
            color: white;
            background: $LERGO_BACKGROUND;
            i {
                display: block;
            }
        }
    }
}

.question {
    &.multiple-choices {
        .option {
            vertical-align: middle;
            span {
                padding: 0 5px;
            }
        }
    }
}

#questionsIndex {
    table {
        .question {
            width: 70%;
        }
        .answer {
            width: 30%;
        }
    }
    .content-margins {
        margin: 10px 20px 10px 20px;
    }
}

.question-display {
    .question-submit {
        text-align: center;
        padding: 20px 0;
    }
    .question-content, .question-submit {
        background-color: gainsboro;
        width: 400px;
        margin: 0 auto;
    }
    .question-true-false {
        .true-false-options {
            .true-false-option {
                padding: 15px;
                margin-left: 5px;
            }
            text-align: center;
        }
    }
}

.question-help-text {
    color: grey;
    font-family: cursive;
}

#questions-update {
    .multipleChoiceSingleAnswer {
        table td:first-child {
            width: 100%;
        }
    }
}

.filters {
    margin-top: -13px;
    .input {
        position: relative;
        .dropdown-menu {
            width: 100%;
        }
    }
    .label {
        padding-top: 20px;
    }
    .label {
        padding-bottom: 10px;
        text-transform: uppercase;
        color: #C5C5C5;
        background: transparent;
        font-size: 20px;
    }
    .number {
        width: 50px;
        margin-left: 5px;
        margin-right: 5px;
        display: inline-block;
    }
    select {
        width: 100%;
    }

    .container-fluid {
        padding-left: 0px;
        padding-right: 0px;
    }
    .cancel-search {
        position:relative;
        right: 60px;
        color: darkgrey;
        font-size: 14px;
        cursor: pointer;
        font-weight: bold;
    }
}

.question-bank-dialog .modal-dialog {
    width: 96%;
    min-width: 1000px;
    .modal-content {
        .modal-header{
            padding: 0px;
        }
        .modal-body {
            height: 500px;
            overflow-y: auto;
            .left {
                float: left;
                width: 15%;
            }
            .right {
                margin-right: 0px;
                float: right;
                width: 84%;
            }
        }
        .modal-footer {
            padding: 5px 20px 5px;
            margin-top: 0px;
            .lergo-h3 {
                display: inline;
            }
        }
    }
    .btn-default {
        background-color: #C0C0C0;
    }
}

.rtl {
    &.question-bank-dialog .modal-dialog {
        .modal-content {
            .modal-body {
                .left {
                    float: right;
                }
                .right {
                    float: left;
                    margin-left: 5px;
                    margin-right: 0px;
                }
            }
        }
    }
    .filters{
        .cancel-search {
            right: -60px;
        }
    }
}

.shuffle {
    display: table;
    padding: 8px;
    width: 100%;
    .left-cell {
        display: table-cell;
        vertical-align: middle;
        width: 17%;
        span {
            position: relative;
            padding-left: 2px;
            padding-bottom: 10px;
        }
        .popover-content {
            width: 260px;
        }
        button {
            background-color: transparent;
            border: 0;
            color: #2a6496;
            vertical-align: super;
        }
    }
    .right-cell {
        display: table-cell;
    }
}

.questions-exact-match {
    input {
        width: 75%;
        margin: 0 auto;
    }
}

.setInputSize {
    display: table-cell;
    vertical-align: middle;
    width: 17%;
    span {
        position: relative;
        padding-left: 2px;
        padding-bottom: 10px;
    }
    .popover-content {
        width: 260px;
    }
    button {
        background-color: transparent;
        border: 0;
        color: #2a6496;
        vertical-align: super;
    }
}

.update-question-notifications {
    background: #fcf8e3;
    display: block;
    width: 700px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    color: black;
}
