#questionPreview { 
    width:450px;
    margin:0 auto;
    margin-top:500px;
    min-height: 300px;
    display:flex;
    border-radius:5px;
    background-color: gainsboro;
	.left {
		width:90%;
		padding:10px;
		.submit{
		margin-top:10px;
		text-align: center;
		}
		.question-true-false{
   			.true-false-options{
     			.true-false-option{
       				padding:15px;
      				 margin-left:5px;
     			}
     			text-align:center;

   			}
 		}
 		.help{
 			color: grey; 
			font-family: cursive;
			margin-top:10px;
		}
		.audio{
		margin-top:10px;
		}
		
		
	}

	.right { 
		width:10%;
		.action-items { 
			.hint{
			  font-size:15px;

              margin-top:  10px;
			}
			font-size: 30px;
			text-align: center;

          &>.btn-link{
            text-align:left;
            display:inline-block;
            margin-top:20px;
          }

		}
	}
}