

.correct-answer{
  &.select, .select {
    color:white;
    border-radius: 3px;
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 1px solid $LERGO_INPUT_BORDER_COLOR;
    width: 30px;
    height: 30px;
    box-sizing:border-box;
    display:inline-block;
    text-align: center;
    vertical-align: top;
    i {
      margin:auto;
      display: none;
      vertical-align: middle;
      margin-top:5px;
    }
    &.active {
      color:white;
      background: $LERGO_BACKGROUND;
      i{
        display:block;
      }
    }
  }
}



.question{
  &.multiple-choices{
     .option{
       vertical-align: middle;
       span{
         padding:0 5px;
       }
     }
  }
}



#questionsIndex{
  table{
    .question{
      width:70%;
    }
    .answer{
      width:30%;
    }
  }
}

.question-display {
	.question-submit{
    text-align:center;
    padding: 20px 0;
  }
  .question-content, .question-submit{
  background-color: gainsboro;
    width:400px;
    margin:0 auto;
  }
  
  .question-true-false{
   .true-false-options{
     .true-false-option{
       padding:15px;
       margin-left:5px;

     }
     text-align:center;

   }
 }

}

.question-help-text{
	color: grey; 
	font-family: cursive;
}

#questions-update{
  .multipleChoiceSingleAnswer {
    table td:first-child{
      width:100%;
    };

  } 
}

.filters { 


    .label:nth-child(n+2) {
      padding-top: 20px;
    }


	.label {
      padding-bottom: 10px;
	text-transform:uppercase;

	color: #C5C5C5;
	background: transparent;
	font-size: 20px;
	}

	.number {
		width: 50px;
		margin-left: 5px;
		margin-right: 5px;
		display: inline-block;
	}

	select {
		width: 100%;
	}
}
.question-bank-dialog .modal-dialog {
    width :85%;
    min-width: 900px;
}
.question-create-dialog .modal-dialog{
	 width :70%;
    min-width: 650px;
	
}

.shuffle{
	display: table;
	padding: 8px;
	width:100%;
	.left-cell{
		display: table-cell;
		vertical-align: middle;
		width:15%;
		span{
		position:absolute;
		padding-left:2px;
		}
		.popover-content{
		width:260px;
		}
		button{
			background-color: transparent;
			border:0;
			color: #2a6496;
		}
	}
	.right-cell{
		display: table-cell;
	}
}

.questions-exact-match{
	input{
	width:75%;
	margin:0 auto;
	}
}
