

.correct-answer{
  &.select, .select {
    color:white;
    border-radius: 3px;
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 1px solid $LERGO_INPUT_BORDER_COLOR;
    width: 30px;
    height: 30px;
    box-sizing:border-box;
    display:inline-block;
    text-align: center;
    vertical-align: top;
    i {
      margin:auto;
      display: none;
      vertical-align: middle;
      margin-top:5px;
    }
    &.active {
      color:white;
      background: $LERGO_BACKGROUND;
      i{
        display:block;
      }
    }
  }
}



.question{
  &.multiple-choices{
     .option{
       vertical-align: middle;
       span{
         padding:0 5px;
       }
     }
  }
}



#questionsIndex{
  table{
    .question{
      width:100%;
    }
  }
}



#questions-update{
  .multipleChoiceSingleAnswer {
    table td:first-child{
      width:100%;
    };

  }
}