#reportIndex {
    .report-type-selection {
        background: none;
        border: none;
        margin-top: 6px;
    }
    .delete-menu {
        margin-top: -10px;
    }
    .report-type-selection-mobile {
        background: none;
        border: none;
        margin-top: 6px;
    }
    .content-margins {
        margin: 10px 20px 10px 20px;
    }
}
@media screen and (max-width:768px) {
    .rtl {
        ul.dropdown-menu.dropdown-mobile {
            right: 0;
            min-width: 200px;
        }
    }
}
