#reportIndex {
    .filter-reports {
        padding-top: 16px;
        border-bottom: 1px solid #d2e8fa;
        padding-bottom: 17px;
    }
    .my-reports {
        padding-top: 16px;
        padding-bottom: 16px;
        margin-bottom: 18px;
    }
    .select-report {
        padding-top: 14px;
        padding-bottom: 20px;

        .report-type-selection {
            background: none;
            border: none;
            margin-top: 6px;
        }
    }
    table {
        thead:first-child > tr:first-child > td:nth-child(2) {
            width: 250px;
            white-space: normal;
        }
    }

    .delete-menu {
        margin-top: -10px;
    }
}

@media screen and (min-width: 1024px) {
    #reportIndex {
        .my-reports {
            border-bottom: 1px solid #d2e8fa;
        }
        .select-report {
            float: right;
        }
        .col-border-bottom {
            border-bottom: 1px solid #d2e8fa;
        }
    }
    .rtl {
        #reportIndex {
            .select-report {
                float: left;
            }
        }
    }
}

@media screen and (max-width: 1023px) {
    #reportIndex {
        .my-reports {
            padding-left: 15px;
            padding-right: 15px;
            margin-bottom: -11px;
        }
        .select-report {
            padding-left: 15px;
            padding-right: 15px;
        }
        .name {
            white-space: normal;
        }

        .rtl {
            ul.dropdown-menu.dropdown-mobile {
                right: 0;
                min-width: 200px;
            }
        }

    }
}

@media screen and ( max-width : 768px ) {
    .rtl {
        #reportIndex {
            .lessons-dropdown {
                .dropdown-menu {
                    margin-left: -153px;
                }
            }
        }
    }
}

