#updateRolePage{

    .form-section{
        padding: 20px 0;
        .label{
            text-overflow: ellipsis;
            overflow:hidden;
            color:black;
            font-weight: normal;
            line-height:20px;

            text-align: left;
        }
        .row{
            padding-bottom:5px;
            margin:0;
        }
    }

    .permissions, .checklist{
        $COLUMNS: 3;
        column-count:$COLUMNS;
        -webkit-column-count: $COLUMNS;
        -moz-column-count: $COLUMNS;
        & > div {
//            display:inline-block;
            width:100%;

        }
        .checklist-mobile {
            $COLUMNS: 1;
        }
        .label{
            /*width:250px;*/
        }
    }

}
