body.rtl{
  /** guy - "base-layout" will trigger the directive. so we alias it to base-layout-class to use the class without the directive*/
  .base-layout, .base-layout-class {
    #header {
      .header-links {
        margin-left: 0;
        margin-right: 230px;
        ul {
          li {
            float: right;
            padding: 0 0 0 26px;
            &:after {
              padding-left: 0;
              padding-right: 31px;
            }
          }

        }
      }
      .header-login {
        float: left;

      }
      .header-signup{
      float:left;
      }
      .header-language {
        float: left;

      }

      .header-search {
        margin-right: 230px;
        margin-left: 0;

        border-top-right-radius: 10px;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;

      }
    }

    .page-content-width {

      .page-content-body {
        float: left;
        width: 730px;
        min-width: 730px;
      }

      .page-content-sidebar {
        display: inline-block;
        width: 225px;
        min-width: 225px;
      }
    }

    .page-content-titles{
      .page-content-titles-actions{
        float: left;
      }
    }
  }
}