
body .rtl{
  .base-layout, .base-layout-class {

      #simple-dropdown1 {
          margin-right: 5px;
      }

      .page-content-width {

          .page-content-sidebar {
              display: inline-block;
              width: 225px;
              min-width: 225px;
          }
      }

      .page-content-titles {
          .page-content-titles-actions {
              .btn {
              }
          }
      }
      #profileloginbutton-mobile-not-logged-in .header-signup a:last-child {
          float: left;
      }
  }
}

.rtl {
    #header-mobile {
        .pull-left.logo {
            margin-left: 1vw;
        }
        .cancel-search {
            right: 310px;
            bottom: 37px;
        }
        .search-icon {
            font-size: 20px;
            /*margin-left: 4vw;
            &:after {
                content: "";
            }
            &:before {
                display: inline-block;
                content: "|";
                margin-left: 5vw;
                margin-right: 4.1vw;
                color: #c1def5;
            }*/
        }
    }
    input.form-control.search-input {
        margin-right: 0px;
    }
    .cancel-search-mobile {
        bottom: -3px;
        .cancel-adjust {
            padding: 10px;
        }
    }
    .cancel-search {
        right: 5px;
        bottom: 0px;
    }
    .search-mobile {
        float: left;
        margin-left: 25px;
        bottom: 25px
    }
    .search-float {
        float: left;
        padding: 2px;
    }

    .navbar-search-mobile {
        .col-xs-10, col-sm-10 { /*this is needed for the mobile searchbar - not sure why it is only needed here*/
            float: right;
        }
    }
}
//What is this for?
@media screen and (max-width: 1200px) {
    .base-layout, .base-layout-class {
        .page-content-titles {
            .page-content-titles-actions {
                float: right;
            }
        }

    }
}

