
body .rtl{
  .base-layout, .base-layout-class {

      #simple-dropdown1 {
         /* margin-right: 30px;*/
          margin-left: 46px;
          float: left;
      }

      .page-content-width {

          .page-content-sidebar {
              display: inline-block;
              width: 225px;
              min-width: 225px;
          }
      }

      .page-content-titles {
          .page-content-titles-actions {
              .btn {
              }
          }
      }
      #profileloginbutton-mobile-not-logged-in {
          float: right;
          .header-signup a:last-child {
              margin-right: 150px;
              margin-left: 0px;

            }
      }
  }
}




.rtl {
    .base-layout {
        #header-mobile {
            .navbar-form {
                .form-control.search-desktop {
                    margin-right: -45px;
                }
            }
            .pull-left.logo {
                margin-left: 1vw;
            }
            .cancel-search {
                right: -67px;
                bottom: 3px;
            }
            .search-icon {
                font-size: 22px;
                float: right;
                margin-right: -45px
            }
            .header-actions {
                margin-top: 14px;
                float: left;
            }
            i.fa.fa-search {
                padding-left: 0px;
                padding-right: 0px;
                float: right;
                margin-top: 0px;
            }
            i.fa.fa-search.desktop-search {

                margin-top: -3px;
            }

        }
        input.form-control.search-input {
            margin-right: 0px;
        }
        .cancel-search-mobile {
            bottom: -3px;
            .cancel-adjust {
                padding: 10px;
            }
        }
        .search-mobile {
            float: left;
            margin-left: 25px;
            bottom: 25px
        }
        .search-float {
            float: left;
            padding: 2px;
        }

        .navbar-search-mobile {
            .col-xs-10, col-sm-10 { /*this is needed for the mobile searchbar - not sure why it is only needed here*/
                float: right;
            }
        }

    }
}



@media screen and (max-width: 1200px) {
    .rtl {
        .base-layout {
            #header-mobile {
                i.fa.fa-search {
                    padding-left: 0px;
                    padding-right: 0px;
                    margin-top: 0px;
                }
            }
        }
    }
}

// ipad only
@media screen and (min-width : 1024px) and (max-width: 1200px) {
    .rtl {
        .base-layout {
            #header-mobile {
                .navbar-form {
                    .form-group.search-homepage-desktop {
                        margin: 4px 62px 4px 0px;
                    }
                }
                .search-icon {
                    margin-right: -35px;
                }
            }
            .dropdown-align {
                margin-left: 3px;
                margin-top: 49px;
            }
        }
    }
}



