@import "bootstrap-sass/lib/bootstrap";
$HEADER_HEIGHT: 110px;
$FOOTER_HEIGHT: 110px;
@import "./variables";
@import "./common";

#mainPage {
  #content{
    width:200px;
    margin:200px auto 0 auto;
  }

}


@import "./homepage";
@import "./baseLayout";
@import "./createLesson";
@import "./questions";
@import "./kitchenSink";
@import "./errorPages";
@import "./about";