@import './bootstrapVariables';
@import "myBootstrapSass/bootstrap";
@import "./variables";
@import './bootstrapOverrides';
//
@import './mixins';
@import "./common";
@import './components/index';

@import './forms';
//
@import "./homepage";
@import "./rtl_homepage";
@import "./baseLayout";
@import "./rtl_baseLayout";
@import "./createLesson";
@import "./questions";
@import "./kitchenSink";
@import "./errorPages";
@import "./about";
@import "./login";
@import "./lessonsIndex";
@import "./translations";
@import "./lesson";
@import "./report";
@import "./lessonIntro";
@import "./underConstruction";
@import "./create";
@import "./createLessonPage";
@import "./questionPreview";
@import "./helperContent";
@import "./reportIndex";
@import "./faq";
@import "./facebook";
@import "./profile";
@import './roleUpdate';
@import "./manage/main";
@import "./sidebarFilter";
@import "./filterIsActive";
@import "./goToMyLessonsDemo";
@import "./classInvite";
@import "./toastrDirectionSupport";


// small hack to have a clickable filter in manage lessons view

#admin{
    tr[ng-repeat^="l in lessons"]{
        .name{
            a{
                word-break: break-all;
            }
        }
    }
}
