.report{
	.lergo-h1{
			font-size:20px;
		}
	hr{	 
		margin-top: 10px; 
		margin-bottom: 10px;  
		border-top: 2px solid #C0C0C0;
	}
	.image {
		float: left;
		width: 150px;
		height: 190px;
		background-color: #949494;
		text-align: center;
		border-radius: 10px;
		padding: 10px;
		margin-right:35px;
		
		.user {
       		margin-top: 30px;
       		color: #91cfff;
       		.fa-user {
         		font-size: 120px;
       		}
     	}
     	.cap {
        	margin-top: -155px;
        	color: #296CA1;
        	.fa-graduation-cap {
          		font-size: 70px;
        	}
      	}
	}
	.header{
		height: 190px;
		padding: 10px;
		background-color:#EFEFEF;
		margin-bottom:20px;
		border-radius: 10px;
		.lergo-h4{
			font-size:18px;
			color: #949494;
		}
	}
	.steps{
	
		.step{
			.lergo-h1{
				font-size:15px;
			}
			background-color:#EFEFEF;
			margin-bottom:20px;
			border-radius: 10px;
			.icon{
				width:10%;
			}
			.title{
				width:30%;
				}
			.description{
				width:60%;
			}
		}
	}
	.no-underline{
	text-decoration: none;
	}
	.details{
		.detail{
			background-color:#EFEFEF;
			margin-bottom:20px;
			border-radius: 10px;
			padding: 10px;
			
			.quiz{
					padding: 5px;
					border-radius: 10px;
				.quiz-correct{
					border: 2px solid mediumseagreen;
					border-radius: 10px;
				}
				.quiz-wrong{
					border: 2px solid #ee9a00;
					border-radius: 10px;
				}
				.quiz-open{
					border: 2px solid royalblue;
					border-radius: 10px;
				}
				.wrong{
					color:firebrick;
				}
				.correct{
					color:mediumseagreen;
				}
				.bold{font-weight:bold;}
				.bg-success{
				text-align: left;
				}
				.bg-warning{
				text-align: left;
				}
				.bg-primary{
				text-align: left;
				}
				.quiz-answer{padding:10px;}
				
			}
		}
	}
}