
$LERGO_BACKGROUND:#5FB9FF !default;
$LERGO_ACTION_BACKGROUND:#FFE509 !default;

$LERGO_TEXT_COLOR:#D8D8D8 !default;
$LERGO_MENU_TEXT_COLOR:#939393 !default;
$LERGO_MENU_TEXT_COLOR_ACTIVE:#676767 !default;
$LERGO_MENU_GRAY_TITLE:#676767 !default;

$LERGO_INPUT_BACKGROUND:#EFEFEF !default;
$LERGO_INPUT_BORDER_COLOR:#CECECE !default;

$LERGO_H2_COLOR:#7C7C7C !default;
$LERGO_H3_COLOR:#C5C5C5 !default;

$LERGO_ICON_COLOR:#5FB9FF !default;



$LERGO_POST_MAIN_CONTENT_WIDTH:750px;
$LERGO_POST_SIDE_COLUMN_WIDTH:225px;

$LERGO_FORM_TEXTAREA_HEIGHT:160px !default;