<div style="border: 6px solid orange; overflow-y: auto ">
    <p style="color: orange; font-size: 24px; ">lessons/playlist/_index.html[lessons/Playlistindex.js] </p>
    <div id="lessonsPlaylistindex" load-filter-and-paging="loadLessons()">
        <span class="error">{{error}}</span>
        <br/>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
                        <div>
                            <div class="lergo-h1-orig filter-lessons hidden-sm hidden-xs">{{ 'lessons.filter' | translate }}</div>
                            <div lergo-filter   no-url-changes="{{isModal}}" model="lessonsFilter" on-change="loadLessons()"
                                 on-load="filterLoaded()"
                                 opts="lessonsFilterOpts">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12"></div>
                </div>
                <div ng-show="!isModal">
                        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                            <div class="my-lessons lergo-h1-orig col-lg-9 col-md-9 col-sm-12 col-xs-12">
                                <div class="btn-group" uib-dropdown dropdown-append-to-body>
                                    <button id="btn-append-to-body" type="button" class="btn-link" uib-dropdown-toggle  style="color: #5fb9ff; text-decoration: none">
                                        <span class="fa fa-caret-down"></span>
                                        <span class="lergo-h1-orig">{{('lessons.'+ lessonToLoad |translate)}} </span>
                                    </button>
                                    <ul class="dropdown-menu overidePositionInherit " uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
                                        <li role="menuitem"><a class="btn-link" style="outline: none;" ng-click="load(LessonTypeToLoad.user)">{{'lessons.myLessons'|translate}}</a></li>
                                        <li role="menuitem"><a class="btn-link" style="outline: none;" ng-click="load(LessonTypeToLoad.all)">{{'lessons.allLessons'|translate}}</a></li>
                                        <li role="menuitem"><a class="btn-link" style="outline: none;" ng-click="load(LessonTypeToLoad.liked)">{{'lessons.likedLessons'|translate}}</a></li>
                                    </ul>
                                </div>

                                [ {{ 'lessons.total' | translate }}: {{filterPage.count}} ]
                            </div>
                            <div class="col-border-bottom col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                <div class="create">
                                    <button class="btn btn-start" ng-click="createLessonBtnDisable || createNewLesson()"
                                            ng-disabled="createLessonBtnDisable">
                                        <i ng-show="createLessonBtnDisable" class="fa fa-circle-o-notch fa-spin" aria-hidden="true"></i>
                                        {{ 'lessons.createNew' | translate }}
                                    </button>
                                </div>
                            </div>
                        </div>
                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12"></div>
                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12"></div>
                </div>
                <div ng-show="isModal" style="height: 19px"></div>
                <div class="hidden-sm hidden-xs" filter-is-active="lessonsFilterOpts" section="lessons" ng-class="!!isModal==true ? 'active-filter-modal': 'active-filter'"></div>

                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">

                    <div class="table-responsive">
                        <table ng-show="items.length > 0" class="table">
                            <thead>
                                <tr style="font-weight: bold">
                                    <td ng-show="isModal">
                                        <input style="width: 30px"  type="checkbox" ng-click="selectAll($event)"/>
                                    </td>
                                    <td class="col-width-mobile">{{ 'lessons.name' | translate }}</td>
                                    <td class="col-width-mobile">{{ 'lessons.description' | translate }}</td>
                                    <td ng-show="lessonToLoad ===LessonTypeToLoad.all">{{ 'lessons.createdBy' | translate }}</td>
                                    <td>{{ 'lessons.subject' | translate}}</td>
                                    <td>{{ 'lessons.age' | translate}}</td>
                                    <td>{{ 'lessons.language' | translate}}</td>
                                </tr>
                            </thead>
                            <tbody>
                            <!--this invisible text makes the hebrew mobile alignment correct-->
                            <pre ng-show="!isModal" style="color: white; font-size: 1px">a</pre>
                            <tr  ng-repeat="item in items |orderBy:'-lastUpdate'" ng-class="{'disabled':!!item.alreadyAdded}">
                                <td ng-show="isModal">
                                    <input style="width: 30px" ng-disabled="!!item.alreadyAdded" type="checkbox" ng-model="item.selected"/>
                                </td>
                                <td class="lesson" dir="auto">
                                    <span  ng-show="!!isModal">{{item.name}}</span>
                                    <div ng-show="!isModal" lesson-read-link lesson="item"></div>
                                </td>
                                <td class="lesson" dir="auto">
                                    <span  ng-show="!!isModal">{{item.description}}</span>
                                    <div ng-show="!isModal" lesson-read-link lesson="item"></div>
                                </td>
                                <td ng-show="lessonToLoad ===LessonTypeToLoad.all" class="answer">{{item.user.username}}</td>
                                <td style="width: 35px">{{item.subject && ('filters.subjects.' + item.subject | translate) ||""}}</td>
                                <td>{{item.age &&('+'+ item.age) || ""}}</td>
                                <td>{{item.language && ('filters.languages.' + item.language | translate) || ""}}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
              <!--  <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12"></div>-->
            </div>
            <div class="text-center" ng-hide="items || items.length != 0">
                <span class="alert alert-warning font-medium">{{ 'lessons.noLessons' | translate }}</span>
            </div>
            <div lergo-paging class="textAlignCenter" page="filterPage" on-change="loadLessons()" on-load="pagingLoaded()"></div>
        </div>
    </div>
</div>

