lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

.idea
*.iml
app/translations
app/services/LergoTranslate.js
dist

pids
logs
results

app/bower_components

coverage


dev
npm-debug.log
node_modules

.sass-cache
.tmp