<!--<div class="create-your-own-box-mobile">
    <a  show-logged-in  ng-click="createBtnDisable || create()" ng-disabled="createBtnDisable" class="lergo-h1">
        <i ng-show="createBtnDisable" class="fa fa-circle-o-notch fa-spin" aria-hidden="true"></i>
        {{ 'homepage.createLessons' | translate }}
        <i class="fa fa-plus" aria-hidden="true"></i>
    </a>
    <a class="lergo-h1" show-anonymous  href="" popover-placement="bottom" popover-trigger="'outsideClick'"
       uib-popover="{{'createNotAvailable' | translate}}" tabindex="0">{{'homepage.createLessons' | translate }}
        <i class="fa fa-plus" aria-hidden="true"></i></a>
</div>-->
