<div class="create-your-own-box">
	<div class="upper-section">
		<div class="create">{{ 'homepage.createYourOwn' | i18n }}</div>
		<br />
		<!-- guy - part of fix for newline on homepage.free -->
		<a ng-show="!!$root.user" class="start btn" ng-click="create()">{{ 'homepage.create' | i18n }}</a>
		<!--  tabindex = 0 is use to fix focus trigger problem in google chrome -->
		<a ng-show="!$root.user" class="start btn" href="" popover-placement="bottom" popover-trigger="focus" popover="{{'createNotAvailable' | i18n}}" tabindex="0">{{
			'homepage.create' | i18n }}</a>
		<div class="free">{{ 'homepage.free' | i18n }}</div>
	</div>
</div>
