<div class="create-your-own-box">
	<div class="upper-section">
		<div class="create">{{ 'homepage.createYourOwn' | translate }}</div>
		<br />
		<!-- guy - part of fix for newline on homepage.free -->
		<a  show-logged-in class="start btn" ng-click="create()">{{ 'homepage.create' | translate }}</a>
		<!--  tabindex = 0 is use to fix focus trigger problem in google chrome -->
		<a show-anonymous class="start btn" href="" popover-placement="bottom" popover-trigger="focus" popover="{{'createNotAvailable' | translate}}" tabindex="0">{{
			'homepage.create' | translate }}</a>
		<div class="free">{{ 'homepage.free' | translate }}</div>
	</div>
</div>
