<div class="container">
<div class="row">

<div id="HelperContent" >
	<div ng-repeat="c in helperContent.contents" class="col-xs-12">
		<div class="helperContent">
			<div class="video" ng-show="!!c.videoUrl">
				<div class="embed-responsive embed-responsive-16by9">
					<iframe  class="embed-responsive-item" ng-src="{{getYoutubeEmbedSource(c.videoUrl)}}" frameborder="0" allowfullscreen></iframe>
				</div>
				<div class="title" ng-show="!!c.title">{{c.title}}</div>
			</div>
			<br />
			<div class="textContent" ng-show="!!c.tips  || !! c.important">
				<div ng-show="!!c.tips">
					<div class="tips">
						<i class="fa fa-lightbulb-o"> {{'helperContent.tips' | translate}} </i>
					</div>
					{{c.tips}}
				</div>
				<br />
				<div ng-show="!!c.important">
					<div class="important">
						<i class="fa fa-exclamation-circle"> {{'helperContent.important' | translate}}</i>
					</div>
					{{c.important}}
				</div>
			</div>
		</div>
		<br />
		<div admin-section>
			<div class="admin">
				<div>
					<a class="btn-link remove" ng-click="removeHelperContent($index)">X</a>
				</div>
				<div>
					{{'helperContent.videoUrl' | translate}}
					<input ng-model="c.videoUrl" />
				</div>
				<div>
					{{'helperContent.title' | translate}}
					<input ng-model="c.title" />
				</div>
				<div>
					{{'helperContent.tips' | translate}}
					<input ng-model="c.tips" />
				</div>
				<div>
					{{'helperContent.important' | translate}}
					<input ng-model="c.important" />
				</div>
			</div>
			<br />
		</div>
	</div>
	<div admin-section>
		<a class="btn-link" ng-click="addHelperContent()">{{'helperContent.add' | translate}}</a>
		<div class="lergo-h3">{{ isSaving() && ('saving'| translate) || ('saved' | translate) }}</div>
	</div>
</div>


</div>
</div>
