<div id="HelperContent" class="lergo-form">
	<div ng-repeat="c in helperContent.contents">
		<div class="helperContent">
			<div class="video" ng-show="!!c.videoUrl">
				<div class="lesson-step-video-content">
					<iframe width="330" height="185" ng-src="{{getYoutubeEmbedSource(c.videoUrl)}}" frameborder="0" allowfullscreen></iframe>
				</div>
				<div class="title" ng-show="!!c.title">{{c.title}}</div>
			</div>
			<br />
			<div class="textContent" ng-show="!!c.tips  || !! c.important">
				<div ng-show="!!c.tips">
					<div class="tips">
						<i class="fa fa-lightbulb-o"> {{'helperContent.tips' | i18n}} </i>
					</div>
					{{c.tips}}
				</div>
				<br />
				<div ng-show="!!c.important">
					<div class="important">
						<i class="fa fa-exclamation-circle"> {{'helperContent.important' | i18n}}</i>
					</div>
					{{c.important}}
				</div>
			</div>
		</div>
		<br />
		<div admin-section>
			<div class="admin">
				<div>
					<a class="btn-link remove" ng-click="removeHelperContent($index)">X</a>
				</div>
				<div>
					{{'helperContent.videoUrl' | i18n}}
					<input ng-model="c.videoUrl" />
				</div>
				<div>
					{{'helperContent.title' | i18n}}
					<input ng-model="c.title" />
				</div>
				<div>
					{{'helperContent.tips' | i18n}}
					<input ng-model="c.tips" />
				</div>
				<div>
					{{'helperContent.important' | i18n}}
					<input ng-model="c.important" />
				</div>
			</div>
		</div>
		<br />
	</div>
	<div admin-section>
		<a class="btn-link" ng-click="addHelperContent()">{{'helperContent.add' | i18n}}</a>
		<div class="lergo-h3">{{ isSaving() && ('saving' + '...' | i18n) || ('saved' | i18n) }}</div>
	</div>
</div>