
<div id="pagination-block">
&nbsp <a admin-section id="pagination-block1"  href="" ng-click="setPage()">{{'lessons.filters.labels.pagination' | translate }}</a>
&nbsp
<div class="pagination" id="pagination-block2">
    <ul uib-pagination
        total-items="page.count"
        ng-model="page.current"
        items-per-page="page.size"
        class="pagination-sm"
        rotate="false"
        max-size="5"
        boundary-links="true"
        first-text="<<"
        last-text=">>"
        previous-text="<"
        next-text=">">
    </ul>
</div>
</div>
