<form name="filter" class="filters lergo-form">
	<div ng-show="!!opts.showStudents" class='container-fluid'>
		<div class="label">{{'filters.labels.doneByStudent' | i18n}}</div>
		<div class="input">
			<input type="text" ng-model-options="{debounce:500}" ng-model="reportStudent" typeahead="student._id as student._id for student in students | filter:$viewValue | limitTo:15 ">
		</div>
	</div>
	<div ng-show="!!opts.showSearchText">
		<div class="label">{{'filters.labels.text' | i18n }}</div>
		<div>
			<input ng-model="model.searchText" ng-model-options="{debounce:500}" placeholder="{{'filters.labels.text' | i18n  }}" />
		</div>
	</div>
	<span ng-show="!!opts.showLanguage">
		<div class="label">{{'filters.labels.language' | i18n }}</div>
		<div class="input">
			<select ng-options="l.id as ('filters.languages.' + l.id | i18n) for l in languages" ng-model="model.language">
				<option value="">{{'filters.all'|i18n}}</option>
			</select>
		</div>
	</span>
	<span ng-show="!!opts.showSubject">
		<div class="label">{{'filters.labels.subject' | i18n }}</div>
		<div class="input">
			<select ng-options="s as ('filters.subjects.' + s | i18n) for s in subjects" ng-model="model.subject">
				<option value="">{{'filters.all'|i18n}}</option>
			</select>
		</div>
	</span>
	<span ng-show="!!opts.showAge">
		<div class="label">{{'filters.labels.ageRange' | i18n }}</div>
		<div>
			<input min="1" max="100" size="1" class="number" type="number" ng-model="ageFilter.min" />
			{{'filters.to'|i18n}}
			<input min="1" max="100" size="1" class="number" type="number" ng-model="ageFilter.max" />
		</div>
	</span>
	<span ng-show="!!opts.showViews">
		<div class="label">{{'filters.labels.views' | i18n }}</div>
		<div>
			<input min="1" size="1" class="number" type="number" ng-model="viewsFilter.min" />
			{{'filters.to'|i18n}}
			<input min="1" size="1" class="number" type="number" ng-model="viewsFilter.max" />
		</div>
	</span>
	<span ng-show="!!opts.showLessonStatus">
		<div class="label">{{'filters.labels.status' | i18n }}</div>
		<div class="input">
			<select ng-options="s as ('filters.status.' + s | i18n) for s in status" ng-model="statusValue">
				<option value="">{{'filters.all'|i18n}}</option>
			</select>
		</div>
	</span>
	<span ng-show="!!opts.showCorrectPercentage">
		<div class="label">{{'filters.labels.correctPercentage' | i18n }}</div>
		<div>
			<input min="1" max="100" size="1" class="number" type="number" ng-model-options="{debounce: 500}" ng-model="correctPercentage.min" />
			{{'filters.to'|i18n}}
			<input min="1" max="100" size="1" ng class="number" type="number" ng-model-options="{debounce: 500}" ng-model="correctPercentage.max" />
		</div>
	</span>
	<div ng-show="!!opts.showReportStatus">
		<div class="label">{{'filters.labels.status' | i18n }}</div>
		<div class="input">
			<select ng-options="s as ('filters.status.' + s | i18n) for s in reportStatus" ng-model="reportStatusValue">
				<option value="">{{'filters.all'|i18n}}</option>
			</select>
		</div>
	</div>
	<span ng-show="!!opts.showInviteStatus">
		<div class="label">{{'filters.labels.status' | i18n }}</div>
		<div class="input">
			<select ng-options="s as ('filters.status.' + s | i18n) for s in reportStatus" ng-model="inviteStatusValue">
				<option value="">{{'filters.all'|i18n}}</option>
			</select>
		</div>
	</span>

    <div ng-show="!!opts.showReportLesson">
        <div class="label">{{'filters.label.reportLesson' | i18n }}</div>
        <div report-lesson-filter="reportLesson"></div>
    </div>
	<!--<div ng-show="!!durationFilter">-->
	<!--<div class="label">{{'filters.labels.duration' | i18n }}</div>-->
	<!--<div>-->
	<!--<input min="1" max="100" size="1" class="number" type="number" ng-model="$root.filter.duration.min" />-->
	<!--{{'filters.to'|i18n}}-->
	<!--<input min="1" max="100" size="1" ng class="number" type="number" ng-model="$root.filter.duration.max" />-->
	<!--</div>-->
	<!--</div>-->
	<span ng-show="!!opts.showTags">
		<div>
			<div class="label">{{'filters.labels.tags' | i18n }}</div>
			<div>
				<div tag-section tags="filterTags"></div>
			</div>
		</div>
	</span>
	<div ng-show="!!opts.showCreatedBy" class='container-fluid'>
		<div class="label">{{'filters.labels.createdBy' | i18n}}</div>
		<div class="input">
			<input type="text" ng-model="createdBy" typeahead="user as user.username for user in users | filter:$viewValue | limitTo:15 ">
		</div>
	</div>
	<div ng-show="!!opts.showReportedBy" class='container-fluid'>
		<div class="label">{{'filters.labels.reportedBy' | i18n}}</div>
		<div class="input">
			<input type="text" ng-model="reportedBy" typeahead="user as user.username for user in users | filter:$viewValue | limitTo:15 ">
		</div>
	</div>
	<div ng-show="!!opts.showAbuseReportStatus">
		<div class="label">{{'filters.labels.status' | i18n }}</div>
		<div class="input">
			<select ng-options="s as ('filters.status.' + s | i18n) for s in abuseReportStatus" ng-model="model.status">
				<option value="">{{'filters.all'|i18n}}</option>
			</select>
		</div>
	</div>
</form>
