
<script type="text/ng-template" id="customPopupTemplate.html">
    <div class="custom-popup-wrapper"
         ng-style="{top: position().top+'px', left: position().left+'px'}"
         style="display: block;"
         ng-show="isOpen() && !moveInProgress"
         aria-hidden="{{!isOpen()}}">

        <ul class="dropdown-menu" role="listbox">
            <li class="uib-typeahead-match" ng-repeat="match in matches track by $index" ng-class="{active: isActive($index) }"
                ng-mouseenter="selectActive($index)" ng-click="selectMatch($index)" role="option" id="{{::match.id}}">
                <div uib-typeahead-match index="$index" match="match" query="query" template-url="templateUrl"></div>
            </li>
        </ul>
    </div>
</script>
<!-- starting filters -->
<div>
    <nav class="navbar" role="navigation">
        <div class="navbar-header ">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-xs-8">
                        <button type="button" class="navbar-toggle  mobile-filter-button-l"  ng-click="isNavCollapsed = !isNavCollapsed">
                            <div >{{'filters.labels.language' | translate}} | {{'filters.labels.subject' | translate}} | {{'filters.labels.age' | translate}}  </div>
                        </button>
                    </div>
                    <div class="col-sm-4 col-xs-4">
                        <button type="button" class="navbar-toggle mobile-filter-button-r">
                            <a style="color:black" href="#!/lessons/invite/pin">{{'baseLayout.navbar.enterPin' | translate}}
                            </a>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="collapse navbar-collapse" uib-collapse="!isNavCollapsed">

            <div class="hidden-lg hidden-md"> <!--start mobile only portion of code-->
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12" ng-show="!!opts.showReportLesson">
                        <div class="well well-sm filter-box">
                            <div style="padding-bottom: .5em; font-weight: 600">{{'filters.label.reportLesson' | translate }}</div>
                            <div class="input-group input-group-sm">
                                <div report-lesson-filter="reportLesson" report-type="reportType"></div>
                                <span class="input-group"></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6"  ng-show="!!opts.showLanguage">
                        <div class="well well-sm filter-box">
                            <form>
                                <div class="form-group">
                                    <label class="filter-label" for="sel3">{{'filters.labels.language' | translate }}</label>
                                    <select  class="form-control" id="sel3" ng-options="l as ('filters.languages.' + l | translate) for l in languages track by l"
                                             ng-model="filterLanguage" ng-change="isNavCollapsed = !isNavCollapsed">
                                    </select>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-6" ng-show="!!opts.showSubject" >
                        <div class="well well-sm filter-box">
                            <form>
                                <div class="form-group">
                                    <label class="filter-label" for="sel1">{{'filters.labels.subject' | translate }}</label>
                                    <select class="form-control" id="sel1" ng-options="s as ('filters.subjects.' + s | translate) for s in subjects track by s"
                                            ng-model="model.subject" ng-change="isNavCollapsed = !isNavCollapsed">
                                        <option value="">{{'filters.all'|translate}}</option>
                                    </select>
                                </div>
                            </form>
                        </div>
                    </div>



                    <div class="col-lg-2 col-md-3 col-sm-3 col-xs-6" ng-show="!!opts.showAge">
                        <div class="well well-sm filter-box">
                            <div class="filter-label">{{'filters.labels.ageRange' | translate }}</div>
                            <div class="input-group input-group-sm">
                                <input class="form-control" min="4" max="17" type="number" ng-model="ageFilter.min">
                                <span class="input-group-addon">{{'filters.to'|translate}}</span>
                                <input class="form-control" min="5" max="18" type="number" ng-model="ageFilter.max">
                                <span class="input-group"></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-3 col-sm-3 col-xs-6" ng-show="!!opts.showViews">
                        <div class="well well-sm filter-box">
                            <div class="filter-label">{{'filters.labels.views' | translate }}</div>
                            <div class="input-group input-group-sm">
                                <input type="number" class="form-control" ng-model="viewsFilter.min">
                                <span class="input-group-addon">To</span>
                                <input type="number" class="form-control" ng-model="viewsFilter.max">
                                <span class="input-group"></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-3 col-sm-3 col-xs-6" ng-show="!!opts.showTags">
                        <div class="well well-sm filter-box">
                            <div class="filter-label">{{'filters.labels.tags' | translate }}</div>
                            <div class="input-group input-group-sm">
                                <div tag-section tags="filterTags"></div>
                                <span class="input-group"></span>
                            </div>
                        </div>
                    </div>

                    <div class="typeahead-demo">
                        <div class="col-lg-2 col-md-3 col-sm-3 col-xs-6 " ng-show="!!opts.showCreatedBy">
                            <div class="well well-sm filter-box">
                                <div class="filter-label">{{'filters.labels.createdBy' | translate}}</div>
                                <div class="input-group input-group-sm">
                                    <div class="custom-typeahead">
                                        <input style="height: 33px" type="text" ng-model="createdBy" uib-typeahead="user as user.username for user in users  | filter:$viewValue" typeahead-popup-template-url="customPopupTemplate.html" class="form-control"/>
                                        <span class="input-group"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="typeahead-demo">
                        <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6 " ng-show="!!opts.showStudents">
                            <div class="well well-sm filter-box">
                                <div class="filter-label">{{'filters.labels.doneByStudent' | translate}}</div>
                                <div class="input-group input-group-sm">
                                    <div class="custom-typeahead">
                                        <input style="height: auto;" type="text" ng-model-options="{debounce:500}" ng-model="reportStudent" uib-typeahead="student._id as student._id for student in students | filter:$viewValue | limitTo:15 " typeahead-popup-template-url="customPopupTemplate.html" class="form-control"/>
                                        <span class="input-group"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="typeahead-demo">
                        <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6 " ng-show="!!opts.showClass">
                            <div class="well well-sm filter-box">
                                <div class="filter-label">{{'filters.labels.doneByStudentClassname' | translate}}</div>
                                <div class="input-group input-group-sm">
                                    <div class="custom-typeahead">
                                        <input style="height: auto;" type="text" ng-model-options="{debounce:500}" ng-model="reportClass" uib-typeahead="class._id as class._id for class in classes | filter:$viewValue | limitTo:15 " typeahead-popup-template-url="customPopupTemplate.html" class="form-control"/>
                                        <span class="input-group"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-2 col-md-3 col-sm-3 col-xs-6" ng-show="!!opts.showCorrectPercentage">
                        <div class="well well-sm filter-box">
                            <div style="padding-bottom: .5em; font-weight: 600">{{'filters.labels.correctPercentage' | translate }}</div>
                            <div class="input-group input-group-sm">
                                <input min="1" max="100" size="1" type="number" class="form-control" ng-model-options="{debounce: 500}"
                                       ng-model="correctPercentage.min">
                                <span class="input-group-addon">To</span>
                                <input min="1" max="100" size="1" type="number" class="form-control" ng-model-options="{debounce: 500}"
                                       ng-model="correctPercentage.max">
                                <span class="input-group"></span>
                            </div>
                        </div>
                    </div>



                    <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6" ng-show="!!opts.showReportStatus" >
                        <div class="well well-sm">
                            <form>
                                <div class="form-group">
                                    <label style="padding-bottom: .5em" for="selsR">{{'filters.labels.status' | translate }}</label>
                                    <select class="form-control" id="selsR" ng-options="s as ('filters.status.' + s | translate) for s in reportStatus"
                                            ng-model="reportStatusValue" ng-change="isNavCollapsed = !isNavCollapsed">
                                        <option value="">{{'filters.all'|translate}}</option>
                                    </select>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>

            <div class="hidden-sm hidden-xs"> <!--desktop only code-->
                <div class="col-lg-11 col-md-11">
                <div class="row">

                <div class="col-lg-4 col-md-4 col-sm-2 col-xs-6"  ng-show="!!opts.showLanguage">
                    <div class="filter-box">
                        <form>
                            <div class="form-group">
                                <label class="filter-label" for="sel33">{{'filters.labels.language' | translate }}</label>
                                <select  class="form-control filter-buttons" id="sel33" ng-options="l as ('filters.languages.' + l | translate) for l in languages track by l"
                                         ng-model="filterLanguage" ng-change="isNavCollapsed = !isNavCollapsed">
                                </select>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-6" ng-show="!!opts.showSubject" >
                    <div class="filter-box">
                        <form>
                            <div class="form-group">
                                <label class="filter-label" for="sel11">{{'filters.labels.subject' | translate }}</label>
                                <select class="form-control filter-buttons" id="sel11" ng-options="s as ('filters.subjects.' + s | translate) for s in subjects track by s"
                                        ng-model="model.subject" ng-change="isNavCollapsed = !isNavCollapsed">
                                    <option value="">{{'filters.all'|translate}}</option>
                                </select>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-3 col-xs-6" ng-show="!!opts.showAge">
                    <div class="filter-box">
                        <div class="filter-label">{{'filters.labels.ageRange' | translate }}</div>
                        <div class="input-group input-group-sm filter-buttons">
                            <input class="form-control filter-buttons-double" min="4" max="17" type="number" ng-model="ageFilter.min">
                            <span class="input-group-addon">{{'filters.to'|translate}}</span>
                            <input class="form-control filter-buttons-double" min="5" max="18" type="number" ng-model="ageFilter.max">
                        </div>
                    </div>
                    <a href ng-click="showMoreFilters = !showMoreFilters" ng-init="showMoreFilters = false">
                        <i class="fa fa-ellipsis-h fa-2x" aria-hidden="true"></i>
                    </a>

                </div>
            </div>
                <div ng-show = "showMoreFilters">
                    <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-3 col-xs-6" ng-show="!!opts.showTags">
                    <div class="filter-box">
                        <div class="filter-label">{{'filters.labels.tags' | translate }}</div>
                        <div class="input-group input-group-sm filter-buttons ">
                            <div tag-section tags="filterTags"></div>
                            <span class="input-group"></span>
                        </div>
                    </div>
                </div>
                <div class="typeahead-demo"> <!--createdBy-->
                    <div class="col-lg-4 col-md-4 col-sm-3 col-xs-6 " ng-show="!!opts.showCreatedBy">
                        <div class="filter-box">
                            <div class="filter-label">{{'filters.labels.createdBy' | translate}}</div>
                            <div class="input-group input-group-sm">
                                <div class="custom-typeahead">
                                    <input style="height: 33px" type="text" ng-model="createdBy" uib-typeahead="user as user.username for user in users  | filter:$viewValue" typeahead-popup-template-url="customPopupTemplate.html" class="form-control filter-buttons"/>
                                    <span class="input-group"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-3 col-xs-6" ng-show="!!opts.showViews">
                    <div class="filter-box">
                        <div class="filter-label">{{'filters.labels.views' | translate }}</div>
                        <div class="input-group input-group-sm filter-buttons">
                            <input type="number" class="form-control filter-buttons-double" ng-model="viewsFilter.min">
                            <span class="input-group-addon">To</span>
                            <input type="number" class="form-control filter-buttons-double" ng-model="viewsFilter.max">
                            <span class="input-group"></span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12" ng-show="!!opts.showReportLesson">
                    <div class="filter-box">
                        <div class="filter-label">{{'filters.label.reportLesson' | translate }}</div>
                        <div class="input-group input-group-sm">
                            <div report-lesson-filter="reportLesson" report-type="reportType"></div>
                            <span class="input-group"></span>
                        </div>
                    </div>
                </div>
                <div class="typeahead-demo">
                    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6 " ng-show="!!opts.showStudents">
                        <div class="filter-box">
                            <div class="filter-label">{{'filters.labels.doneByStudent' | translate}}</div>
                            <div class="input-group input-group-sm">
                                <div class="custom-typeahead">
                                    <input style="height: auto;" type="text" ng-model-options="{debounce:500}" ng-model="reportStudent" uib-typeahead="student._id as student._id for student in students | filter:$viewValue | limitTo:15 " typeahead-popup-template-url="customPopupTemplate.html" class="form-control"/>
                                    <span class="input-group"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="typeahead-demo">
                    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6 " ng-show="!!opts.showClass">
                        <div class="filter-box">
                            <div class="filter-label">{{'filters.labels.doneByStudentClassname' | translate}}</div>
                            <div class="input-group input-group-sm">
                                <div class="custom-typeahead">
                                    <input style="height: auto;" type="text" ng-model-options="{debounce:500}" ng-model="reportClass" uib-typeahead="class._id as class._id for class in classes | filter:$viewValue | limitTo:15 " typeahead-popup-template-url="customPopupTemplate.html" class="form-control"/>
                                    <span class="input-group"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-3 col-xs-6" ng-show="!!opts.showCorrectPercentage">
                    <div style="min-height: 94px">
                        <div style="padding-bottom: .5em; font-weight: 600">{{'filters.labels.correctPercentage' | translate }}</div>
                        <div class="input-group input-group-sm">
                            <input min="1" max="100" size="1" type="number" class="form-control" ng-model-options="{debounce: 500}"
                                   ng-model="correctPercentage.min">
                            <span class="input-group-addon">To</span>
                            <input min="1" max="100" size="1" type="number" class="form-control" ng-model-options="{debounce: 500}"
                                   ng-model="correctPercentage.max">
                            <span class="input-group"></span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6" ng-show="!!opts.showReportStatus" >
                    <div>
                        <form>
                            <div class="form-group">
                                <label class="filter-label" for="selsRR">{{'filters.labels.status' | translate }}</label>
                                <select class="form-control" id="selsRR" ng-options="s as ('filters.status.' + s | translate) for s in reportStatus"
                                        ng-model="reportStatusValue" ng-change="isNavCollapsed = !isNavCollapsed">
                                    <option value="">{{'filters.all'|translate}}</option>
                                </select>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
                </div>
            </div>
            </div>
        </div>
    </nav>
</div>

<div class="clear-filter-section" filter-is-active-show-hide relevancy-opts="opts">
    <button class="btn btn-success wide" lergo-reset-filter> {{ 'filters.actions.clear' | translate }}</button>
</div>
