
<div>
    <img ng-show="!!img" class="img-responsive" ng-show="!!img" ng-src="{{img}}" width="100%" />
    <div class="playlist-image-overlay">
        <img class="img-responsive" ng-show="!!img" ng-src="https://lergo-images.s3-eu-west-1.amazonaws.com/playlist+overlay+only+rev1.png" />
    </div>
    <img ng-show="!img" class="img-responsive" ng-show="!img" ng-src="https://lergo-images.s3-eu-west-1.amazonaws.com/lergo+default+image++-+playlist+rev8+right+smaller+smooth+angles.png" width="100%" />
</div>