<div class="header-signup" ng-show="!user">
    <a href="#!/public/session/login"> {{ 'button.login' | translate }}</a>
    <a href="#!/public/session/signup"> {{ 'button.signup' | translate }}</a>
</div>
<div class="header-login" ng-show="!!user" ng-mouseleave="openMenu(false)">
    <a href="#!/user/create/invites" ng-click="mouseClicked($event)" ng-mouseover="openMenu(true)">
        <img ng-src="{{user.gravatarUrl}}">
        {{user.username}}
    </a>
    <div class="user-section-menu" uib-dropdown is-open="menuIsOpen">
        <ul class="dropdown-menu">
            <li><a href="/#!/user/create/profile">{{'baseLayout.header.links.profile' | translate}}</a></li>
            <li><a href="/#!/user/create/lessons">{{'baseLayout.header.links.lessons' | translate}}</a></li>
            <li><a href="/#!/user/create/questions">{{'baseLayout.header.links.questions' | translate}}</a></li>
            <li><a href="/#!/user/create/reports">{{'baseLayout.header.links.reports' | translate}}</a></li>
            <li><a href="/#!/user/create/invites">{{'baseLayout.header.links.invites' | translate}}</a></li>
            <li class="divider" admin-section="lessons || abuseReports || roles || users"> </li>
            <li admin-section="!!lessons"><a href="/#!/admin/homepage/lessons">{{'baseLayout.header.links.manageLessons' | translate}}</a></li>
            <li admin-section="!!abuseReports"><a href="/#!/admin/homepage/abuseReports">{{'baseLayout.header.links.manageAbuseReports' | translate}}</a></li>
            <li admin-section="!!roles"><a href="/#!/manage/roles">{{'baseLayout.header.links.manageRoles' | translate}}</a></li>
            <li admin-section="!!users.userCanPatchUsers"><a href="/#!/manage/users">{{'baseLayout.header.links.manageUsers' | translate}}</a></li>
            <li class="divider"></li>
            <li><a ng-click="logout()">{{ 'baseLayout.header.links.logout' | translate }}</a></li>
        </ul>
    </div>

</div>
