<div class="tag-section-wrapper">
    <div class="tags-section">
        <span ng-repeat="tag in tags"><span class="lergo-tag-item">{{tag.label}}<span class="lergo-tag-item-remove fa fa-times" ng-show="canRemoveTags" ng-click="removeTag(tag)">
        </span>
        </span>
        </span>
        <!-- if no tags avaiable, hide typeahead or otherwise we will get errors in the console -->
        <!--<input ng-model="newTag" type="text" ng-show="!tagsAvailable" placeholder="{{'tagHint' | translate}}" ui-keypress="{enter: 'finishTyping(newTag)'}"/>-->


        <!--ng-show="!!tagsAvailable"-->
        <input ng-model="newTag" type="text" name="filterName" ng-trim="false"
               typeahead-wait-ms="100"
               placeholder="{{'tagHint' | translate}}"
               uib-typeahead="tag as tag.label for tag in getTagsLike($viewValue)"
                typeahead-append-to-body="true"
                typeahead-on-select="addTagFromTypeahead($item, $model, $label)"
                class="form-control" style="border-radius: 3px"/>
    </div>
    {{error | translate }}
</div>
