<div class="lergo-form invite playlist-action-panel">
    <div class="invite-sections sections-links playlist-action-panel-navigation clearfix">
        <p class="lergo-h4 playlist-action-panel-link" ng-class="{active:isStudentMode()}" ng-click="setStudentMode() ">
            {{'playlists.invitePlaylist.student.msg'| translate}}</p>
        <p class="lergo-h4 playlist-action-panel-link" ng-class="{active:isClassMode()}" ng-click="setClassMode()">
            {{'playlists.invitePlaylist.class.msg' | translate }}</p>
        <button class="btn-link close-button" ng-click="onClose()"><span class="fa fa-times"></span></button>
    </div>


    <script type="text/ng-template" id="inline_playlistCreateInviteFormItem.html">
        <div class="container" style="width: 100%" >
            <div class="row" style="margin: 0">
                <p ng-show="!isSuccess()">{{'playlists.invitePlaylist.' + mode + '.help' | translate }} </p>
                <p ng-show="isSuccess()">{{'playlists.invitePlaylist.' + mode + '.success.help' | translate }} </p>
                <div class="invite-form-link">
                    <div class="links-sharing" ng-show="copied"> <i class="fa fa-copy"></i> &nbsp;{{messageText | translate}}&nbsp;</div>

                    <div  ng-class="{'col-md-4':isSuccess(),'col-md-12':!isSuccess() }">
                        <div  style="margin: 0 1vw 0 1vw"> {{'playlists.invitePlaylist.' + mode + '.name' | translate }} </div>
                        <input style="width: 90%; margin: auto;" type="text" ng-model="invitationName" on-enter="enterPressed()"
                               ng-class="{'in-success':isSuccess()}"/>
                    </div>
                    <div ng-show="isSuccess()" class="col-md-8">

                        <p style="margin: 0 1vw 0 1vw">{{'pin' | translate }}
                            <small style="font-size: 11px">{{'playlists.invitePlaylist.'+mode+'.pinHint' | translate}}</small>
                        </p>
                        <input style="width: 90%; margin: auto; direction: inherit" type="text" ng-value="getPin()" readonly on-enter="enterPressed()"
                               ng-class="{'in-success':isSuccess()}" select-all-text-on-click="pin" on-enter/>
                    </div>



                <div ng-show="isSuccess()" class="invite-link">
                    <div ng-show="!copied">{{'playlists.invitePlaylist.' + mode + '.success.invite' | translate}}</div>
                    <textarea class="link" readonly select-all-text-on-click="link"
                           on-enter="enterPressed()">{{getLink()}}</textarea>
                </div>
            </div>
        </div>
            <br/>
            <div class="button">
                <button class="btn" ng-click="sendInvite()" ng-show="!isSuccess()" ng-disabled="!isValid()">{{
                    'button.submit' | translate }}
                </button>
                <button ng-click="newInvite()" class="btn" ng-show="isSuccess()">{{ 'button.newInvite' | translate }}
                </button>
            </div>
            <div>
                <span class="lergo-h4">{{'playlists.invitePlaylist.' + mode + '.noteTitle' | translate}}:</span>
                {{'playlists.invitePlaylist.' + mode + '.noteMessage' | translate}}
            </div>

        </div>
    </script>



    <div ng-show="isStudentMode()" ng-class="{active:isStudentMode()}">
        <div playlist-create-invite-form-item="student"></div>
    </div>

    <div ng-show="isClassMode()" ng-class="{active:isClassMode()}">
        <div playlist-create-invite-form-item="class"></div>
    </div>
</div>
