<div id="translationDiffPage">

    {{ 'translation.comparingTitle' | translate }} {{ 'languages.' + $root.lergoLanguage | translate }}
    <table class="table table-striped table-condensed">
        <thead>
        <tr>
            <th class="key-column">{{ 'translation.key' | translate }}</th>
            <th class="translation-column"> {{ 'translation.baseLanguage' | translate }}</th>
            <th class="translation-column"> {{ 'translation.translation' | translate }}</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="entry in translationEntries">
            <td class="key-column">
                <div class="key-column" title="{{entry}}">
                {{ entry }}
                </div>
            </td>
            <td class="translation-column">
                {{getBaseValue(entry)}}

            </td>
            <td class="translation-column"
                style=".empty-cell { background-color: brown; }"
                ng-class="{ 'empty-cell': getTranslationValue(entry) === '' }">
                {{getTranslationValue(entry)}}

            </td>
        </tr>
        </tbody>

    </table>
</div>
