<div class="question-preview">
	<div class="hint">
		<button ng-show="!!quizItem.hint" ng-click="hintUsed(quizItem)" popover-placement="top" uib-popover="{{quizItem.hint}}" class="btn-link hint"
			 popover-trigger="'outsideClick'" tabindex="0">{{'hint' | translate}}</button>
	</div>
	<div dir="auto" class="question-title">
		<p class="lergo-h4">{{quizItem.question}}</p>
	</div>
	<div dir="auto" class="help">
		<p class="question-help-text">{{quizItem.helpText}}</p>
	</div>
	<div quiz-item-media quiz-item="quizItem"></div>
	<div class="answers">
		<input dir="auto" id="exactQuestionText" ng-model="quizItem.userAnswer" autofocus ng-init="setFocus('exactQuestionText')" />
	</div>
	<br />
	<div class="submit">
		<button class="btn" type="submit" ng-disabled="!canSubmit(quizItem)" ng-click="checkAnswer()">{{ 'button.submit' | translate }}</button>
	</div>
	<br />
	<div ng-include="'views/questions/view/preview/partials/_result.html'"></div>
</div>
