<div style="height: 1px"></div>
<div class="question-preview" ng-init="scrollToTop()" style="overflow-y: auto">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-2 col-xs-2">
                <div class="hint">
                    <button ng-show="!!quizItem.hint" ng-click="hintUsed(quizItem)" popover-placement="auto bottom-right" uib-popover="{{quizItem.hint}}" class="btn-link hint"
                            popover-trigger="'outsideClick'" tabindex="0">{{'hint' | translate}}</button>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-10 col-xs-10">
                <div dir="auto" class="question-title" style="line-height: 3">
                    {{!quizItem.userAnswer && (quizItem.userAnswer=[])||""}}
                    <span class="lergo-h4" style="line-height: 0.75" ng-repeat="option in quizItem.question.split('___') track by $index">
                        <span class="lergo-h4">{{option}}</span>
                        <span ng-show="!$last" style="display: inline-block;">
                        <input style="width:{{getFillIntheBlankSize(quizItem,$index)}}px; display: inline; min-height: 28px;"
                            ng-model="quizItem.userAnswer[$index]" set-focus="$first">
                        <span ng-show="getAnswer() && !getAnswer().correct">
                            <i ng-show="!isCorrectFillInTheBlanks(quizItem , $index)" class="fa fa-times wrong"></i>
                            <i ng-show="!!isCorrectFillInTheBlanks(quizItem , $index)" class="fa fa-check correct"></i>
                        </span>
                        </span>
                    </span>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div dir="auto" class="help">
                    <p class="question-help-text">{{quizItem.helpText}}</p>
                    <div class="height10" ></div>
                </div>
            </div>
            <div quiz-item-media class="img-small"   quiz-item="quizItem"></div>
        </div>
        <div class="row">
            <div class="submit text-center">
                <button class="btn" type="submit" ng-disabled="!canSubmit(quizItem)" ng-click="checkAnswer()">{{ 'button.submit' | translate }}</button>
            </div>
            <br />
            <div ng-include="'views/questions/view/preview/partials/_result.html'"></div>
        </div>
    </div>
</div>
