<div class="question-preview">
	<div class="hint">
		<button ng-show="!!quizItem.hint" ng-click="hintUsed(quizItem)" popover-placement="top" popover="{{quizItem.hint}}" class="btn-link hint"
			popover-trigger="focus" tabindex="0">{{'hint' | i18n}}</button>
	</div>
	<div class="question-title">
		<p class="lergo-h4">{{quizItem.question}}</p>
	</div>
	<div class="help">
		<p class="question-help-text">{{quizItem.helpText}}</p>
	</div>
	<div quiz-item-media quiz-item="quizItem"></div>
	<div multi-choice quiz-item="quizItem"></div>
	<br />
	<div class="submit">
		<button class="btn" type="submit" ng-disabled="!canSubmit(quizItem)" ng-click="checkAnswer()">{{ 'button.submit' | i18n }}</button>
	</div>
	<br />
	<div ng-include="'views/questions/view/preview/partials/_result.html'"></div>
</div>