
<div class="question-preview" ng-init="scrollToTop()">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                <div dir="auto" class="question-title">
                    <p class="lergo-h4">{{quizItem.question}}</p>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                <div class="hint">
                    <button ng-show="!!quizItem.hint" ng-click="hintUsed(quizItem)" popover-placement="auto bottom-right" uib-popover="{{quizItem.hint}}" class="btn-link hint"
                            popover-trigger="'outsideClick'" tabindex="0">{{'hint' | translate}}</button>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div dir="auto" class="help">
                    <p class="question-help-text">{{quizItem.helpText}}</p>
                    <div class="height10" ></div>
                </div>
            </div>
            <div quiz-item-media class="img-small"   quiz-item="quizItem"></div>
        </div>
        <div class="row">
            <div  class="answers">
                <input dir="auto" id="openQuestionText" ng-show="quizItem.subType==='short'" ng-model="quizItem.userAnswer" autofocus />
                <textarea dir="auto" id="openQuestionTextarea" ng-show="quizItem.subType==='long'" ng-model="quizItem.userAnswer" autofocus></textarea>
                <span ng-init="quizItem.subType==='short' ? setFocus('openQuestionText') : setFocus('openQuestionTextarea')"></span>
            </div>
            <br />
            <div class="submit text-center">
                <button class="btn" type="submit" ng-disabled="!canSubmit(quizItem)" ng-click="checkAnswer()">{{ 'button.submit' | translate }}</button>
            </div>
            <br />
            <div ng-show="!!getAnswer(quizItem)">
                <div class="bg-primary">
                    <span>{{'questions.thankYou' | translate}}</span>
                    <div ng-show="shouldShowExplanationMessage()">
                        <button class="btn-link" style="color: white" ng-click="isCollapsed = !isCollapsed">{{ 'explanation' | translate }}</button></div>
                        <div dir="auto" style="margin: auto" uib-collapse="!!isCollapsed">{{quizItem.explanation}}</div>
                </div>
            </div>
            <div ng-show="!getAnswer()">
                <div class="bg-primary">{{'steps.answer' | translate }}</div>
            </div>
        </div>
    </div>
</div>
