<div class="question-preview">
	<div class="hint">
		<button ng-show="!!quizItem.hint" ng-click="hintUsed(quizItem)" popover-placement="top" uib-popover="{{quizItem.hint}}" class="btn-link hint"
			 popover-trigger="'outsideClick'" tabindex="0">{{'hint' | translate}}</button>
	</div>
	<div dir="auto" class="question-title">
		<p class="lergo-h4">{{quizItem.question}}</p>
	</div>
	<div dir="auto" class="help">
		<p class="question-help-text">{{quizItem.helpText}}</p>
	</div>
	<div quiz-item-media quiz-item="quizItem"></div>
	<div  class="answers">
		<input dir="auto" id="openQuestionText" ng-show="quizItem.subType==='short'" ng-model="quizItem.userAnswer" autofocus />
		<textarea dir="auto" id="openQuestionTextarea" ng-show="quizItem.subType==='long'" ng-model="quizItem.userAnswer" autofocus></textarea>
        <span ng-init="quizItem.subType==='short' ? setFocus('openQuestionText') : setFocus('openQuestionTextarea')"></span>
	</div>
	<br />
	<div class="submit">
		<button class="btn" type="submit" ng-disabled="!canSubmit(quizItem)" ng-click="checkAnswer()">{{ 'button.submit' | translate }}</button>
	</div>
	<br />
	<div ng-show="!!getAnswer(quizItem)">
		<div class="bg-primary">
			<span>{{'questions.thankYou' | translate}}</span>
			<div ng-show="shouldShowExplanationMessage()">
				<button class="btn-link" style="color: white" ng-click="isCollapsed = !isCollapsed">{{ 'explanation' | translate }}</button></div>
                <div dir="auto" style="width: 400px; margin: auto" collapse="!!isCollapsed">{{quizItem.explanation}}</div>
		</div>
	</div>
	<div ng-show="!getAnswer()">
		<div class="bg-primary">{{'steps.answer' | translate }}</div>
	</div>
</div>
