<div>
    <script type="text/ng-template" id="goToMyPlaylistsDemoDialog.html">
        <div lergo-language-direction-class>
            <div class="modal-header lergo-h1">
                {{ 'demos.goToMyPlaylists.title' | translate }}
            </div>
            <div class="intro">
                {{ 'demos.goToMyPlaylists.intro' | translate }}
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" ng-click="okGotIt()">{{ 'demos.gotIt' | translate }}</button>
                <button class="btn" ng-click="dontShowAgain()">{{ 'demos.dontShowAgain' | translate }}</button>
            </div>
        </div>
    </script>
</div>
