<div class="base-layout">
    <table>
        <tr>
            <td>Title</td>
            <td>public since</td>
            <td>Actions</td>
        </tr>
        <tr ng-repeat="l in lessons">
            <td>
                {{l.name}}
            </td>
            <td>
                {{l.public | date:'EEE dd,yyyy HH:mm:ss' }}
            </td>
            <td>

                <button ng-show="!isChanging(l)" ng-disabled="!!l.public" ng-click="makePublic(l)"> Make Public </button>
                <button ng-show="!isChanging(l)" ng-disabled="!l.public" ng-click="makePrivate(l)"> Make Private </button>
                <div ng-show="isChanging(l)" class="loader-short"></div>


            </td>

        </tr>
    </table>
</div>

