<div load-filter-and-paging="loadLessons()" admin-homepage>
	<div class="page-content-width page-content-titles">
		<div class="page-content-body">
			<div class="lergo-h1">{{ 'admin.allLessons' | translate }} [ {{ 'lessons.total' | translate }}: {{systemStats.lessonsCount}} ; {{'admin.public'|translate}}:
				{{systemStats.publicLessonsCount}} ]</div>
		</div>
		<div class="page-content-sidebar">
			<div class="lergo-h1">{{ 'lessons.filter' | translate }}</div>
		</div>
	</div>
	<div class="page-content-width">
		<div class="page-content-body">
			<table class="lergo-table ">
				<thead>
					<tr>
						<td class="checkbox-dropdown">
                            <span admin-section="lessons.userCanPublish || lessons.userCanUnpublish || lessons.userCanDelete">
                                <div class="btn-group" uib-dropdown>
                                    <input type="checkbox" ng-change="selectAll()" ng-model="manageLessons.allSelected">
                                    <button type="button" class="btn-link" uib-dropdown-toggle>
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">

                                        <li admin-section="lessons.userCanPublish">
                                            <a  style="outline: none;" class="btn-link" ng-click="makePublic()">{{'admin.makePublic'|translate}}</a>
                                        </li>
                                        <li admin-section="lessons.userCanUnpublish">
                                            <a  style="outline: none;" class="btn-link" ng-click="makePrivate()">{{'admin.makePrivate'|translate}}</a>
                                        </li>
                                        <li class="divider" admin-section="lessons.userCanDelete"></li>
                                        <li admin-section="lessons.userCanDelete">
                                            <a  style="outline: none;" class="btn-link" ng-click="deleteLesson()">{{'delete'|translate}}</a>
                                        </li>
                                    </ul>
                                </div>
                            </span>
						</td>
						<td> {{'name'|translate}}</td>
						<td>{{'admin.by'|translate}}</td>
                        <td>{{'admin.publicCount'|translate}}</td>
						<td>{{'admin.views'|translate}}</td>
						<td>{{'admin.created'|translate}}</td>
						<td>{{'admin.publicFrom'|translate}}</td>
						<td>{{'admin.questions'|translate}}</td>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="l in lessons">
						<td>
							<input type="checkbox" style="margin-left: 5px;" ng-model="l.selected">
						</td>
						<td dir="auto" class="name">
							<a ng-show="!!l.name && l.name.trim().length > 0" uib-tooltip="{{'lessons.tooltip.go' | translate}}" ng-href="#!/user/lessons/{{l._id}}/intro">{{
								l.name }}</a>
							<a ng-show="!l.name || l.name.trim().length <= 0" uib-tooltip="{{'lessons.tooltip.go' | translate}}" ng-href="#!/user/lessons/{{l._id}}/intro">[ no
								title ]</a>
						</td>
						<td>
							<a href="mailto:{{getUser(l).email}}">{{getUser(l).username}}</a>
						</td>
                        <td>{{l.publicCount}}</td>
                        <td>{{l.views}}</td>
						<td>{{l.createdAt | date:'d-MMM-yyyy HH:mm'}}</td>
						<td>{{l.public | date:'d-MMM-yyyy HH:mm' }}</td>
                        <td>{{ l | countQuestionsOnLesson }}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="page-content-sidebar">
			<div lergo-filter model="adminFilter" opts="adminFilterOpts" on-change="loadLessons()" on-load="filterLoaded()"></div>
		</div>
	</div>
	<div lergo-paging page="filterPage" on-change="loadLessons()" on-load="pagingLoaded()"></div>
</div>
