<div load-filter-and-paging="loadLessons()">
	<div class="page-content-width page-content-titles">
		<div class="page-content-body">
			<div class="lergo-h1">{{ 'admin.allLessons' | i18n }} [ {{ 'lessons.total' | i18n }}: {{systemStats.lessonsCount}} ; {{'admin.public'|i18n}}:
				{{systemStats.publicLessonsCount}} ]</div>
		</div>
		<div class="page-content-sidebar">
			<div class="lergo-h1">{{ 'lessons.filter' | i18n }}</div>
		</div>
	</div>
	<div class="page-content-width">
		<div class="page-content-body">
			<table class="lergo-table ">
				<thead>
					<tr>
						<td class="checkbox-dropdown">
							<div class="btn-group" dropdown>
								<input type="checkbox" ng-click="selectAll($event)">
								<button type="button" class="btn-link" dropdown-toggle>
									<span class="caret"></span>
								</button>
								<ul class="dropdown-menu" role="menu">
									<li>
										<a  style="outline: none;" class="btn-link" ng-click="makePublic()">{{'admin.makePublic'|i18n}}</a>
									</li>
									<li>
										<a  style="outline: none;" class="btn-link" ng-click="makePrivate()">{{'admin.makePrivate'|i18n}}</a>
									</li>
									<li class="divider"></li>
									<li>
										<a  style="outline: none;" class="btn-link" ng-click="deleteLesson()">{{'delete'|i18n}}</a>
									</li>
								</ul>
							</div>
						</td>
						<td>{{'name'|i18n}}</td>
						<td>{{'admin.by'|i18n}}</td>
						<td>{{'admin.views'|i18n}}</td>
						<td>{{'admin.created'|i18n}}</td>
						<td>{{'admin.publicFrom'|i18n}}</td>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="l in lessons">
						<td>
							<input type="checkbox" style="margin-left: 5px;" ng-model="l.selected">
						</td>
						<td>
							<a ng-show="!!l.name && l.name.trim().length > 0" tooltip="{{'lessons.tooltip.go' | i18n}}" ng-href="#!/user/lessons/{{l._id}}/intro">{{
								l.name }}</a>
							<a ng-show="!l.name || l.name.trim().length <= 0" tooltip="{{'lessons.tooltip.go' | i18n}}" ng-href="#!/user/lessons/{{l._id}}/intro">[ no
								title ]</a>
						</td>
						<td>
							<a href="mailto:{{getUser(l).email}}">{{getUser(l).username}}</a>
						</td>
						<td>{{l.views}}</td>
						<td>{{l.createdAt | date:'d-MMM-yyyy HH:mm'}}</td>
						<td>{{l.public | date:'d-MMM-yyyy HH:mm' }}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="page-content-sidebar">
			<div lergo-filter model="adminFilter" opts="adminFilterOpts" on-change="loadLessons()" on-load="filterLoaded()"></div>
		</div>
	</div>
	<div lergo-paging page="filterPage" on-change="loadLessons()" on-load="pagingLoaded()"></div>
</div>