
.create-your-own-box {

  line-height: 35px;
  white-space: nowrap;

  min-height: 100px;
  color: #C5C5C5;
  .create {
    font-weight: bold;
    display: inline-block;
    font-size: 19px;
    color: #676767;
  }
  .start {
    background: #FFE509;
    padding: 5px 35px;
    color: #968D56;
    font-size: 17px;
  }
  .free {
    display: inline-block;
    margin-left: 8px;
    font-weight: bold;
    text-transform: uppercase;
    background: transparent;
    color: #676767;
    font-size: 17px;
  }
}

.he{
  .create-your-own-box{
    .free{
      font-size:21px;
    }
    .create{

      font-size:25px;
    }
  }
}
