
.create-your-own-box {

  line-height: 35px;
  white-space: nowrap;
  margin: 11px -33px 0 -70px;

  color: #C5C5C5;

  a {
      color: white;
      font-size: 19px;
      text-decoration: none;
      &:hover {
            color: rgba(0, 0, 0, 0.3);
        }
  }

  .fa.fa-plus {
      margin-left: 10px;
  }
}

.rtl {
    .create-your-own-box {
        margin: 11px -43px 0 -70px;
         a {
            font-size: 22px;
            margin-left: 32px;
        }
        .fa.fa-plus {
            margin-top: 6px;
            margin-right: 4px;
        }

    }
}


.he{
  .create-your-own-box{
    .free{
      font-size:21px;
    }
    .create{

      font-size:25px;
    }
  }
}

.create-your-own-box-mobile {

    line-height: 35px;
    white-space: nowrap;

    min-height: 100px;
    color: #C5C5C5;
    .create {
        font-weight: bold;
        display: inline-block;
        font-size: 19px;
        color: #676767;
    }
    .start {
        padding: 5px 35px;

        font-size: 17px;
    }
    .free {
        display: inline-block;
        margin-left: 8px;
        font-weight: bold;
        text-transform: uppercase;
        background: transparent;
        color: #676767;
        font-size: 17px;
    }
}

// ipad only
@media screen and (min-device-width : 1024px) and (max-width: 1199px) {

}



