<div class="row row-nested top20" id="quizUpdate">
    <div class="col-md-3 practise-button">
        <p>{{'quiz.practiseMode' | translate}}
            <sup>
                <!--  tabindex = 0 is use to fix focus trigger problem in google chrome -->
                <a popover="{{'quiz.testModeHint' | translate}}" class="fa fa-question-circle no-underline-v1"
                   popover-placement="top" popover-trigger="focus" tabindex="0" style="text-decoration: none"></a>
            </sup>
            <sub>
                <input type="checkbox" ng-true-value="'False'" ng-false-value="'True'" ng-model=step.testMode>
            </sub>
        </p>
    </div>
    <div class="col-md-3 ">
        <p>
            {{'quiz.testMode' | translate}}
            <sub>
                <input ng-true-value="'True'" ng-false-value="'False'" type="checkbox" ng-model=step.testMode>
            </sub>
        </p>
    </div>
    <div class="col-md-5 text-right">
        <p>{{'quiz.shuffleQuestion' | translate}}
            <sup>
                <a popover="{{'quiz.shuffleQuestionHint' | translate}}" class="fa fa-question-circle"
                   popover-placement="top" popover-trigger="focus" tabindex="0" style="text-decoration: none"></a>
            </sup>
            <sub>
                <input type="checkbox" ng-model=step.shuffleQuestion>
            </sub>
        </p>
    </div>
</div>

<div class="row top10 row-nested" ng-show="step.testMode === 'False'">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6">
                <p>
                    {{'quiz.allowRetry' | translate}}
                    <sup>
                        <a popover="{{'quiz.retryQuestionHint' | translate }}" class="fa fa-question-circle"
                           popover-placement="top" popover-trigger="focus" tabindex="0"
                           style="text-decoration: none"></a>
                    </sup>
                    <sub> <input type="checkbox" ng-model=step.retryQuestion> </sub>
                </p>
            </div>
            <div ng-if="!!step.retryQuestion" class="col-md-6 text-right">
                <p>
                    {{'quiz.showCorrectAns' | translate}}
                    <sup>
                        <!--  tabindex = 0 is use to fix focus trigger problem in google chrome -->
                        <a popover="{{'quiz.showCorrectAnsHint' | translate}}"
                           class="fa fa-question-circle no-underline-v1"
                           popover-placement="top" popover-trigger="focus" tabindex="0"
                           style="text-decoration: none"></a>
                    </sup>
                    <sub>
                        <select ng-options="o as o for o in [1,2]" ng-model="step.retBefCrctAns">
                        </select>
                        <!--<input type="number" style="display: inline;min-height: 0px" max="3" min="1"
                               ng-model=step.retBefCrctAns>-->
                    </sub>
                    <ng-pluralize count="step.retBefCrctAns" when="{
                        '0': '{{ &quot;report.lessonStep.practiceMode.try.zero&quot;|translate}}',
                        'one': '{{ &quot;report.lessonStep.practiceMode.try.one&quot;|translate}}',
                        'other': '{{ &quot;report.lessonStep.practiceMode.try.other&quot;|translate}}'}">
                    </ng-pluralize>
                </p>

            </div>
        </div>
    </div>
</div>

<div class="row row-nested top20">
    <div class="row row-nested top10" ng-repeat="item in step.quizItems">
        <div dir="auto" class="col-md-8">
            <a href="" ng-click="openUpdateQuestion(step,item)">{{getQuestion(item)}}</a>
        </div>
        <div class="col-md-3 text-right">
            <a href="" ng-click="moveQuizItemUp($index,step)" ng-show="!$first" class="fa fa-arrow-up"></a>
            <a href="" ng-click="moveQuizItemDown($index,step)" ng-show="!$last" class="fa fa-arrow-down"></a>
            <a href="" ng-click="removeItemFromQuiz( item, step )">X</a>
        </div>
    </div>
</div>

<div class="row row-nested top20">
    <div class="col-md-12">
        <button class="btn" ng-click="addQuestionBtnDisable || addCreateQuestion(step)"
                ng-disabled="addQuestionBtnDisable">
            <i ng-show="addQuestionBtnDisable" class="fa fa-circle-o-notch fa-spin" aria-hidden="true"></i>
            {{ 'lessons.addQuestion' | translate }}
        </button>
        <sup>
            <!--  tabindex = 0 is use to fix focus trigger problem in google chrome -->
            <a popover="{{'quiz.addQuestionHint' | translate}}" class="fa fa-question-circle"
               popover-placement="top" popover-trigger="focus" tabindex="0" style="text-decoration: none"></a>
        </sup>
    </div>
</div>
