<ng-form name="videoForm">
<table class="lergo-table">
	<tr>
		<td style="width: 13%">
			<div class="video-tip">
				<span>{{ 'lessons.videoURL' | i18n }}</span>
				<span class="video-tip">
					<a  href="" ng-click="showTip=!showTip">
						<i class="fa fa-question-circle"></i>
					</a>
				</span>
			</div>
		</td>
		<td>
			<div class="form-group" ng-class="{ 'has-error' : videoForm.videoURL.$invalid && !videoForm.videoURL.$pristine }">
				<input required class="form-control" name="videoURL" placeholder="{{'lessons.videoURLHelpText' | i18n }}" ng-model="step.videoUrl"
					ng-pattern="/^(?:https?:\/\/)?(?:www\.)?(?:youtu\.be\/|youtube\.com\/(?:embed\/|v\/|watch\?v=|watch\?.+&v=))((\w|-){11})(?:\S+)?$/">
				<p ng-show="videoForm.videoURL.$error.pattern || (videoForm.videoURL.$invalid && !videoForm.videoURL.$pristine)" class="help-block">{{'steps.invalidURL'
					| i18n}}</p>
			</div>
			<div collapse="!showTip">
				{{ 'lessons.genericVideosPre' | i18n }}
				<a ng-href="https://docs.google.com/spreadsheets/d/1g_JlB6lSM0N1X-oTb_kEP6UgggCVfLuvkRCe-h7Oqjo/edit?usp=sharing/{{hash}}" target="_videoblank">{{'clickHere'
					| i18n}}</a><span> {{ 'lessons.genericVideosPost' | i18n }}</span>
			</div>
		</td>
	</tr>
</table>
</ng-form>