<div class="base-layout" id="changePassword">
    <div class="centered-content">
        <div class="loader-short" ng-show="requestProgress.inProgress">

        </div>
        <div class="request-progress">
            <div class="bg-success" ng-show="requestProgress.success">
                {{ 'changePassword.success' | i18n }}
            </div>
            <div class="bg-warning" ng-show="requestProgress.error">
                {{ 'changePassword.error' | i18n }}
            </div>


        </div>
        <div class="lergo-form login-form">
            <form ng-submit="submitForm()">
                <div class="section">
                    <div class="label">
                        {{ 'input.password' | i18n }}
                    </div>
                    <div class="input">
                        <input type="password" ng-model="changePasswordForm.password"/>
                    </div>
                </div>


                <div class="section">
                    <div class="label">
                        {{ 'input.confirmPassword' | i18n }}
                    </div>
                    <div class="input">
                        <input type="password" ng-model="changePasswordForm.passwordConfirm"/>
                    </div>
                </div>

                <div class="actions">
                    <button class="btn"> {{ 'button.submit' | i18n }}</button>
                    <a href="#!/"> {{ 'button.login' | i18n }}</a>
                </div>
            </form>
        </div>
    </div>
</div>
