<div class="base-layout" id="changePassword">
    <div class="centered-content">
        <div class="loader-short" ng-show="requestProgress.inProgress">

        </div>
        <div class="request-progress">
            <div class="bg-success" ng-show="requestProgress.success">
                {{ 'changePassword.success' | translate }}
            </div>
            <div class="bg-warning" ng-show="requestProgress.error">
                {{ 'changePassword.error' | translate }}
            </div>


        </div>
        <div class="lergo-form login-form">
            <form ng-submit="submitForm()">
                <div class="section text-center">
                    <div class="label">
                       <span style="color: #296CA1; font-size: 20px;" >{{'input.changePassword' | translate}}</span>
                    </div>
                </div>
                <div class="section">
                    <div class="label">
                        {{ 'input.enterNewPassword' | translate }}
                    </div>
                    <div class="input">
                        <input type="password" ng-model="changePasswordForm.password"/>
                    </div>
                </div>


                <div class="section">
                    <div class="label">
                        {{ 'input.confirmNewPassword' | translate }}
                    </div>
                    <div class="input">
                        <input type="password" ng-model="changePasswordForm.passwordConfirm"/>
                    </div>
                </div>

                <div class="actions">
                    <button class="btn change-submit"> {{ 'button.submit' | translate }}</button>
                    <br />
                    <br />
                    <a href="#!/"> {{ 'button.login' | translate }}</a>
                </div>
            </form>
        </div>
    </div>
</div>
