<div class="base-layout">
  <div class="container" id="PublicProfile">

    <div class="row">
      <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2 text-center">
        <div>
          <img gravatar-src="publicUser.email" gravatar-size="150" class="img-rounded ">
        </div>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-10 col-lg-10 ">
        <div class="lergo-h1 no-case">
          {{publicUser.username}}
        </div>
        <br>

        <div ng-show="!isEditAllow && !!publicUser.shortIntro"> {{publicUser.shortIntro}}</div>
        <br>

        <div ng-show="!!publicUser.externalLink">
          <i class="fa fa-external-link"></i>
          &#xA0;&#xA0;
          <a ng-href="http://{{publicUser.externalLink}}"
             target="_blank" class="txt-color-darken"> {{publicUser.externalLink}}</a>
        </div>
        <br>

        <div>
          <i class="fa fa-university"></i>
          &#xA0;
          <a href="#!/public/homepage?lergoFilter.createdBy={{publicUser}}" class="txt-color-darken">{{'profile.lessonCreated'|translate}}</a>
        </div>

        <br>
        <div>
          <i class="fa fa-question-circle"></i>
          &#xA0;&#xA0;
          <a href="#" ng-click="showPublicQuestion()"class="txt-color-darken">{{'profile.questionCreated'|translate}}</a>
        </div>
      </div>
    </div>

  </div>
</div>
