<div class="row row-nested top20" id="quizUpdate">
<div class="row row-nested top20">
    <div class="row row-nested top10" ng-repeat="item in step.lessonItems">
        <div dir="auto" class="col-lg-9 col-md-9 col-sm-10 col-xs-10 open-update">
            <a href="" ng-click="previewLesson(item)">{{getLesson(item)}}</a>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-2 col-xs-2">
            <div class="move-quiz">
                <a href="" ng-click="moveLessonItemUp($index,step)" ng-show="!$first" class="fa fa-arrow-up"></a>
                <a href="" ng-click="moveLessonItemDown($index,step)" ng-show="!$last" class="fa fa-arrow-down"></a>
                <a href="" ng-click="removeItemFromPlaylist( item, step )">X</a>
            </div>
        </div>
    </div>
</div>

<div class="row row-nested top20">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <button class="btn" ng-click="addQuestionBtnDisable || addCreateQuestion(step)"
                ng-disabled="addQuestionBtnDisable">
            <i ng-show="addQuestionBtnDisable" class="fa fa-circle-o-notch fa-spin" aria-hidden="true"></i>
            {{ 'playlists.addLesson' | translate }}
        </button>
        <sup>
            <!--  tabindex = 0 is use to fix focus trigger problem in google chrome -->
            <a uib-popover="{{'quiz.addQuestionHint' | translate}}" class="fa fa-question-circle"
               popover-placement="top"  popover-trigger="'outsideClick'" tabindex="0" style="text-decoration: none"></a>
        </sup>
    </div>
</div>
