<div class="base-layout" id="createLessonPage">
	<form ng-submit='create()' class="CreateLesson-form lergo-form">
		<div class="form-section">
			<div class="lergo-label">Lesson Name</div>
			<div class="lergo-input">
				<input ng-model="lesson.name" />
			</div>
		</div>
		<div class="form-section">
			<div class="lergo-label">Lesson Description</div>
			<div class="lergo-input">
				<textarea ng-model="lesson.description"></textarea>
			</div>
		</div>
		<button ng-click="addStep(lesson)">Add Step</button>
		<div ng-repeat="step in lesson.steps">
			<hr />
			<a ng-click="moveStepUp($index)" ng-show="!$first" class="btn btn-small">up</a>
			<a ng-click="moveStepDown($index)" ng-show="!$last" class="btn btn-small">down</a>
			<div class="form-section">
				<div class="form-section">
					<div class="lergo-label">Step Title</div>
					<div class="lergo-input">
						<input ng-model="step.title" />
					</div>
				</div>
				<div class="lergo-label">Step Type</div>
				<div class="lergo-input">
					<select ng-model="step.type"
						ng-options="t.id as t.label for t in stepTypes">
					</select>
				</div>
			</div>
			view by type = {{getStepViewByType(step)}}
			<div ng-include="getStepViewByType(step)"></div>
		</div>
		<button type='submit' ng-disabled="isSaved">Done</button>
	</form>
</div>

