<div class="base-layout">
    {{ 'title' | translate }}: {{lesson.name}}
    <br>
    {{ 'description' | translate }}: {{lesson.description}}

    <table class="table table-striped table-condensed">
		<thead>
			<tr>
				<th style="width: 80px;">{{ 'title' | translate }}</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="step in lesson.steps">
				<td class="name">{{ step.title }}</td>
				<td class="viewLink">
                <button ng-click="getDisplayUrl(step)">{{ 'view' | translate }}</button></td>
			</tr>
		</tbody>
	</table>
</div>
