
<div> <!--start of mobile view of quizItems-->
    <div class="col-lg-1 col-md-2 col-sm-12 col-xs-12"></div>
    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12" style="padding: 0 20px">
         <div class="homepage-desktop" style="padding: 20px; border: 5px solid rgb(30, 55, 126)">
             <div >
                 <div class="lessons-desktop">
                     <div class="age-limit age-limit-{{quizItem.age}}">
                         <div class="value">{{quizItem.age}}+</div>
                         <div class="units">
                             <i class="fa fa-arrow-up"></i>
                             {{'homepage.years'|translate}}
                         </div>
                     </div>
                     <!-- age limit -->
                     <div class="image">
                         <a href="#!/public/lessons/{{quizItem._id}}/intro">
                             <div lesson-title-image lesson="quizItem"></div>
                         </a>
                     </div>
                     <div dir="auto" class="title">
                         <br>
                         <!-- <a href="#!/public/lessons/{{quizItem._id}}/intro"> -->
                             <span uib-tooltip="{{quizItem.name}}">{{ quizItem.name|limitTo:60 }}</span>
                             <span ng-show="quizItem.name.length >60">...</span>
                         <!-- </a> -->
                     </div>
                     <div class="stats">
                         <table class="stats-table">
                             <tr>
                                 <td>
                                   <span uib-tooltip="{{'homepage.tooltip.user' | translate}}">
                                         <i class="fa fa-user fa-fw"></i>
                                            {{quizItem.username | limitTo: 8 | lowercase}}
                                   </span>
                                 </td>
                                 <td>
                                    <span uib-tooltip="{{'homepage.tooltip.views' | translate}}">
                                       <i class="fa fa-eye fa-fw"></i>
                                             {{0+quizItem.views}}
                                    </span>
                                 </td>
                                 <td>
                                    <span ng-show="hasQuestions(quizItem)" uib-tooltip="{{'homepage.tooltip.questions' | translate}}">
                                       <i class="fa fa-question-circle fa-fw"></i>
                                             {{quizItem | countQuestionsOnLesson }}
                                    </span>
                                 </td>
                             </tr>
                             <tr>
                                 <td>
                                    <span uib-tooltip="{{'quizItems.createdOn' | translate}}">
                                         <i class="fa fa-calendar"></i>
                                             {{quizItem | mongoIdToTimestamp | date:'d-MMM-yyyy'}}
                                    </span>
                                 </td>
                                 <td colspan="2">
                                     <span ng-show="!!quizItem.subject" uib-tooltip="{{'homepage.tooltip.subject' | translate}}">
                                           <i class="fa fa-book fa-fw"></i>
                                                 {{quizItem.subject && ('filters.subjects.' + quizItem.subject | translate)}}
                                     </span>
                                 </td>
                             </tr>
                         </table>
                     </div>
                 </div>
             </div>
         </div>
     </div>
     <div ng-show="!!quizItem.description" class="report header header-desc  col-lg-5 col-md-5 col-sm-12 col-xs-12">
        <div class="lergo-h4">{{ 'lessons.description' | translate }}</div>
        <br>
        <span>{{ quizItem.description|limitTo:500 }}</span>
    </div>
    <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12"></div>
</div> <!--end of mobile view-->
