<div class="row row-nested top10 quiz"> 
    <div class="col-md-12 col-sm-12 col-xs-12"  ng-style="{'background-color':!quizItem.isComplete ?  'lightgreen': 'white'}"> 
        <div class="row row-nested top10" >
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <p dir="auto" class="lergo-h4" ng-show="!isFillInTheBlanks()">{{quizItem.lesson}}</p>
                <p ng-show="!!isFillInTheBlanks()" ng-include="getLessonTemplate()"></p>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <button ng-show="!!quizItem.hint" popover-placement="auto bottom"
                        uib-popover="{{quizItem.hint}}" class="btn-link hint"
                        popover-trigger="'outsideClick'" tabindex="0">{{'hint' | translate}}
                </button>
            </div>
        </div>
        <div class="row row-nested top10 help">
            <div dir="auto" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <p class="lesson-help-text">{{quizItem.helpText}}</p>
            </div>
        </div>
        <div class="row row-nested top10">
            <div quiz-item-media quiz-item="quizItem" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 img-small"></div>
        </div>
        <div ng-show="!isFillInTheBlanks()" class="row row-nested top10">
            <div ng-include="getLessonTemplate()" class="col-lg-12 col-md-12 col-sm-12 col-xs-12"></div>
        </div>
        <br/>
    </div>

</div> 
