<!-- To init option array by single element if its empty   -->
<table class="lergo-table lergo-form">
    <thead>
    <tr>
        <td>{{ 'questions.possibleAnswers' | translate }}</td>
          <td style="width: 10%">{{ 'remove' | translate }}</td>
    </tr>
    </thead>
    <tbody>
    <tr dir="auto" ng-repeat="option in quizItem.options track by $index" ng-show="!!option.checked">
        <td><input type="text" placeholder="{{('questions.answerOption' |translate) + ($index + 1)}}"
                   ng-model="option.label"/></td>
        <td dir="auto"><a class="btn btn-link" ng-click="removeOption(option)" ><div style="color: #2a6496; text-decoration: none; display: inline-block; font-size: 15px"> X </div></a>
    </tr>
    <tr>
        <td><input type="text" placeholder="{{ 'questions.clickToAdd' | translate }}" readonly="True"
                   ng-click="addOption({checked:true})"/></td>
    </tr>
    </tbody>
</table>

