<!-- To init option array by single element if its empty   -->
<table class="lergo-table lergo-form">
    <thead>
    <tr>
        <td>{{ 'questions.possibleAnswers' | i18n }}</td>
        <td style="width: 10%"></td>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="option in quizItem.options track by $index" ng-show="!!option.checked">
        <td><input type="text" placeholder="{{('questions.answerOption' |i18n) + ($index + 1)}}"
                   ng-model="option.label"/></td>
        <td><a class="btn-link" ng-click="removeOption(option)" >X</a></td>
    </tr>
    <tr>
        <td><input type="text" placeholder="{{ 'questions.clickToAdd' | i18n }}" readonly="True"
                   ng-click="addOption({checked:true})"/></td>
    </tr>
    </tbody>
</table>
