<table class="lergo-table lergo-form">
	<thead>
		<tr>
			<td>{{ 'questions.correctAnswers' | i18n }}</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td style="line-height: 3">
				{{!quizItem.answer && (quizItem.answer=[])||""}}
				<span style="line-height: 0.75" ng-repeat="option in quizItem.question.split('___') track by $index">
					<span>{{option}}</span>
					<input ng-show="!$last" style="width: 130px; display: inline; border: 0; min-height: 28px;" ng-model="quizItem.answer[$index]">
				</span>
			</td>
		</tr>
	</tbody>
</table>
<hr />