<!-- To init option array by single element if its empty  -->
{{ (quizItem.options===undefined) && addOption() || ""}}
<table class="lergo-table lergo-form">
    <thead>
    <tr>
        <td>{{ 'questions.possibleAnswers' | translate }}</td>
        <td style="width: 10%">{{ 'questions.correctAnswers' | translate }}</td>
        <td style="width: 10%">{{ 'remove' | translate }}</td>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="option in quizItem.options">
        <td>
            <input type="text" placeholder="{{('questions.answerOption' |translate) + ($index + 1)}}"
                   ng-model="option.label"></td>
        <td>
            <input type="checkbox" ng-model="option.checked"/>
        </td>
        <td>
             <a class="btn btn-link" ng-click="removeOption(option)" ng-show="quizItem.options.length > 1">
              <div style="color: #2a6496; text-decoration: none; display: inline-block; font-size: 15px"> X </div>
            </a>
        </td>
    </tr>
    <tr>
        <td>
            <input type="text" placeholder="{{ 'questions.clickToAdd' | translate }}" readonly="True"
                   ng-click="addOption()"/>
        </td>
        <td>
            <input type="checkbox" disabled="True"/>
        </td>
    </tr>
    </tbody>
</table>
<div ng-show="quizItem.options.length > 1" class="lergo-form shuffle">
    <div class="left-cell">
		<span>
			{{'questions.disableShuffling' | translate}}</span>
			<span>
			<!--  tabindex = 0 is use to fix focus trigger problem in google chrome -->
			<button uib-popover="{{'questions.shuffleHint' | translate}}" class="fa fa-question-circle" popover-placement="top"
                     popover-trigger="'outsideClick'" tabindex="0"></button>
		</span>
    </div>
    <div class="right-cell">
        <input type="checkbox" style="margin-left: 4px" ng-model="quizItem.shuffleDisabled"/>
    </div>
</div>
