<table class="table lergo-form">
	<tr>
		<td style="border-top: none; align:right;  width: 15%">Possible Answer:</td>
		<td style="border-top: none; align:left "><input
			class="lergo-input" ng-model="newAnswer" /></td>
		<td style="border-top: none;" align="right"><button
				ng-click="addOption(newAnswer)" class="btn">Add</button></td>
	</tr>
</table>

<table class="table lergo-form" ng-show='quizItem.options.length > 0'>
	<thead>
		<tr>
			<th>Possible Answers</th>
			<th style="width: 15%">Correct Answer</th>
			<th style="width: 10%">Remove</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="option in quizItem.options track by $index">
			<td class="optionValue">{{option}}</td>
			<td><input type="checkbox" ng-true-value="option"
				ng-false-value="" ng-checked="isCorrectAnswer(option,quizItem)"
				ng-click="$parent.updateAnswer($event,option,quizItem)" /></td>
			<td class="optionDelete"><button class="btn-link btn"
					ng-click="removeOption(option)">X</button></td>
		</tr>
	</tbody>
</table>
