<table class="lergo-table lergo-form">
   <thead>
      <tr style="font-weight: bold">
         <th>{{ 'questions.requiredAnswer' | i18n }}</th>
         <th style="width: 10%">{{ 'questions.select' | i18n }}</th>
      </tr>
   </thead>
   <tbody>
      <tr>
         <td>{{ 'questions.shortAnswer' | i18n }}</td>
         <td><input type="checkbox" ng-true-value="short" ng-false-value="long" ng-model="quizItem.subType" /></td>
      </tr>
      <tr>
         <td>{{ 'questions.longAnswer' | i18n }}</td>
         <td><input type="checkbox" ng-true-value="long" ng-false-value="short" ng-model="quizItem.subType" /></td>
      </tr>
   </tbody>
</table>
