<table class="lergo-table lergo-form">
   <thead>
      <tr>
         <td>{{ 'questions.requiredAnswer' | i18n }}</td>
         <td style="width: 10%">{{ 'questions.select' | i18n }}</td>
      </tr>
   </thead>
   <tbody>
      <tr>
         <td>{{ 'questions.shortAnswer' | i18n }}</td>
         <td><input type="checkbox" ng-true-value="'short'" ng-false-value="'long'" ng-model="quizItem.subType" /></td>
      </tr>
      <tr>
         <td>{{ 'questions.longAnswer' | i18n }}</td>
         <td><input type="checkbox" ng-true-value="'long'" ng-false-value="'short'" ng-model="quizItem.subType" /></td>
      </tr>
   </tbody>
</table>
