<div ng-show="loaded && showSteps() && hasNextStep() " class="next-step" ng-cloak>
	<div ng-include="'/views/lessons/_stepDisplay.html'"></div>
</div>
<div ng-show="!loaded" class="loading">
	<div>
		<i class="fa fa-cog fa-spin"></i>
	</div>
</div>
<div ng-show="loaded && !hasNextStep() && lesson.steps.length>0" class="done-step">
	<div class="congrats">
		{{ 'congratulations' | translate }}!
		<br>
		<br>
	</div>
	<div class="message">
		<span>{{ 'lessons.lessonCompleted' | translate }}</span>
		<span class="lesson-title">"{{lesson.name}}"</span>
		<span class="created-by">{{'lesson.createdBy'|translate}}</span>
		<span class="lesson-title">{{lesson.user.username}}</span>
		<br>
	</div>
	<div class="report">
		<table class="lergo-table">
			<tr>
				<td style="width: 100%;">
					<div>
						<a href="" ng-show="!!invitation" class="lergo-lesson-show-report" ng-click="showReport()"> <!-- guy : this should not be a link. should be a button. but css is gone, and change would be too big.see LERGO-576 -->
							<i class="fa fa-bar-chart-o"></i>
							{{ 'lessons.lessonReport' | translate }}
						</a>
					</div>
					<div class="recmmonded" ng-show="!!lesson.nextLessonId">
						<a ng-href="#!/public/lessons/{{lesson.nextLessonId}}/intro">
							<i class="fa fa-university"></i>
							{{ 'lessons.recommenedNextLesson' | translate }}
						</a>
					</div>
				</td>
				<td rowspan="2">
					<a href="" ng-show="!lesson.temporary" class="btn-link" ng-click="startLesson()">
						<i style="font-size: 35px; color: #8CC63F;" class="fa fa-repeat "></i>
					</a>
				</td>
				<td>
					<a href="" ng-show="!lesson.temporary" ng-click="startLesson()">{{'lessons.restart' | translate}}</a>
				</td>
				<td rowspan="2" ng-show="wrongQuestions.length>0">
					<a href="" show-logged-in  ng-click="practiceMistakes()">
						<i style="font-size: 35px; color: #F7941E;" class="fa fa-repeat "></i>
					</a>
					<a show-anonymous href="" popover-placement="bottom" popover-trigger="focus" popover="{{'lessons.practiceNotAvailable' | translate}}"
						tabindex="0">
						<i style="font-size: 35px; color: #F7941E;" class="fa fa-repeat "></i>
					</a>
				</td>
				<td ng-show="wrongQuestions.length>0">
					<a show-logged-in href="" ng-click="practiceMistakes()">{{'lessons.practiseWrongQuestion' | translate}}</a>
					<a show-anonymous href="" popover-placement="bottom" popover-trigger="focus" popover="{{'lessons.practiceNotAvailable' | translate}}"
						tabindex="0">{{'lessons.practiseWrongQuestion' | translate}}</a>
				</td>
			</tr>
		</table>
	</div>
	<br />
	<div class="stats">
		<div class="action-items">
			<span show-logged-in>
				<button class="btn-link" ng-click="likeLesson()" tooltip="{{'lessons.tooltip.like' | translate}}" ng-show="!isLiked()">
					<i class="fa fa-heart-o "></i>
					{{'like' | translate}}
				</button>
				<span class="btn-link dropdown" ng-click="noop()" tooltip="{{'lessons.tooltip.liked' | translate}}" ng-show="!!isLiked()">
					<span class="dropdown-toggle">
						<i class="fa fa-heart-o "></i>
						{{'liked' | translate}}
						<i class="fa fa-caret-down " ng-click="openLikeMenu()"></i>
						<span ng-show="!!showMenu">
							<button class="btn-link">{{'dislike' | translate}}</button>
						</span>
					</span>
					<span class="dropdown-menu">
						<li>
							<button class="btn-link" ng-click="unlikeLesson()">{{ 'unlike' | translate }}</button>
						</li>
					</span>
				</span>
			</span>
			<a href="" show-anonymous class="btn-link" popover="{{'lessons.likeNotAvailable' | translate}}" popover-placement="top" popover-trigger="focus"
				tabindex="0">
				<i class="fa fa-heart-o "></i>
				{{'like' | translate}}
			</a>
			<button show-logged-in class="btn-link" ng-click="showHideInvite()" tooltip="{{'lessons.tooltip.invite' | translate}}">
				<i class="fa fa-envelope "></i>
				{{'invite' | translate}}
			</button>
			<!--  tabindex = 0 is use to fix focus trigger problem in google chrome -->
			<a href="" show-anonymous class="btn-link" popover="{{'lessons.inviteNotAvailable' | translate}}" popover-placement="top" popover-trigger="focus"
				tabindex="0">
				<i class="fa fa-envelope "></i>
				{{'invite' | translate}}
			</a>
			<button class="btn-link" ng-click="absoluteShareLink(lesson)" tooltip="{{'lessons.tooltip.share' | translate}}">
				<i class="fa fa-share-alt "></i>
				{{'share' | translate}}
			</button>
		</div>
		<div ng-show="!!share || !!invite" class="forms">
			<div ng-show="!!share" class="lergo-form share">
				<p class="lergo-h4">{{'lessons.shareLesson' | translate}}</p>
				<div class="container">
					<span>{{'lessons.shareLessonTitle' | translate}}</span>
					<input type="text" ng-model="shareLink" readonly select-all-text-on-click />
				</div>
			</div>
			<div ng-show="!!invite" class="lergo-form invite">
				<div lesson-create-invite-form-after on-close-after="showHideInvite()" ></div>
			</div>
		</div>
	</div>
</div>
