<div id="lessonsIndex" load-filter-and-paging="loadLessons()">
	<br />
	<div class="page-content-width page-content-titles">
		<div class="page-content-body">
			<div class="lergo-h1">
				<div class="btn-group" dropdown>
					<button type="button" class="btn-link" dropdown-toggle style="color: #5fb9ff; text-decoration: none">
						<span class="fa fa-caret-down"></span>
						<span class="lergo-h1">{{('lessons.'+ lessonToLoad |translate)}} </span>
					</button>
					<ul class="dropdown-menu" role="menu">
						<li>
							<a class="btn-link" style="outline: none;" ng-click="load(LessonTypeToLoad.user)">{{'lessons.myLessons'|translate}}</a>
							<a class="btn-link" style="outline: none;" ng-click="load(LessonTypeToLoad.liked)">{{'lessons.likedLessons'|translate}}</a>
						</li>
					</ul>
				</div>
				[ {{ 'lessons.total' | translate }}: {{filterPage.count}} ]
			</div>
			<div class="page-content-titles-actions">
				<button ng-click="create()" class="btn btn-start">{{ 'lessons.create' | translate }}</button>
			</div>
		</div>
		<div class="page-content-sidebar">
			<div class="lergo-h1">{{ 'lessons.filter' | translate }}</div>
		</div>
	</div>
	<div class="page-content-width">
		<div class="page-content-body">
            <div filter-is-active="lessonsFilterOpts" section="lessons"></div>
            <table class="table" ng-show="lessons.length > 0">
				<thead>
					<tr style="font-weight: bold">
						<td style="width: 100%">{{ 'name' | translate }}</td>
						<td>{{ 'questions.language' | translate}}</td>
						<td>{{ 'questions.subject' | translate}}</td>
						<td>{{ 'questions.age' | translate}}</td>
						<!--						<td style="width: 20px;">{{ 'preview' | translate }}</td>
						<td style="width: 10px;"></td>
						<td style="width: 10px;"></td>-->
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="les in lessons |orderBy:'-lastUpdate'">
						<td class="name">
							<a ng-show="!!les.name && les.name.trim().length > 0" tooltip="{{'lessons.tooltip.go' | translate}}" ng-href="#!/user/lessons/{{les._id}}/intro">{{
								les.name }}</a>
							<a ng-show="!les.name || les.name.trim().length <= 0" tooltip="{{'lessons.tooltip.go' | translate}}" ng-href="#!/user/lessons/{{les._id}}/intro">[
								no title ]</a>
						</td>
						<td class="answer">{{les.language && ('filters.languages.' + les.language | translate) || ""}}</td>
						<td class="answer">{{les.subject && ('filters.subjects.' + les.subject | translate) ||""}}</td>
						<td class="answer">{{les.age &&('+'+ les.age) || ""}}</td>
					</tr>
				</tbody>
			</table>
		</div>
        <div class="page-content-body text-center" ng-show="!lessons || lessons.length == 0">
            <span class="alert alert-warning font-medium" >{{'lessons.noLessons' | translate}}</span>
        </div>
		<div class="sidebar page-content-sidebar">
			<div lergo-filter model="lessonsFilter" on-change="loadLessons()" opts="lessonsFilterOpts" on-load="filterLoaded()" is-active="filterIsActive"></div>
		</div>
	</div>
	<div lergo-paging page="filterPage" on-change="loadLessons()" on-load="pagingLoaded()"></div>
</div>
