<div class="base-layout" id="lessonDisplay">

    <div class="start-step" ng-show="currentStepIndex < 0 ">
        <div class="image">
            <i class="fa fa-university"></i>
        </div>
        <div class="message">
            <div class="welcome">
                Welcome! <br/>
                Are you ready to start learning<br/>
            </div>
            <div class="name">
                {{lesson.name}}
            </div>
            <div class="description">
                {{lesson.description}}
            </div>
            <div class="button">
                <button ng-click="nextStep()" class="btn">Lets LerGO!</button>
            </div>
        </div>


    </div>
    <div ng-show="currentStepIndex >= 0 && hasNextStep() ">
        <div ng-include="'/views/lessons/_stepDisplay.html'"></div>
        <div ng-show="hasNextStep()" class="next-step">
            <button ng-click="nextStep()" class="btn">OK! Lets Continue</button>
        </div>
    </div>

    <div ng-show="!hasNextStep()" class="done-step">
        <div class="image">
            <div class="user">
                <i class="fa fa-user"></i>
            </div>
            <div class="cap">
                <i class="fa fa-graduation-cap"></i>
            </div>
        </div>
        <div class="message">
            Congratulations!<br/> You have completed the lesson.
        </div>
    </div>


</div>
