<div class="base-layout" id="lessonsIndex">
	<div class="lergo-label">
		<span style="float:left;">Available Lessons</span>
		<span class="errorMessage" ng-show='errorMessage' style="float:right; font-size:15px; color: red;">{{errorMessage}}</span>
	</div>			
	<table class="table table-striped table-condensed">
		<thead>
			<tr>
				<th style="min-width: 80px;">Name</th>
				<th style="width: 20px;"></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="les in lessons |orderBy:'-lastUpdate' ">
				<td class="name">{{ les.name }}</td>
				<td><a href="#/user/lessons/{{les._id}}/display"> view </a></td>
				<td class="edit"><a ng-href="#/user/lesson/{{les._id}}/update">edit</a></td>
				<td class="invite"><a ng-href="#/user/lessons/{{les._id}}/invitations">invite</a></td>
				<td class="delete"><a ng-click="deleteLesson(les)">delete</a></td>
			</tr>
		</tbody>
	</table>
	<a ng-click="create()" class="btn">Create New Lesson</a>
</div>
