<div class="base-layout" id="lessonDisplay">
	<div style="width: 75%" class="start-step">
		<div class="lesson">
			<div class="image">
				<div lesson-title-image lesson="lesson"></div>
			</div>
			<div class="stats">
				<table class="lergo-table">
					<tr>
						<td>
							<span class="stats-button age-limit-{{lesson.age}}" ng-show="!!lesson.age"> {{lesson.age}}+ {{'homepage.years'|i18n}} </span>
						</td>
					<tr>
						<td>
							<span class="stats-button">
								<i tooltip="{{'homepage.tooltip.views' | i18n}}" class="fa fa-eye fa-fw"></i>
								{{0+lesson.views}}
							</span>
						</td>
					</tr>
					<tr>
						<td>
							<span class="stats-button" ng-show="!!lesson.questionsCount">
								<i class="fa fa-question-circle fa-fw" tooltip="{{'homepage.tooltip.questions' | i18n}}"></i>
								{{lesson.questionsCount}}
							</span>
						</td>
					</tr>
				</table>
				<span class="button">
					<a ng-click="startLesson()">
						<i class="fa fa-play-circle-o " tooltip="{{'lessons.startLesson' | i18n}}"></i>
					</a>
				</span>
			</div>
			<table class="lergo-table">
				<tr>
					<td colspan="6">
						<div class="name">{{ lesson.name|limitTo:160 }}</div>
					</td>
				</tr>
				<tr>
					<td style="width: auto; display: inline; padding: 2px; margin-left: 8px">
						<span>
							<i class="fa fa-user" tooltip="{{'homepage.tooltip.user' | i18n}}"></i>
							{{lesson.user.username}}
						</span>
					</td>
					<td style="width: auto; display: inline; padding: 2px">
						<i class="fa fa-calendar" tooltip="{{'lessons.createdOn' | i18n}}"></i>
						<span>{{lesson.timeStamp | date:'d-MMM-yyyy'}} </span>
					</td>
					<td style="width: auto; display: inline; padding: 2px">
						<span ng-show="!!lesson.subject">
							<i class="fa fa-book" tooltip="{{'homepage.tooltip.subject' | i18n}}"></i>
							{{'filters.subjects.' + lesson.subject | i18n}}
						</span>
					</td>
					<td class="stats-link">
						<a href="" ng-click="startLesson()">
							<i class="fa fa-play-circle-o "></i>
							{{'start' | i18n}}
						</a>
					</td>
					<td class="stats-link">
						<a href="" ng-click="showHideInvite()">
							<i class="fa fa-envelope "></i>
							{{'invite' | i18n}}
						</a>
					</td>
					<td class="stats-link">
						<a href="" ng-click="absoluteShareLink(lesson)">
							<i class="fa fa-share-alt "></i>
							{{'share' | i18n}}
						</a>
					</td>
				</tr>
				<tr>
					<td colspan="6" class="description">
						<div ng-Show="!!share" class="lergo-form share">
							<p class="lergo-h4">{{'lessons.shareLesson' | i18n}}</p>
							<div class="container">
								<span>{{'lessons.shareLessonTitle' | i18n}}</span>
								<input type="text" ng-model="shareLink" readonly />
							</div>
						</div>
						<div ng-Show="!!invite" class="lergo-form invite">
							<p class="lergo-h4">{{''}}</p>
							<div ng-controller="LessonsInvitesCreateCtrl" class="container">
								<div>{{ 'name' | i18n }}</div>
								<input type="text" ng-model="invite.invitee.name" />
								<br />
								<div class="button">
									<button class="btn" ng-click="sendInvite()">{{ 'button.submit' | i18n }}</button>
								</div>
								<div ng-show="!!createSuccess" class="bg-success">
									{{ 'invitations.createdSuccessfully' | i18n }}
									<br />
									link = {{ getLink()}}
								</div>
								<div ng-show="!!pageRequestProgress.inProgress" class="bg-info">{{ 'invitations.sending' | i18n }}</div>
								<div ng-show="!!createError" class="bg-warning">{{ 'invitations.error' | i18n }}</div>
								<div>
									<span class="lergo-h4">{{'lessons.note' | i18n}}:</span>
									{{'lessons.noteMessage' | i18n}}
								</div>
							</div>
						</div>
						<hr />
						<div ng-show="!more">{{ lesson.description|limitTo:320 }}</div>
						<div ng-show="!!more">{{ lesson.description}}</div>
						<div style="text-align: center">
							---------------------
							<a href="" ng-click="more=!more">
								<span ng-show="!more">{{'lessons.readMore' | i18n}}</span>
								<span ng-show="!!more">{{'lessons.readLess' | i18n}}</span>
							</a>
							---------------------
						</div>
					</td>
				</tr>
			</table>
		</div>
	</div>
	<div class="homepage">
		<div class="sidebar" ng-controller="HomepageCtrl">
			<div class="upper-section">
				<div class="create">{{ 'homepage.createYourOwn' | i18n }}</div>
				<br />
				<!-- guy - part of fix for newline on homepage.free -->
				<a class="start btn" ng-click="create()">{{ 'homepage.create' | i18n }}</a>
				<div class="free">{{ 'homepage.free' | i18n }}</div>
			</div>
		</div>
	</div>
</div>