<div class="base-layout" id="lessonIntro">
    <div class="page-content-width">
        <div class="lesson-intro-content clearfix">
            <div class="page-content-body">
                <div class="lesson">
                    <div class="image">
                        <div lesson-title-image lesson="lesson"></div>
                    </div>
                    <div class="start-lesson">
						<span class="button">
							<a ng-click="startLesson()" ng-show="!!lesson">
                                <i class="fa fa-play-circle-o " tooltip="{{'lessons.startLesson' | translate}}"></i>
                            </a>
						</span>
                    </div>
                    <div class="action-items" ng-show="!!permissions">
                        <div class="action-items-top">
                            <a class="btn-link" ng-click="deleteLesson(lesson)" ng-show="!!permissions.canDelete">
                                <i class="fa fa-trash-o" tooltip="{{'lessons.tooltip.delete' | translate}}"></i>
                            </a>
                            <br/>
                        </div>
                        <div class="action-items-bottom">
                            <a class="btn-link" ng-click="preview()" ng-show="!!permissions.canPreview">
                                <i class="fa fa-search-plus" tooltip="{{'lessons.tooltip.preview' | translate}}"></i>
                            </a>
                            <br/>
                            <a class="btn-link" ng-click="copyLesson(les)" ng-show="!!permissions.canCopy">
                                <i class="fa fa-copy" tooltip="{{'lessons.tooltip.copy' | translate}}"></i>
                            </a>
                            <br/>
                            <a href="#!/user/lesson/{{lesson._id}}/update" tooltip="{{'lessons.tooltip.edit' | translate}}"
                               ng-show="!!permissions.canEdit">
                                <i class="fa fa-pencil-square-o"></i>
                            </a>
                            <br/>
                        </div>
                    </div>
                    <div class="stats">
                        <span class="stats-button age-limit-{{lesson.age}} no-color" ng-show="!!lesson.age"> {{lesson.age}}+ {{'homepage.years'|translate}} </span>
						<span class="stats-button" tooltip="{{'homepage.tooltip.views' | translate}}">
							<i class="fa fa-eye fa-fw"></i>
							{{0+lesson.views}}
						</span>
						<span class="stats-button" tooltip="{{'homepage.tooltip.questions' | translate}}">
							<i class="fa fa-question-circle fa-fw"></i>
							{{ lesson | countQuestionsOnLesson }}
						</span>
						<span class="stats-button" tooltip="{{'homepage.tooltip.likes' | translate}}">
							<i class="fa fa-heart-o"></i>
							{{ lessonLikes }}
						</span>
                    </div>
                    <div class="details">
                        <div class="name">{{ lesson.name|limitTo:160 }}</div>
                        <div class="properties">
							<span tooltip="{{'homepage.tooltip.user' | translate}}">
                                 <a ng-href="#!/public/{{lesson.user.username}}/profile">
                                     <i class="fa fa-user"></i>
                                     <span> {{lesson.user.username}}</span>
                                 </a>
                            </span>
							<span tooltip="{{'lessons.createdOn' | translate}}">
								<i class="fa fa-calendar"></i>
								<span>{{lesson | mongoIdToTimestamp | date:'d-MMM-yyyy'}}</span>
							</span>
							<span ng-show="!!lesson.subject" tooltip="{{'homepage.tooltip.subject' | translate}}">
								<i class="fa fa-book"></i>
								<span>{{'filters.subjects.' + lesson.subject | translate}}</span>
							</span>
                        </div>
                        <div class="action-items">
                            <div class="action-item">
                                <button class="btn-link" ng-click="startLesson()"
                                        tooltip="{{'lessons.tooltip.start' | translate}}">
                                    <i class="fa fa-play-circle-o "></i>
                                    {{'start' | translate}}
                                </button>
                            </div>
                            <div class="action-item">
                                <div show-logged-in>
                                    <button class="btn-link" ng-click="likeLesson()"
                                            tooltip="{{'lessons.tooltip.like' | translate}}" ng-show="!isLiked()">
                                        <i class="fa fa-heart-o "></i>
                                        {{'like' | translate}}
                                    </button>
                                    <div class="btn-group" dropdown ng-show="!!isLiked()">
                                        <button class="btn-link" dropdown-toggle>
                                            <i class="fa fa-heart-o "></i>
                                            {{'liked' | translate}}
                                            <span class="fa fa-caret-down"></span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li>
                                                <a class="btn-link" style="outline: none;" ng-click="unlikeLesson()">{{
                                                    'unlike' | translate }}</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div show-anonymous>
                                    <button class="btn-link" popover="{{'lessons.likeNotAvailable' | translate}}"
                                            popover-placement="top" popover-trigger="focus" tabindex="0">
                                        <i class="fa fa-heart-o "></i>
                                        {{'like' | translate}}
                                    </button>
                                </div>
                            </div>
                            <div class="action-item">
                                <button show-logged-in class="btn-link" ng-click="setActiveAction(actionItems.INVITE)"
                                        tooltip="{{'lessons.tooltip.invite' | translate}}">
                                    <i class="fa fa-envelope "></i>
                                    {{'invite' | translate}}
                                </button>
                                <!--  tabindex = 0 is use to fix focus trigger problem in google chrome -->
                                <a href="" show-anonymous class="btn-link"
                                   popover="{{'lessons.inviteNotAvailable' | translate}}" popover-placement="top"
                                   popover-trigger="focus"
                                   tabindex="0">
                                    <i class="fa fa-envelope "></i>
                                    {{'invite' | translate}}
                                </a>
                            </div>
                            <div class="action-item">
                                <button class="btn-link" ng-click="setActiveAction(actionItems.SHARE)"
                                        tooltip="{{'lessons.tooltip.share' | translate}}">
                                    <i class="fa fa-share-alt "></i>
                                    {{'share' | translate}}
                                </button>
                            </div>
                            <div class="action-item">
                                <div class="btn-group" dropdown>
                                    <button class="btn-link" dropdown-toggle>
                                        <span class="fa fa-chevron-down" style="vertical-align: super;"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li>
                                            <a show-logged-in class="btn-link" style="outline: none;"
                                               ng-click="setActiveAction(actionItems.REPORT)">
                                                <i class="fa fa-flag "></i>
                                                {{'reportAbuse.title'|translate}}
                                            </a>
                                            <a href="" show-anonymous class="btn-link"
                                               popover="{{'lessons.reportAbuseNotAvailable' | translate}}"
                                               popover-placement="top"
                                               popover-trigger="focus" tabindex="0">
                                                <i class="fa fa-flag "></i>
                                                {{'reportAbuse.title'|translate}}
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="forms">
                            <div ng-show="isActiveAction(actionItems.SHARE)"
                                 ng-include="'views/lessons/intro/_shareForm.html'"></div>
                            <div ng-show="isActiveAction(actionItems.INVITE)"
                                 ng-include="'views/lessons/intro/_inviteForm.html'"></div>
                            <div ng-show="isActiveAction(actionItems.REPORT)"
                                 ng-include="'views/lessons/intro/_reportForm.html'"></div>
                        </div>
                        <div class="description">
                            <pre ng-show="!more">{{ filteredDescription =(lesson.description| limitTo:320 | multilineEllipsis) }}</pre>
                            <div ng-show="!!more">
                                <pre>{{ lesson.description}}</pre>
                                <div class="edit-summary" ng-show="showEditSummary()">
                                    <br/>
                                    <span class="title">{{'questions.editSummary'|translate}}</span>
                                    <br/>
                                    <br/>
                                    <!-- show copy of lesson -->
                                    <div ng-show="copyOfItems.length > 0">
										<span ng-show="copyOfItems.length === 1" ng-repeat="item in copyOfItems">
											{{ 'lessonIntro.copiedFromLesson' | translate}}
											<span lesson-intro-link lesson="item">{{item.name}}</span>
											{{ 'lessonIntro.copiedFromLessonBy' | translate }} {{item.userDetails.username }}
										</span>
										<span ng-show="copyOfItems.length > 1">
											{{ 'lessonIntro.copiedFromLessons' | translate }}
											<ul>
                                                <li ng-repeat="item in copyOfItems track by $index">
                                                    <span lesson-intro-link lesson="item">{{item.name}}</span>
                                                    {{ 'lessonIntro.copiedFromLessonBy' | translate }}
                                                    {{item.userDetails.username }}
                                                </li>
                                            </ul>
										</span>
                                        <br/>
                                    </div>
                                    <div ng-repeat="q in questions">
                                        <div class="question"
                                             ng-show="!!q.summary || !!questionsWeCopied[q._id] || !!questionsFromOthers[q._id]">
                                            <!--  <a href="#!/user/questions/{{q._id}}/read"> Q:{{q.question | limitTo :30}}</a>-->
                                            <i class="fa fa-question-circle"> </i>
                                            <span class="title-question"> {{q.question | limitTo :50}} </span>
                                        </div>
                                        <div ng-show="!!questionsFromOthers[q._id]">
                                            <div class="summary">Question created by
                                                {{questionsFromOthers[q._id].userDetails.username}}
                                            </div>
                                        </div>
                                        <div ng-show="!!q.summary">
                                            <div class="summary" btf-markdown="q.summary"></div>
                                        </div>
                                        <div ng-show="!!questionsWeCopied[q._id]">
                                            <div ng-repeat="o in questionsWeCopied[q._id].originals track by $index">
                                                <div class="summary">
                                                    Copied from
                                                    <span question-read-link question="o"></span>
                                                    by {{o.userDetails.username}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="read-more" style="text-align: center"
                                 ng-show="showReadMore(filteredDescription) " ng-click="more=!more">
                                <hr class="dashes">
                                <span ng-show="!more">{{'lessons.readMore' | translate}}</span>
                                <span ng-show="!!more">{{'lessons.readLess' | translate}}</span>
                                <hr class="dashes">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-content-sidebar">
                <div create-your-own-box class="not-embed-mode-item"></div>
            </div>
        </div>
        <div powered-by-lergo="lesson"></div>
        <div class="not-embed-mode-item" style="margin-top: 10px;">
            <div class="comments " show-logged-in>
                <div disqus-embed lesson="lesson"></div>
            </div>
        </div>
    </div>
</div>
