<div class="base-layout" id="createLessonPage">
	<form ng-submit='create()' class="CreateLesson-form lergo-form">
		<div class="lergo-label">
			<span class="errorMessage" ng-show='errorMessage'
				style="float: right; font-size: 15px; color: red;">{{errorMessage}}</span>
		</div>
		<div class="form-section">
			<div class="lergo-label">Lesson Name</div>
			<div class="lergo-input">
				<input ng-model="lesson.name" />
			</div>
		</div>
		<div class="form-section">
			<div class="lergo-label">Lesson Description</div>
			<div class="lergo-input">
				<textarea ng-model="lesson.description"></textarea>
			</div>
		</div>
		<div style="margin-top: 5px; margin-bottom: 5px">{{isSaving() &&
			"Saving..." || "Saved" }}</div>
		<div>
			<button class="btn" ng-click="done()" ng-disabled="isSaving()">
				Done</button>
			<button class="btn" ng-click="addStep(lesson)">Add Step</button>
		</div>
		<div ng-repeat="step in lesson.steps">
			<hr />
			<div style="float: right">
				<a ng-click="moveStepUp($index)" ng-show="!$first"
					class="btn btn-small">Up</a> <a ng-click="moveStepDown($index)"
					ng-show="!$last" class="btn btn-small">Down</a> <a
					ng-click="deleteStep(step)" class="btn-link">X</a>
			</div>
			<table class="table lergo-form">
				<tr>
					<td style="border-top: none; align: left; width: 10%">Step
						Title:</td>
					<td style="border-top: none; align: right"><input
						ng-model="step.title" /></td>
				</tr>
				<tr>
					<td style="border-top: none; align: left">Step Type:</td>
					<td style="border-top: none; align: left"><select
						ng-model="step.type"
						ng-options="t.id as t.label for t in stepTypes">
					</select></td>
				</tr>
			</table>
			<div>
				<button  style="float:left; margin-left: 50%" class="btn" ng-click="displayStep(step)">Display
					Step</button>
			</div>
			<div ng-include="getStepViewByType(step)"></div>
		</div>

	</form>
</div>