<div class="row row-nested top10 quiz">
    <div class="col-md-12">
        <div class="row row-nested top10">
            <div class="col-md-10">
                <p dir="auto" class="lergo-h4" ng-show="!isFillInTheBlanks()">{{quizItem.question}}</p>
                <p ng-show="!!isFillInTheBlanks()" ng-include="getQuestionTemplate()"></p>
            </div>
            <div class="col-md-2 text-right">
                <button ng-show="!!quizItem.hint" popover-placement="top"
                        uib-popover="{{quizItem.hint}}" class="btn-link hint"
                         popover-trigger="'outsideClick'" tabindex="0">{{'hint' | translate}}
                </button>
            </div>
        </div>
        <div class="row row-nested top10 help">
            <div dir="auto" class="col-md-12">
                <p class="question-help-text">{{quizItem.helpText}}</p>
            </div>
        </div>
        <div class="row row-nested top10">
            <div quiz-item-media quiz-item="quizItem" class="col-md-12"></div>
        </div>
        <div ng-show="!isFillInTheBlanks()" class="row row-nested top10">
            <div ng-include="getQuestionTemplate()" class="col-md-12"></div>
        </div>
        <br/>
    </div>

</div>

