<div admin-homepage id="rolesIndex">
    <div > <!-- load-filter-and-paging="loadReports()"-->
        <div class="lergo-label">
            <span class="errorMessage" ng-show='errorMessage' style="float: right; font-size: 15px; color: red;">{{errorMessage}}</span>
        </div>
        <br />
        <div class="page-content-width page-content-titles">
            <div class="page-content-body">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6" style="margin-top: 20px" >
                            <div class="lergo-h1">
                                {{ 'roles.myRoles' | translate }} [ {{ 'roles.total' | translate }}: {{roles.length+0}} ]
                            </div>
                        </div>
                   <!-- </div>
                    <div class="row">-->
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6" style="margin-top: 20px">
                            <div class="page-content-titles-actions">
                                <button style="margin-top: -12px" ng-click="create()" class="btn">{{ 'roles.createNew' | translate }}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-content-width">
            <div class="page-content-body">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                             <table class="lergo-table">
                    <thead>
                    <tr>
                        <td>{{ 'name' | translate }}</td>
                        <td>{{ 'description' | translate }} </td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="role in roles |orderBy:'-lastUpdate'">
                        <td class="name">
                            <a uib-tooltip="{{'roles.tooltip.go' | translate}}"
                               ng-href="#!/manage/roles/{{role._id}}/update">{{ getRoleName(role) }}</a>
                        </td>
                        <td class="description">
                            {{ role.description }}
                        </td>
                    </tr>
                    </tbody>
                </table>
                        </div>
                    </div>
                </div>
            </div>
            <!--<div class="sidebar page-content-sidebar">-->
                <!--<div lergo-filter model="reportsFilter" on-change="loadReports()" opts="reportsFilterOpts" on-load="filterLoaded()"></div>-->
            <!--</div>-->
        </div>
        <!--<div lergo-paging page="filterPage" on-change="loadReports()" on-load="pagingLoaded()"></div>-->
    </div>

</div>
