<div admin-homepage id="rolesIndex">
    <div>
        <div class="lergo-label">
            <span class="errorMessage" ng-show='errorMessage' style="float: right; font-size: 15px; color: red;">{{errorMessage}}</span>
        </div>
        <br />
        <div>
            <div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                            <div class="lergo-h1 padding-1 mobile-leftRight20">
                                {{ 'roles.myRoles' | translate }} [ {{ 'roles.total' | translate }}: {{roles.length+0}} ]
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                            <div class="rtlFloatLeft mobile-leftRight20">
                                <button  ng-click="create()" class="btn">{{ 'roles.createNew' | translate }}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
            <div class="push-down"></div>
            <div class="table-responsive">
                <table class="table   ">
                    <thead>
                    <tr>
                        <td>{{ 'name' | translate }}</td>
                        <td>{{ 'description' | translate }} </td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="role in roles |orderBy:'-lastUpdate'">
                        <td class="name">
                            <a uib-tooltip="{{'roles.tooltip.go' | translate}}"
                               ng-href="#!/manage/roles/{{role._id}}/update">{{ getRoleName(role) }}</a>
                        </td>
                        <td style="min-width: 250px; white-space: normal" class="description">
                            {{ role.description }}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>

</div>
