<div class="base-layout " id="updateRolePage">
    <div class="page-content-width">
        <form class="lergo-form">
            <div class="form-section form-group role-name">
                <div class="lergo-label">
                    {{ 'roles.edit.name' | translate }}
                </div>
                <input ng-model="role.name"/>
            </div>

            <div class="form-section description form-group">
                <div class="lergo-label">{{ 'roles.edit.description' | translate }}</div>
                <div class="lergo-input">
                    <textarea class="form-control" ng-model="role.description" name="description"></textarea>
                </div>
            </div>


            <div class="form-section checklist">
                <div ng-repeat="permission in permissions">
                    <input type="checkbox" checklist-model="role.permissions" checklist-value="permission">
                    <div class="label">{{permission}}</div>
                </div>
            </div>

            <!--<div class="form-section">
                <div class="permissions checklist">
                    <div ng-repeat="permission in permissions">
                        <input type="checkbox" ng-model="permission.checked"/>
                        <div class="label">{{ permission.label }}</div>
                    </div>
                </div>
            </div>-->

            <div class="lergo-h1"> Limitations </div>
            <div class="lergo-h2"> Manage Lesson Subject </div>

            <div class="form-section checklist">
                <div ng-repeat="subject in options.limitEditSubject">
                    <input type="checkbox" checklist-model="role.limitations.manageSubject" checklist-value="subject">
                    <div class="label">{{subject}}</div>
                </div>
            </div>
           <div class="lergo-h2"> Manage Lesson Language </div>

            <div class="form-section checklist">
                <div ng-repeat="language in options.limitEditLanguage">
                    <input type="checkbox" checklist-model="role.limitations.manageLanguages" checklist-value="language.id"/>
                    <div class="label">{{language.name}}</div>
                </div>
            </div>

            <div class="lergo-h2"> Manage Lesson Age </div>

            <div class="form-section">
                <div class="row">
                    <div class="label"> age from </div>
                    <input type="number" min="1" max="100" ng-model="role.limitations.manageAge.min"/>
                </div>
                <div class="row">
                    <div class="label"> age to </div>
                    <input type="number" min="1" max="100" ng-model="role.limitations.manageAge.max"/>
                </div>
            </div>

            <div class="lergo-h2"> Manage Lesson Status </div>

            <div class="form-section">
                <div class="row">
                    <input type="checkbox" ng-model="role.limitations.editOnlyUnpublishedContent"/>
                    <div class="label"> Allow work only on unpublished content</div>
                </div>

                <div class="row">
                    <input type="checkbox" ng-model="role.limitations.disallowPublishAction"/>
                    <div class="label"> Restrict this user from publishing a lesson </div>
                </div>
            </div>

            <div class="buttons">
                <button class="btn" ng-click="saveRole(false)"> {{ 'apply' | translate }} </button>
                <button class="btn" ng-click="saveRole(true)"> {{ 'save' | translate }}</button>
                <button class="btn" ng-click="deleteRole()">{{ 'delete' | translate }}</button>
                <button class="btn" ng-click="cancel()">{{ 'cancel' | translate }}</button>

            </div>
        </form>
    </div>

</div>
