<div class="modal-header text-right">
    <button class="btn btn-link btn-lg btn-close-preview" type="button" ng-click="cancel()">
        <i class="fa fa-close"></i>
    </button>
</div>

<div class="modal-body" id="modal-body">
    <div class="container" style="max-width: 800px;">
    <div class="lesson-preview">
        <div class="row header">
            <div class="col-md-2 img-responsive">
                <div lesson-title-image lesson="lesson"></div>
            </div>
            <div class="col-md-4 header-name ">
                <div>
                    <div class="sub-title">{{'lessonPreview.header.title' | translate}}</div>
                    <br/>
                </div>
                <div class="title">
                    {{lesson.name| limitTo:40}}
                </div>
            </div>
            <div class="col-md-6">
                <div>
                    <div class="col-md-12" ng-show="!!lesson.description">
                        <div class="padding-leftRight15">{{'report.description'|translate}}</div>
                        <div class="padding-leftRight15">{{lesson.description | limitTo:440}}</div>
                    </div>
                </div>
                <div class="row top20">
                    <div class="col-md-12">
                        <span class="bold" style="padding: 0 30px">{{'fromAge' | translate }}:&nbsp;</span>
                        {{lesson.age}}&nbsp;&nbsp;&nbsp;
                        <span class="bold" style="padding: 0 30px">{{'filters.labels.subject' | translate }}:&nbsp;</span>
                        {{'filters.subjects.'+lesson.subject | translate}}
                    </div>
                </div>
            </div>
        </div>
        <div class="collapsible row">
            <a href="" class="no-underline" ng-click="stepCollapsed=!stepCollapsed">
                <i ng-show="!!stepCollapsed" class="fa fa-plus-square"></i>
                <i ng-show="!stepCollapsed" class="fa fa-minus-square"></i>
                {{'report.lessonSteps'|translate}}
            </a>
        </div>
        <hr/>
        <div class="step row" uib-collapse="!!stepCollapsed">
            <div class="row row-nested top20" ng-repeat="step in lesson.steps">
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-2">
                            <i ng-show="!!step.videoUrl" class="fa fa-video-camera"></i>
                            <i ng-show="!!step.quizItems" class="fa fa-question-circle"></i>
                            <i ng-show="!!step.slideURL" class="fa fa-television "></i>
                        </div>
                        <div class="col-md-10">
                            <span dir="auto" class="title">{{step.title}}</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-9 description">
                    <a class="inline-table" ng-show="!!step.videoUrl" ng-href="{{step.videoUrl}}" target="_blank">
                        {{'reports.click.video' | translate}}</a>
                    <span ng-show="!!step.quizItems">
                     <ng-pluralize count="step.quizItems.length" when="{
                            '0': '{{ &quot;report.questionsInQuiz.zero&quot; | translate}}',
                            'one':'{} {{ &quot;report.questionsInQuiz.one&quot; | translate}}',
                            'other':'{} {{ &quot;report.questionsInQuiz.other&quot; | translate}}'}">
                     </ng-pluralize>
                </span>
                    <a class="inline-table" ng-show="!!step.slideURL" ng-href="{{step.slideURL}}" target="_blank">
                        {{'reports.click.step' | translate}}
                    </a>
                </div>
            </div>
        </div>
        <div ng-show="!!lesson.nextLessonId || !!lesson.priorLessonId">
            <div class="collapsible row">
                <a href="" class="no-underline " ng-click="recommendationCollapsed=!recommendationCollapsed">
                    <i ng-show="!!recommendationCollapsed" class="fa fa-plus-square"></i>
                    <i ng-show="!recommendationCollapsed" class="fa fa-minus-square"></i>
                    {{'report.recommendation'|translate}}
                </a>
            </div>
            <hr/>
            <div class="recommendation row" uib-collapse="!!recommendationCollapsed">
                <div class="row row-nested top20" ng-show="!!lesson.nextLessonId">
                    <div class="col-md-3">
                        <div class="row">
                            <div class="col-md-2">
                                <i class="fa fa-university"></i>
                            </div>
                            <div class="col-md-10">
                                <span class="title">{{'report.nextLesson' | translate}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9 description">
                        <a ng-href="#!/public/lessons/{{lesson.nextLessonId}}/intro" target="_blank">
                            {{'reports.click.nextLesson' | translate}}
                        </a>
                    </div>
                </div>
                <div class="row row-nested top20" ng-show="!!lesson.priorLessonId">
                    <div class="col-md-3">
                        <div class="row">
                            <div class="col-md-2">
                                <i class="fa fa-university">&nbsp;</i>
                            </div>
                            <div class="col-md-10">
                                <span class="title">{{'report.priorLesson' | translate}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9 description">
                        <a ng-href="#!/public/lessons/{{lesson.priorLessonId}}/intro" target="_blank">
                            {{'reports.click.priorLesson' | translate}}
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="details">
            <div class="collapsible row">
                <a class="no-underline" href="" ng-click="detailCollapsed=!detailCollapsed">
                    <i ng-show="!!detailCollapsed" class="fa fa-plus-square"></i>
                    <i ng-show="!detailCollapsed" class="fa fa-minus-square"></i>
                    {{'lessonPreview.detailHeader'|translate}}
                </a>
            </div>
            <hr/>
            <div uib-collapse="!!detailCollapsed" class="detail row">
                <div class="row row-nested" ng-repeat="step in lesson.steps">
                    <div ng-if="!!step.quizItems" class="col-md-12">
                        <div dir="auto" class="collapsible">{{step.title}}</div>
                        <div ng-repeat="id in step.quizItems">
                            <question-preview quiz-item="questions[id]"></question-preview>
                        </div>
                        <br/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="modal-footer">
    <button class="btn" ng-click="cancel()">{{'cancel' |translate}}</button>
</div>
