<table class=" lergo-table lergo-form">
    <thead>
    <tr>
        <td width="15%">{{ 'questions.possibleIncorrectAnswer' | translate }}</td>
        <td>
            {{'questions.textExplanation' | translate }}
        </td>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="option in quizItem.options " ng-show="!option.checked">
        <td><input ng-model="option.label"/></td>
        <td>
            <input ng-model="option.textExplanation"/>
        </td>
        <td>
            <a class="btn btn-link" ng-click="removeOption(option)"><div style="color: #2a6496; text-decoration: none; display: inline-block; font-size: 15px"> X </div></a>
        </td>
    </tr>
    <tr>
        <td><input type="text" placeholder="{{ 'questions.clickToAdd' | translate }}" readonly="True"
                   ng-click="addOption()"/></td>
    </tr>
    </tbody>
</table>

