<div class="lesson-step-quiz">
   <div class="lesson-step-title lergo-h1">{{step.title}}</div>
   <div class="lesson-step-quiz-content">
      <div style="margin: 10px">
         <table class=lergo-table>
            <tr>
               <td style="width: 100%">
                  <p class="lergo-h4">{{quizItem.question}}</p>
                  <p class="question-help-text">{{quizItem.helpText}}</p>
               </td>
               <td>
                  <button ng-show="!!quizItem.hint" popover-placement="top" name="quizItem._id" popover-trigger="focus" popover="{{quizItem.hint}}"
                     class="btn-link">{{ 'hint' | i18n }}</button>
               </td>
            </tr>
            <tr>
               <td><audio ng-show="!!quizItem.audioUrl" ng-src="{{getAudioUrl(quizItem)}}" audioplayer controls></audio></td>
            </tr>
         </table>
         <div ng-include="getQuizItemTemplate(getQuizItem())"></div>
      </div>
      <div class="lesson-step-quiz-next">
         <button ng-show=" !getAnswer(quizItem)" ng-disabled="!quizItem.userAnswer" type="submit" class="btn" ng-click="checkAnswer()">{{
            'button.submit' | i18n }}</button>
         <button ng-show="hasNextQuizItem() && getAnswer(quizItem)" class="btn" ng-click="nextQuizItem()">{{ 'nextQuestion' | i18n }} >></button>
         <button ng-show="!hasNextQuizItem() && getAnswer(quizItem)" class="btn" disabled>{{ 'steps.noMoreQuestions' | i18n }}</button>
      </div>
      <progressbar animate="true" value="progressPercentage" type="primary" class="progressbar"> <b>{{progressPercentage}}%</b></progressbar>
   </div>
   <br>
   <div ng-show="!!getAnswer(quizItem)">
      <div class="bg-success" ng-show="getAnswer(quizItem).correct">
         {{(quizItem.type === 'openQuestion') && ('questions.thankYou' | i18n) || ('questions.correctAnswerFilled' | i18n) }}
         <div ng-show="!!quizItem.explanation">
            <a class="btn-link" style="color: white" ng-click="isCollapsed = !isCollapsed">{{ 'explanation' | i18n }}</a>
            <div style="width: 400px;margin: auto" collapse="!isCollapsed">{{quizItem.explanation}}</div>
         </div>
      </div>
      <div class="bg-warning" ng-show="!getAnswer(quizItem).correct">
         {{'questions.incorrectAnswerFilled' | i18n }}: {{((quizItem.type==='trueFalse') && (quizItem.answer && ('quizItem.answer.'+quizItem.answer |
         i18n)||"") || getCorrectAnswers(quizItem) )}}
         <div ng-show="!!quizItem.explanation">
            <a class="btn-link" style="color: white" ng-click="collapsed = !collapsed">{{ 'explanation' | i18n }}</a>
            <div style="width: 400px;margin: auto" collapse="!!collapsed">{{quizItem.explanation}}</div>
         </div>
      </div>
   </div>
   <div ng-show="!getAnswer(quizItem)">
      <div class="bg-primary">{{ (quizItem.type === 'openQuestion') &&('steps.answer' | i18n) ||('steps.selectAnAnswer' | i18n) }}</div>
   </div>
</div>
