<div>
    <div>
        <div class="col-lg-3 col-md-2 col-sm-12 col-xs-12"></div>
        <div class="col-lg-6 col-md-8 col-sm-12 col-xs-12">
            <div class="lesson-step-quiz-mobile">
                <div dir="auto" class="lesson-step-title lergo-h1" style="padding-bottom: 0px; margin-bottom: -30px;">{{step.title}}</div>
                <div>
                    <table class="lergo-table override-padding">
                        <tr>
                            <td style="vertical-align: top;">
                                <div class="lesson-step-quiz-content" ng-include="getQuizItemTemplate()" ng-init="mode='quiz'"></div>
                            </td>
                        </tr>
                        <tr>
                            <td style="vertical-align: top;" ng-show="shouldShowExplanationMedia()" class="quiz-item-explanation">
                                <div style="border: 5px solid #EE9A00; border-radius: 10px;">
                                    <div style="font-weight: bold">{{ 'explanation' | translate }}</div>
                                    <div dir="auto">{{quizItem.explanation}}</div>
                                    <div quiz-item-explanation-media quiz-item="quizItem"></div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12"></div>
    </div>

</div>

