<div class="lesson-step-video" ng-init="scrollUp()">
    <div class="lesson-step-title lergo-h1">{{step.title}}</div>
    <div class="lesson-step-video-content">
        <div  class="embed-responsive embed-responsive-16by9">
            <div class="hidden-xs">
                <iframe width="{{videoSize.width}}" height="{{videoSize.height}}" ng-src="{{getYoutubeEmbedSource(step)}}"
                        frameborder="0" allowfullscreen>
                </iframe>
            </div>
            <div class="hidden-lg hidden-md hidden-sm">
                <iframe class="embed-responsive-item" ng-src="{{getYoutubeEmbedSource(step)}}"
                        frameborder="0" allowfullscreen>
                </iframe>
            </div>
        </div>
    </div>
    <br/>
    <br/>
    <div ng-show="hasNextStep()" class="text-center">
        <button ng-click="continueBtnDisable || nextStep()" class="btn" ng-disabled="continueBtnDisable">
            <i ng-show="continueBtnDisable" class="fa fa-circle-o-notch fa-spin" aria-hidden="true"></i>
            {{ 'lessons.letsContinue' | translate }}
        </button>
    </div>
</div>
