<div id="FAQ" class="lergo-form" ng-controller="FaqIndexCtrl" ng-init="scrollUp()">
    <div>
        <div class="title">{{'about.faq'|translate}}</div>
        <br />
        <div class="desc">
            {{'faq.header1' | translate}}
            <a href="#!/public/contact">{{'faq.header2' | translate}}</a>
            {{'faq.header3' | translate}}
            <a href="#!/public/problem">{{'faq.header4' | translate}}</a>
            {{'faq.header5' | translate}}
        </div>
    </div>
    <br />
    <div ng-repeat="q in faq.contents">
        <div class="faq">
            <div dir="auto" class="question">{{q.question}}</div>
            <div class="answer">{{q.answer}}</div>
        </div>
        <br />
        <div admin-section="faqs.userCanCreate && faqs.userCanEdit">
            <div class="admin">
                <div class="actions">
                    <a ng-click="moveUp($index)" ng-show="!$first" class="fa fa-arrow-up"></a>
                    <a ng-click="moveDown($index)" ng-show="!$last" class="fa fa-arrow-down"></a>
                    <a ng-click="removeFAQ($index)" class="fa fa-trash-o"></a>
                </div>
                <div>
                    {{'questions.question' | translate}}
                    <input ng-model="q.question" />
                </div>
                <div>
                    {{'questions.answer' | translate}}
                    <textarea ng-model="q.answer"></textarea>
                </div>
            </div>
            <br />
        </div>
    </div>
    <div admin-section="faqs.userCanCreate && faqs.userCanEdit">
        <a class="btn-link" ng-click="addFAQ()">{{'faq.add' | translate}}</a>
        <div class="lergo-h3">{{ isSaving() && ('saving'| translate) || ('saved' | translate) }}</div>
    </div>
</div>
