<div class="friends" ng-init="scrollUp()">
    <div class="title">{{'about.friend.title' | translate}}</div>
    <div class="desc">{{'about.friend.desc' | translate}}</div>
    <div class="icons">
        <a href="http://www.browserstack.com/" target="_blank">
            <i class="browserstack"></i>
        </a>
        <a href="http://www.cloudbees.com" target="_blank">
            <i class="cloudbees"></i>
        </a>
        <a href="http://www.atlassian.com/software/jira" target="_blank">
            <i class="jira"></i>
        </a>
        <a href="http://www.github.com" target="_blank">
            <i class="github"></i>
        </a>
        <a href="http://www.loggly.com" target="_blank">
            <i class="loggly"></i>
        </a>
        <a href="http://www.essence-grp.com" target="_blank">
            <i class="essence"></i>
        </a>
        <a href="http://www.goanimate.com" target="_blank">
            <i class="goanimate"></i>
        </a>
        <a href="http://www.pingdom.com" target="_blank">
            <i class="pingdom"></i>
        </a>
        <a href="http://www.muvizu.com" target="_blank">
            <i class="muvizu"></i>
        </a>
        <a href="http://www.phraseapp.com" target="_blank">
            <i class="phraseapp"></i>
        </a>
        <a href="http://www.bnaibrith.org.il" target="_blank">
            <i class="bnaibrith"></i>
        </a>
        <a href="http://www.tatoeba.org" target="_blank">
            <i class="tatoeba"></i>
        </a>
    </div>
</div>
