<div class="fundersPicture" ng-init="scrollUp()">
    <div class="title">{{'about.fundersPicture.title'|translate}}</div>
    <div class="desc">{{'about.fundersPicture.desc1'|translate}}</div>
    <div class="desc">{{'about.fundersPicture.desc2'|translate}}</div>
    <div class="heart">
        <i class="fa fa-heart"></i>
        <i class="fa fa-heart"></i>
        <i class="fa fa-heart"></i>
    </div>
    <div class="desc">{{'about.fundersPicture.thanks'|translate}}</div>
    <div class="image">
        <i class='fundersPictureImg'></i>
    </div>
</div>
