<div class="contributors" ng-init="scrollUp()">
    <div class="title">{{'contributors.title'|i18n}}</div>
    <div class="desc">{{'contributors.desc'|i18n}}</div>
    <div class="desc">
        <span class="name">Maayan Cohen</span>
        -
        <span class="desg">{{'MaayanCohen.desg' | i18n}},</span>
        <span class="name">Shira Paz-Greenberg</span>
        -
        <span class="desg">{{'ShiraPaz-Greenberg.desg' | i18n}},</span>
        <span class="name">Yariv Weinberg</span>
        -
        <span class="desg">{{'YarivWeinberg.desg' | i18n}},</span>
        <span class="name">Malcolm Finn</span>
        -
        <span class="desg">{{'MalcolmFinn.desg' | i18n}},</span>
        <span class="name">Liat Levy</span>
        -
        <span class="desg">{{'LiatLevy.desg' | i18n}},</span>
        <span class="name">Guy Mograbi</span>
        -
        <span class="desg">{{'GuyMograby.desg' | i18n}},</span>
        <span class="name">Rahul Shukla</span>
        -
        <span class="desg">{{'RahulShukla.desg' | i18n}},</span>
        <span class="name">Gilad Beeri</span>
        -
        <span class="desg">{{'GiladBeeri.desg' | i18n}},</span>
        <span class="name">Yishai Barak</span>
        -
        <span class="desg">{{'YishaiBarak.desg' | i18n}},</span>
        <span class="name">Tanya Epstein</span>
        -
        <span class="desg">{{'TanyaEpstein.desg' | i18n}},</span>
        <span class="name">Sagy Gulianka</span>
        -
        <span class="desg">{{'SagyGulianka.desg' | i18n}},</span>
        <span class="name">Offir Gonen</span>
        -
        <span class="desg">{{'OffirGonen.desg' | i18n}},</span>
        <span class="name">Tal Chasdai</span>
        -
        <span class="desg">{{'TalChasdai.desg' | i18n}},</span>
        <span class="name">Liat Moreno</span>
        -
        <span class="desg">{{'LiatMoreno.desg' | i18n}},</span>
        <span class="name">Dr. Hala Espanioly</span>
        -
        <span class="desg">{{'Dr.HalaEspanioly.desg' | i18n}},</span>
        <span class="name">Lewis Manne</span>
        -
        <span class="desg">{{'LewisManne.desg' | i18n}},</span>
        <span class="name">Dima Alkin</span>
        -
        <span class="desg">{{'DimaAlkin.desg' | i18n}},</span>
        <span class="name">Sanad Atamna</span>
        -
        <span class="desg">{{'SanadAtamna.desg' | i18n}},</span>
        <span class="name">Sasha Gilenson</span>
        -
        <span class="desg">{{'SashaGilenson.desg' | i18n}},</span>
        <span class="name">Eyal Chen</span>
        -
        <span class="desg">{{'EyalChen.desg' | i18n}},</span>
        <span class="name">Shuly Wandam</span>
        -
        <span class="desg">{{'ShulyWandam.desg' | i18n}},</span>
        <span class="name">Mira Cohen</span>
        -
        <span class="desg">{{'MiraCohen.desg' | i18n}},</span>
        <span class="name">Dr. Jeffrey</span>
        -
        <span class="desg">{{'Dr.Jeffrey.desg' | i18n}},</span>
        <span class="name">Elad Meshulam</span>
        -
        <span class="desg">{{'EladMeshulam.desg' | i18n}},</span>
        <span class="name">Nadav Berkovich</span>
        -
        <span class="desg">{{'NadavBerkovich.desg' | i18n}},</span>
        <span class="name">Prof. Ariel Rubinstein</span>
        -
        <span class="desg">{{'Prof.ArielRubinstein.desg' | i18n}},</span>
        <span class="name">Alina Colton</span>
        -
        <span class="desg">{{'AlinaColton.desg' | i18n}},</span>
        <span class="name">Gil Shai</span>
        -
        <span class="desg">{{'GilShai.desg' | i18n}},</span>
        <span class="name">Maisa Elshiekh</span>
        -
        <span class="desg">{{'MaisaElshiekh.desg' | i18n}},</span>
        <span class="name">Prof. Dorit Ravid</span>
        -
        <span class="desg">{{'Prof.DoritRavid.desg' | i18n}},</span>
        <span class="name">Dr. Dalia Fadila</span>
        -
        <span class="desg">{{'Dr.DaliaFadila.desg' | i18n}},</span>
        <span class="name">Prof. David Passig</span>
        -
        <span class="desg">{{'Prof.DavidPassig.desg' | i18n}},</span>
        <span class="name">Nadav Stark</span>
        -
        <span class="desg">{{'NadavStark.desg' | i18n}},</span>
        <span class="name">Tal Goldberg</span>
        -
        <span class="desg">{{'TalGoldberg.desg' | i18n}},</span>
        <span class="name">Tomer Ashur</span>
        -
        <span class="desg">{{'TomerAshur.desg' | i18n}},</span>
        <span class="name">Shalom Passy</span>
        -
        <span class="desg">{{'ShalomPassy.desg' | i18n}},</span>
        <span class="name">Dr. Zvi Paltiel</span>
        -
        <span class="desg">{{'Dr.ZviPaltiel.desg' | i18n}},</span>
        <span class="name">Yoav Ben-Arie</span>
        -
        <span class="desg">{{'YoavBen-Arie.desg' | i18n}},</span>
        <span class="name">Gigi Levy</span>
        -
        <span class="desg">{{'GigiLevy.desg' | i18n}},</span>
        <span class="name">Avner Algom</span>
        -
        <span class="desg">{{'AvnerAlgom.desg' | i18n}},</span>
        <span class="name">Dr. Aliza Belman Inbal</span>
        -
        <span class="desg">{{'Dr.AlizaBelmanInbal.desg' | i18n}},</span>
        <span class="name">Eran Wagner</span>
        -
        <span class="desg">{{'EranWagner.desg' | i18n}},</span>
        <span class="name">Michael Couture</span>
        -
        <span class="desg">{{'MichaelCouture.desg' | i18n}},</span>
        <span class="name">Guy Brill</span>
        -
        <span class="desg">{{'GuyBrill.desg' | i18n}},</span>
        <span class="name">Haggi Hochberger</span>
        -
        <span class="desg">{{'HaggiHochberger.desg' | i18n}},</span>
        <span class="name">Yochai Manor</span>
        -
        <span class="desg">{{'YochaiManor.desg' | i18n}},</span>
        <span class="name">Ofer Curiel</span>
        -
        <span class="desg">{{'OferCuriel.desg' | i18n}},</span>
        <span class="name">Giora Shaked</span>
        -
        <span class="desg">{{'GioraShaked.desg' | i18n}},</span>
        <span class="name">Zeev Ravid</span>
        -
        <span class="desg">{{'ZeevRavid.desg' | i18n}},</span>
        <span class="name">Orit Yaron</span>
        -
        <span class="desg">{{'OritYaron.desg' | i18n}},</span>
        <span class="name">Ruti Arazi</span>
        -
        <span class="desg">{{'RutiArazi.desg' | i18n}},</span>
        <span class="name">Moti Shatner</span>
        -
        <span class="desg">{{'MotiShatner.desg' | i18n}},</span>
        <span class="name">Daniel Sirkin</span>
        -
        <span class="desg">{{'DanielSirkin.desg' | i18n}},</span>
        <span class="name">Lior Manor</span>
        -
        <span class="desg">{{'LiorManor.desg' | i18n}},</span>
        <span class="name">Rabbi Yaron Levy</span>
        -
        <span class="desg">{{'RabbiYaronLevy.desg' | i18n}},</span>
        <span class="name">Martin Buhr</span>
        -
        <span class="desg">{{'MartinBuhr.desg' | i18n}},</span>
        <span class="name">Maysam Kanaan</span>
        -
        <span class="desg">{{'MaysamKanaan.desg' | i18n}},</span>
        <span class="name">Yossi Ben-Shoshan</span>
        -
        <span class="desg">{{'YossiBen-Shoshan.desg' | i18n}},</span>
        <span class="name">Amnon Levav</span>
        -
        <span class="desg">{{'AmnonLevav.desg' | i18n}},</span>
        <span class="name">Alexander Nelles</span>
        -
        <span class="desg">{{'AlexanderNelles.desg' | i18n}}</span>
    </div>
</div>
