<div class="base-layout " id="manageUserUpdate">
    <div class="page-content-width">
        <form class="lergo-form">

            <div class="form-section form-group username">

                <div class="lergo-label">
                    {{ 'users.edit.username' | translate }}
                </div>
                <div class="lergo-input">

                    <input ng-model="user.username" ng-disabled="true"/>
                </div>
            </div>
            <div class="form-section form-group">

                <div class="lergo-label">
                    {{ 'users.edit.email' | translate }}
                </div>
                <div class="lergo-input">
                    <input ng-model="user.email" ng-disabled="true"/>
                </div>

            </div>

            <div class="form-section user-roles">
                <div class="lergo-label"> {{ 'users.edit.roles' | translate }}</div>
                <ul class="roles">
                    <li ng-repeat="roleId in user.roles" title="{{getRoleName(roleId)}}"> <span>{{ getRoleName(roleId) }}</span><a href="#!/manage/roles/{{roleId}}/update">Edit</a></li>
                </ul>
                <button class="btn" ng-click="editUserRoles()">{{ 'users.edit.editRoles' | translate }}</button>
            </div>

            <div class="buttons">
                <button class="btn" ng-click="close()">{{ 'cancel' | translate }}</button>
            </div>
        </form>
    </div>

</div>

