<div admin-homepage id="usersIndex">
    <div  load-filter-and-paging="loadUsers()">
        <div class="lergo-label">
            <span class="errorMessage" ng-show='errorMessage' style="float: right; font-size: 15px; color: red;">{{errorMessage}}</span>
        </div>
        <br />
        <div class="page-content-width page-content-titles">
            <div class="page-content-body">
                <div class="lergo-h1">
                    {{ 'manage.users.index.myUsers' | translate }} [ {{ 'manage.users.index.count' | translate }}: {{totalUsers+0}} ]
                </div>

                <!--<select class="report-type-selection" ng-model="reportsPage.reportType"-->
                <!--ng-options="reportType.id as ( 'reports.type.' + reportType.id | translate ) for reportType in reportTypes  ">-->
                <!--<option>mine</option>-->
                <!--<option>students</option>-->
                <!--</select>-->
            </div>
            <!--<div class="page-content-sidebar">-->
            <!--<div class="lergo-h1">{{ 'reports.filter' | translate }}</div>-->
            <!--</div>-->
        </div>
        <div class="page-content-width">
            <div class="page-content-body">
                <table class="lergo-table">
                    <thead>
                    <tr>
                        <!--<td class="checkbox-dropdown">-->
                        <!--<div class="btn-group" dropdown>-->
                        <!--<input type="checkbox" ng-click="selectAll($event)" ng-model="reportsPage.selectAll">-->
                        <!--<button type="button" class="btn-link" dropdown-toggle>-->
                        <!--<span class="caret"></span>-->
                        <!--</button>-->
                        <!--<ul class="dropdown-menu" role="menu">
                            <li>
                                <a  style="outline: none;" class="btn-link" ng-click="createLessonFromWrongQuestions()">{{'report.CreateLessonFromWrongQuestions'|translate}}</a>
                                <hr />
                                <a style="outline: none;" class="btn-link delete-menu" ng-click="deleteReports()">{{'delete'|translate}}</a>
                            </li>
                        </ul>-->
                        <!--</div>-->
                        <!--</td>-->
                        <td>{{ 'manage.users.index.tableTitles.username' | translate }}</td>
                        <td>{{ 'manage.users.index.tableTitles.email' | translate }} </td>
                        <td>{{ 'manage.users.index.tableTitles.validated' | translate }} </td>
                        <!--<td ng-show="showStudentColumn()">{{ 'reports.student' | translate}}</td>-->
                        <!--<td>{{ 'reports.subject' | translate}}</td>-->
                        <!--<td>{{ 'reports.takenAt' | translate}}</td>-->
                        <!--<td>{{ 'reports.correctPercentage' | translate }}</td>-->
                        <!--<td>{{ 'reports.duration'|translate}}</td>-->
                    </tr>
                    </thead>
                    <tbody>

                    <tr ng-repeat="user in users">
                        <!--<td>
                            <input type="checkbox" style="margin-left: 5px;" ng-model="report.selected">
                        </td>-->
                        <td class="name">
                            <a uib-tooltip="{{'manage.users.index.tooltip.go' | translate}}"
                               ng-href="#!/manage/users/{{user._id}}/update">{{ user.username }}</a>
                        </td>
                        <td class="description">{{ user.email }}</td><td ng-style="user.validated === FALSE && {'color': 'red'} || user.validated === true && {'color': 'green'}">{{ user.validated || "false" }}</td>
                        <!-- <td class="answer" ng-show="showStudentColumn()">{{report.data.invitee.name}}</td>
                         <td class="answer">{{report.data.lesson.subject && ('filters.subjects.' + report.data.lesson.subject | translate) ||""}}</td>
                         <td class="answer">{{report.lastUpdate| date:'medium'}}</td>
                         <td class="answer">{{report.correctPercentage}}</td>
                         <td class="answer">
                             <span ng-show="isCompleted(report)">{{report.duration|duration}}</span>
                             <span ng-show="!isCompleted(report)">{{'report.incomplete' | translate}}</span>
                         </td>-->
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="sidebar page-content-sidebar">
            <div lergo-filter model="adminFilter" on-change="loadUsers()" opts="adminFilterOpts" on-load="filterLoaded()"></div>
            </div>
        </div>
        <div lergo-paging page="filterPage" on-change="loadUsers()" on-load="pagingLoaded()"></div>
    </div>

</div>
