<form name="filter" ng-controller="FilterCtrl" class="filters lergo-form">

	<div ng-show="!!users" class='container-fluid'>
		<div class="input">
			<input type="text" placeholder="{{'filters.labels.createdBy' | i18n}}" ng-model="$root.filter.user"
				typeahead="user as user.username for user in users | filter:$viewValue | limitTo:15 " class="form-control">
		</div>
	</div>
	<div class="label">{{'filters.labels.language' | i18n }}</div>
	<div class="input">
		<select ng-options="l.id as ('filters.languages.' + l.id | i18n) for l in languages" ng-model="$root.filter.language">
			<option value="">{{'filters.all'|i18n}}</option>
		</select>
	</div>
	<div class="label">{{'filters.labels.subject' | i18n }}</div>
	<div class="input">
		<select ng-options="s as ('filters.subjects.' + s | i18n) for s in subjects" ng-model="$root.filter.subject">
			<option value="">{{'filters.all'|i18n}}</option>
		</select>
	</div>
	<div class="label">{{'filters.labels.ageRange' | i18n }}</div>
	<div>
		<input min="1" max="100" size="1" class="number" type="number" ng-model="$root.filter.ageRange.min" />
		{{'filters.to'|i18n}}
		<input min="1" max="100" size="1" ng class="number" type="number" ng-model="$root.filter.ageRange.max" />
	</div>
	<br />
	<div ng-show="!!showViewsFilter">
		<div class="label">{{'filters.labels.views' | i18n }}</div>
		<div>
			<input min="1" size="1" class="number" type="number" ng-model="$root.filter.views.min" />
			{{'filters.to'|i18n}}
			<input min="1" size="1" class="number" type="number" ng-model="$root.filter.views.max" />
		</div>
	</div>
	<br />
	<div ng-show="!!showStatusFilter">
		<div class="label">{{'filters.labels.status' | i18n }}</div>
		<div class="input">
			<select ng-options="s as ('filters.status.' + s | i18n) for s in status" ng-model="$root.filter.status">
				<option value="">{{'filters.all'|i18n}}</option>
			</select>
		</div>
	</div>
	
</form>
