<form name="filter" ng-controller="FilterCtrl" class="filters">
   <div class="label">{{'filters.labels.language' | i18n }}</div>
   <div class="input">
      <select ng-options="l as ('filters.languages.' + l | i18n) for l in languages" ng-model="$parent.filter.language">
         <option value="">{{'filters.all'|i18n}}</option>
      </select>
   </div>
   <div class="label">{{'filters.labels.subject' | i18n }}</div>
   <div class="input">
      <select placeholder="Subjects" ng-options="s as ('filters.subjects.' + s | i18n) for s in subjects" ng-model="$parent.filter.subject">
         <option value="">{{'filters.all'|i18n}}</option>
      </select>
   </div>
   <div class="label">{{'filters.labels.ageRange' | i18n }}</div>
   <div>
      <input min="1" max="100" size="1" class="number" type="number" ng-model="$parent.filter.ageRange.min" /> 
      {{'filters.to'|i18n}}
      <input min="1" max="100" size="1" ng class="number" type="number" ng-model="$parent.filter.ageRange.max" />
   </div>
</form>
