<div ng-show="loaded && showSteps() && hasNextStep() " class="next-step" ng-cloak>
    <div ng-include="'/views/playlists/_stepDisplay.html'"></div>
</div>
<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12"></div>
<div class="playlist">
<div class=" col-lg-8 col-md-8 col-sm-12 col-xs-12 dpadleftRight37">
    <div class="header">
        <div class="header-name">
                <div dir="auto" class="lergo-h1">{{playlist.name}}</div>
                <div dir="auto" class="lergo-h1" style="padding: 12px">{{'description' | translate}}</div>
                <div>
                    <div ng-show="!!playlist.description" class="lergo-h2">
                        <div class="col-lg-2 col-md-2"></div>
                                <div class=" header-name  col-lg-8 col-md-8 col-sm-12 col-xs-12" > {{ playlist.description }}</div>
                                <br>
                        <div class="col-lg-2 col-md-2"></div>
                    </div>
                </div>
                </div>
        </div>
    
    <div class="table-responsive"style="border: 1px solid #FAFAFA"> 
        
        <table class="lergo-table" ng-show="playlistLessonArray.length > 0">
            <thead>
                <tr style="font-weight: bold">
                    <td class="col-lg-7 col-md-7 col-sm-6 col-xs-6">{{ 'lessons.name' | translate }}</td>
                    <td class="col-lg-4 col-md-4 col-sm-3 col-xs-3"></td>
                    <td class="col-lg-1 col-md-3 col-sm-3 col-xs-3">{{'filters.status.complete' | translate }}</td>
                 </tr>
            </thead>
                <tbody> 
                    <tr ng-repeat="lesson in playlistLessonArray">
                    <td class="name  col-lg-7 col-md-7 col-sm-6 col-xs-6" dir="auto">
                        <a ng-class=" {'complete':!!lesson.isComplete}"  ng-href="#!/user/lessons/{{lesson._id}}/intro">{{lesson.name}} </a>
                    </td>
                    <td class="col-lg-4 col-md-4 col-sm-3 col-xs-3"></td>
                    <td class="col-lg-1 col-md-1 col-sm-3 col-xs-3 ">
                        <input ng-class="{'complete':!!lesson.isComplete}" type="checkbox" ng-checked="lesson.isComplete" ng-click="lessonIsDone(lesson)"/>
                    </td>
                    </tr>
                </tbody>
        </table>
    </div>
    </div>
<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12"></div>
