<div ng-show="loaded && showSteps() && hasNextStep() " class="next-step" ng-cloak>
    <div ng-include="'/views/playlists/_stepDisplay.html'"></div>
</div>
written in  in /playlists/_display.html?
<div style="font-size: 16px;color:green">the controller is /playlists/StepDisplay.js</div>
<!-- <div ng-show="!loaded" class="loading">
    <div>
        <i class="fa fa-cog fa-spin"></i>
    </div>
</div> -->


<div ng-repeat="les in lessonInvitationData">
    <div style="border: 2px solid blue">
        <lesson-preview quiz-item="lessons[les.lesson.lessonId]" lesson-invite="les.invitationId"></lesson-preview>
    </div>
</div>


