<div class="modal-header text-right"> 
    <!-- I don't know how to get playlist to load without this filter code -->
    <div class="hidden-md hidden-lg hidden-sm hidden-xs">
        <div lergo-filter   model="playlistsFilter" on-change="loadPlaylists()" opts="playlistsFilterOpts" on-load="filterLoaded()" is-active="filterIsActive"></div>
    </div>
    <button class="btn btn-link btn-lg btn-close-preview" type="button" ng-click="cancel()">
        <i class="fa fa-close"></i>
    </button>
</div>
<div class="modal-body" id="modal-body">
    <div id="playlistsIndex" load-filter-and-paging="loadPlaylists()">
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12" >
            <div class="my-playlists lergo-h1" >
                <div class="btn-group mobile-leftRight15" uib-dropdown dropdown-append-to-body>
                    <button id="btn-append-to-body" type="button" class="btn-link" uib-dropdown-toggle style="color: #5fb9ff; text-decoration: none">
                        <span class="fa fa-caret-down"></span>
                        <span class="lergo-h1 d-padBot15">{{('playlists.'+ playlistToLoad |translate)}} </span>
                    </button>
                    <ul class="dropdown-menu overidePositionInherit" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
                        <li>
                            <a class="btn-link" style="outline: none;" ng-click="load(PlaylistTypeToLoad.user)">{{'playlists.myPlaylists'|translate}}</a>
                            <a class="btn-link" style="outline: none;" ng-click="load(PlaylistTypeToLoad.liked)">{{'playlists.likedPlaylists'|translate}}</a>
                        </li>                                        
                    </ul>
                </div>[ {{ 'playlists.total' | translate }}: {{filterPage.count}} ]</div>
            </div>
            <div class=" hidden-sm hidden-xs">
                <!-- <div filter-is-active="playlistsFilterOpts" section="playlists"></div> -->
            </div>
            <div class="table-responsive"style="border: 1px solid #FAFAFA"> 
                <table class="table   " ng-show="playlists.length > 0">
                    <thead>
                        <tr>
                            <td class="col1">{{ 'playlists.name' | translate }}</td>
                            <td>{{'playlists.add' | translate}}</td>
                        </tr>
                        <tr ng-show='addNewPlaylistVisible && lesson.showAddToPlaylist'>
                            <td>{{'playlists.savedTo' | translate}}</td>
                            <td><input type="checkbox" ng-click="changeLikeStatus()" ng-model="lesson.AddedToFavorite" class="ng-pristine ng-valid ng-empty ng-touched"></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="playlist in playlists |orderBy:'-lastUpdate'">
                            <td class="name" dir="auto">
                                <a ng-show="!playlist.name || playlist.name.trim().length <= 0" tooltip-placement="bottom" uib-tooltip="{{'playlists.tooltip.go' | translate}}" ng-href="#!/user/playlists/{{playlist._id}}/intro">[no title ]</a>                  
                                <a ng-class="{'disabled':!!playlist.alreadyAdded}" ng-show="!!playlist.name && playlist.name.trim().length > 0" tooltip-placement="bottom" uib-tooltip="{{'playlists.tooltip.go' | translate}}" ng-href="#!/user/playlists/{{playlist._id}}/intro">{{playlist.name }}</a>   
                            </td>
                            <td>
                                <input ng-disabled="!!playlist.alreadyAdded" type="checkbox" ng-model="playlist.selected" class="ng-pristine ng-valid ng-empty ng-touched">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12"></div>
            <div class="page-content-body text-center" ng-hide="!!playlists || playlists.length != 0">
                <span class="alert alert-warning font-medium" >{{'playlists.noPlaylists' | translate}}</span>
            </div>
            <div lergo-paging class="textAlignCenter" page="filterPage" on-change="loadPlaylists()" on-load="pagingLoaded()"></div>
        </div>
    </div>
</div>
<div class="clearfix">
        <div class="modal-footer col-lg-4 col-md-6 col-sm-12 col-xs-12" >
            <button style="margin-left: 15px; margin-right: 15px"  class="btn small-btn" ng-click="addLessonBtnDisable || addLessonToPlaylist()"
                    ng-disabled="addLessonBtnDisable">
                <i ng-show="addLessonBtnDisable" class="fa fa-circle-o-notch fa-spin" aria-hidden="true"></i>
                {{'playlists.save' | translate }}
            </button>
        </div>
        <div>
            <div class="collapsible modal-footer col-lg-8 col-md-6 col-sm-12 col-xs-12" >
                <a href="" class="no-underline" ng-click="summaryCollapsed=!summaryCollapsed">
                <i class="fa" ng-class="{'fa-plus-square':summaryCollapsed,'fa-minus-square':!summaryCollapsed}">
                </i>
                {{'playlists.create'|translate}} 
            </a>
            </div>
        </div>
        <div uib-collapse="!!summaryCollapsed">
            &nbsp
            <div style="text-align: center; ">
                <input style="font-size: 18px; padding: 5px 15px;" type="text" placeholder="{{'playlists.createPlaylistForLesson' |translate }}" ng-model="newPlaylist.name" on-enter="createPlaylistWhenSavingLesson()" class="ng-pristine ng-valid ng-empty ng-touched">
            </div>
            &nbsp
    
    <!-- <div class="modal-footer col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <button class="btn small-btn" ng-click="cancel()">{{'cancel' |translate}}</button>
    </div>-->
    </div>
</div>


