
<div class="hidden-sm hidden-xs">
    <div class="base-layout" id="playListIntro" ng-init="scrollUp()">
            <div>
                <div>
                <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12" ></div>
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        <div class="clearfix">
                            <div class="page-content-body">
                                <div cg-busy="[copyLessonPromise,deleteLessonPromise,]" class="playList lergo-body-tile">
                                    <div class="image" style="max-width: 480px;">
                                        <div playList-title-image playList="playList"></div>
                                    </div>
                                    <div class="start-playList">
                                        <span class="button">
                                            <button class="btn-link" ng-click="startLesson()" ng-show="!!playList" autofocus
                                                    on-enter="startLesson()">
                                                <i class="fa fa-play-circle-o " uib-tooltip="{{'playLists.startLesson' | translate}}"></i>
                                            </button>
                                        </span>
                                    </div>
                                    <div class="action-items" ng-show="!!permissions">
                                        <div class="action-items-top">
                                            <a class="btn-link" ng-click="deleteLesson(playList)" ng-show="!!permissions.canDelete">
                                                <i class="fa fa-trash-o" uib-tooltip="{{'playLists.tooltip.delete' | translate}}"></i>
                                            </a>
                                            <br/>
                                        </div>
                                        <div class="action-items-bottom">
                                            <button class="btn-link" ng-click="copyBtnDisable || copyLesson(playList)"
                                                    ng-show="!!permissions.canCopy">
                                                <i class="fa fa-copy" uib-tooltip="{{'playLists.tooltip.copy' | translate}}"></i>
                                            </button>
                                            <br/>
                                            <a href="#!/user/playLists/{{playList._id}}/update"
                                               uib-tooltip="{{'playLists.tooltip.edit' | translate}}"
                                               ng-show="!!permissions.canEdit">
                                                <i class="fa fa-pencil-square-o"></i>
                                            </a>
                                            <br/>
                                        </div>
                                    </div>
                                    <div class="stats">
                                        <span class="stats-button age-limit-{{playList.age}} no-color" ng-show="!!playList.age"> {{playList.age}}+ {{'homepage.years'|translate}}
                                        </span>
                                        <span class="stats-button" uib-tooltip="{{'homepage.tooltip.views' | translate}}">
                                            <i class="fa fa-eye fa-fw"></i>
                                            {{0+playList.views}}
                                        </span>
                                         <span class="stats-button" uib-tooltip="{{'homepage.tooltip.questions' | translate}}">
                                            <i class="fa fa-question-circle fa-fw"></i>
                                            {{ playList | countQuestionsOnLesson }}
                                        </span>
                                        <span class="stats-button" uib-tooltip="{{'homepage.tooltip.likes' | translate}}">
                                            <i class="fa fa-heart-o"></i>
                                            {{ playListLikes }}
                                        </span>
                                    </div>
                                    <div class="details">
                                        <div dir="auto" class="name">{{ playList.name|limitTo:160 }}</div>
                                        <div class="properties">
                                        <span uib-tooltip="{{'homepage.tooltip.user' | translate}}">
                                             <a ng-href="#!/public/{{playList.user.username}}/profile">
                                                 <i class="fa fa-user"></i>
                                                 <span> {{playList.user.username}}</span>
                                             </a>
                                        </span>
                                        <span uib-tooltip="{{'playLists.createdOn' | translate}}">
                                            <i class="fa fa-calendar"></i>
                                            <span>{{playList | mongoIdToTimestamp | date:'d-MMM-yyyy'}}</span>
                                        </span>
                                        <span ng-show="!!playList.subject" uib-tooltip="{{'homepage.tooltip.subject' | translate}}">
                                            <i class="fa fa-book"></i>
                                            <span>{{'filters.subjects.' + playList.subject | translate}}</span>
                                        </span>
                                        </div>
                                        <div class="action-items">
                                            <div class="action-item">
                                                <button class="btn-link" ng-click="startLesson()"
                                                        uib-tooltip="{{'playLists.tooltip.start' | translate}}">
                                                    <i class="fa fa-play-circle-o "></i>
                                                    {{'start' | translate}}
                                                </button>
                                            </div>
                                            <div class="action-item">
                                                <div show-logged-in>
                                                    <button class="btn-link" ng-click="likeLesson()"
                                                            uib-tooltip="{{'playLists.tooltip.like' | translate}}" ng-show="!isLiked()">
                                                        <i class="fa fa-heart-o "></i>
                                                        {{'like' | translate}}
                                                    </button>
                                                    <div class="btn-group" uib-dropdown ng-show="!!isLiked()">
                                                        <button class="btn-link" uib-dropdown-toggle>
                                                            <i class="fa fa-heart-o "></i>
                                                            {{'liked' | translate}}
                                                            <span class="fa fa-caret-down"></span>
                                                        </button>
                                                        <ul class="dropdown-menu" role="menu">
                                                            <li>
                                                                <a class="btn-link" style="outline: none;" ng-click="unlikeLesson()">{{
                                                                    'unlike' | translate }}</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div show-anonymous>
                                                    <button class="btn-link" uib-popover="{{'playLists.likeNotAvailable' | translate}}"
                                                            popover-placement="top" popover-trigger="'outsideClick'" tabindex="0">
                                                        <i class="fa fa-heart-o "></i>
                                                        {{'like' | translate}}
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="action-item">
                                                <button show-logged-in class="btn-link" ng-click="setActiveAction(actionItems.INVITE)"
                                                        uib-tooltip="{{'playLists.tooltip.invite' | translate}}">
                                                    <i class="fa fa-envelope "></i>
                                                    {{'invite' | translate}}
                                                </button>
                                                <!--  tabindex = 0 is use to fix focus trigger problem in google chrome -->
                                                <a href="" show-anonymous class="btn-link"
                                                   uib-popover="{{'playLists.inviteNotAvailable' | translate}}" popover-placement="top"
                                                   popover-trigger="'outsideClick'"
                                                   tabindex="0">
                                                    <i class="fa fa-envelope "></i>
                                                    {{'invite' | translate}}
                                                </a>
                                            </div>
                                            <div class="action-item">
                                                <button class="btn-link" ng-click="setActiveAction(actionItems.SHARE)"
                                                        uib-tooltip="{{'playLists.tooltip.share' | translate}}">
                                                    <i class="fa fa-share-alt "></i>
                                                    {{'share' | translate}}
                                                </button>
                                            </div>
                                            <div class="action-item" show-logged-in ng-show="!isInvitationLink()">
                                                <button class="btn-link" ng-click="previewLesson()"
                                                        uib-tooltip="{{'playLists.tooltip.preview' | translate}}">
                                                    <i class="fa fa-search-plus"></i>
                                                    {{'playLists.Intro.action.preview.title' | translate}}
                                                </button>
                                            </div>
                                            <div class="action-item">
                                                <div class=" abuse-chevron btn-group" uib-dropdown ng-click="$event.stopPropagation()">
                                                    <button class="btn-link" uib-dropdown-toggle>
                                                        <span class="fa fa-chevron-down" style="vertical-align: super;"></span>
                                                    </button>
                                                    <ul class="dropdown-menu" role="menu">
                                                        <li>
                                                            <a show-logged-in class="btn-link" style="outline: none;"
                                                               ng-click="setActiveAction(actionItems.REPORT)">
                                                                <i class="fa fa-flag "></i>
                                                                {{'reportAbuse.title'|translate}}
                                                            </a>
                                                            <a href="" show-anonymous class="btn-link"
                                                               uib-popover="{{'playLists.reportAbuseNotAvailable' | translate}}"
                                                               popover-placement="top"
                                                               popover-trigger="'outsideClick'" tabindex="0">
                                                                <i class="fa fa-flag "></i>
                                                                {{'reportAbuse.title'|translate}}
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="forms">
                                            <div ng-show="isActiveAction(actionItems.SHARE)"
                                                 ng-include="'views/playLists/intro/_shareForm.html'"></div>
                                            <div ng-show="isActiveAction(actionItems.INVITE)" playList-create-invite-form
                                                 on-close="setActiveAction()"></div>
                                            <div ng-show="isActiveAction(actionItems.REPORT)"
                                                 ng-include="'views/playLists/intro/_reportForm.html'"></div>
                                        </div>
                                        <div class="description">
                                            <pre dir="auto" ng-show="!more">{{ filteredDescription =(playList.description| limitTo:320 | multilineEllipsis) }}</pre>
                                            <div ng-show="!!more">
                                                <pre dir="auto">{{ playList.description}}</pre>
                                                <div class="edit-summary" ng-show="showEditSummary()">
                                                    <br/>
                                                    <span class="title">{{'questions.editSummary'|translate}}</span>
                                                    <br/>
                                                    <br/>
                                                    <!-- show copy of playList -->
                                                    <div ng-show="copyOfItems.length > 0">
                                                <span ng-show="copyOfItems.length === 1" ng-repeat="item in copyOfItems">
                                                    {{ 'playListIntro.copiedFromLesson' | translate}}
                                                    <span playList-intro-link playList="item">{{item.name}}</span>
                                                    {{ 'playListIntro.copiedFromLessonBy' | translate }} {{item.userDetails.username }}
                                                </span>
                                                        <span ng-show="copyOfItems.length > 1">
                                                    {{ 'playListIntro.copiedFromPlayList' | translate }}
                                                    <ul>
                                                        <li ng-repeat="item in copyOfItems track by $index">
                                                            <span playList-intro-link playList="item">{{item.name}}</span>
                                                            {{ 'playListIntro.copiedFromLessonBy' | translate }}
                                                            {{item.userDetails.username }}
                                                        </li>
                                                    </ul>
                                                </span>
                                                        <br/>
                                                    </div>
                                                    <br />
                                                    <div ng-repeat="q in questions">
                                                        <div dir="auto" class="question"
                                                             ng-show="!!q.summary || !!questionsWeCopied[q._id] || !!questionsFromOthers[q._id]">
                                                            <!--  <a href="#!/user/questions/{{q._id}}/read"> Q:{{q.question | limitTo :30}}</a>-->
                                                            <i class="fa fa-question-circle"> </i>
                                                            <span class="title-question"> {{q.question | limitTo :50}} </span>
                                                        </div>
                                                        <div ng-show="!!questionsFromOthers[q._id]">
                                                            <div class="summary">Question created by
                                                                {{questionsFromOthers[q._id].userDetails.username}}
                                                            </div>
                                                        </div>
                                                        <div ng-show="!!q.summary">
                                                            <div class="summary" btf-markdown="q.summary"></div>
                                                        </div>
                                                        <div ng-show="!!questionsWeCopied[q._id]">
                                                            <div ng-repeat="o in questionsWeCopied[q._id].originals track by $index">
                                                                <div class="summary">
                                                                    Copied from
                                                                    <span question-read-link question="o"></span>
                                                                    by {{o.userDetails.username}}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="read-more" style="text-align: center"
                                                 ng-show="showReadMore(filteredDescription) " ng-click="more=!more">
                                                <hr class="dashes">
                                                <span ng-show="!more">{{'playLists.readMore' | translate}}</span>
                                                <span ng-show="!!more">{{'playLists.readLess' | translate}}</span>
                                                <hr class="dashes">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div powered-by-lergo="playList"></div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12"></div>
                </div>
                <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12"></div>
                     <div class="col-lg-8 col-md-8  col-sm-12 col-xs-12">
                        <div class="not-embed-mode-item" style="margin-top: 10px;">
                            <div class="comments " show-logged-in>
                                <div disqus-embed playList="playList"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="hidden-lg hidden-md">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 -col-md-12 col-sm-12 col-xs-12">
                <div class="base-layout" id="playListIntro-Mobile">
                    <div>
                        <div class="playList-intro-content clearfix">
                            <div>
                                <div cg-busy="[copyLessonPromise,deleteLessonPromise,]" class="playList lergo-body-tile">
                                    <div class="image">
                                        <div playList-title-image playList="playList"></div>
                                    </div>
                                    <div class="start-playList">
                                        <span class="button">
                                            <button class="btn-link" ng-click="startLesson()" ng-show="!!playList" autofocus
                                                    on-enter="startLesson()">
                                                <i  class="fa fa-play-circle-o " uib-tooltip="{{'playLists.startLesson' | translate}}"></i>
                                            </button>
                                        </span>
                                    </div>
                                    <div class="action-items" ng-show="!!permissions">
                                        <div class="action-items-top">
                                            <a class="btn-link" ng-click="deleteLesson(playList)" ng-show="!!permissions.canDelete">
                                                <i class="fa fa-trash-o" uib-tooltip="{{'playLists.tooltip.delete' | translate}}"></i>
                                            </a>
                                            <br/>
                                        </div>
                                        <div class="action-items-bottom">
                                            <button class="btn-link" ng-click="copyBtnDisable || copyLesson(playList)"
                                                    ng-show="!!permissions.canCopy">
                                                <i class="fa fa-copy" uib-tooltip="{{'playLists.tooltip.copy' | translate}}"></i>
                                            </button>
                                            <br/>
                                            <a href="#!/user/playLists/{{playList._id}}/update"
                                               uib-tooltip="{{'playLists.tooltip.edit' | translate}}"
                                               ng-show="!!permissions.canEdit">
                                                <i class="fa fa-pencil-square-o"></i>
                                            </a>
                                            <br/>
                                        </div>
                                    </div>
                                    <div class="stats">
                                        <span class="stats-button age-limit-{{playList.age}} no-color" ng-show="!!playList.age"> {{playList.age}}+ {{'homepage.years'|translate}} </span>
                                            <span class="stats-button" uib-tooltip="{{'homepage.tooltip.views' | translate}}">
                                                <i class="fa fa-eye fa-fw"></i>
                                                {{0+playList.views}}
                                            </span>
                                            <span class="stats-button" uib-tooltip="{{'homepage.tooltip.questions' | translate}}">
                                                <i class="fa fa-question-circle fa-fw"></i>
                                                {{ playList | countQuestionsOnLesson }}
						                    </span>
                                        <span class="stats-button" uib-tooltip="{{'homepage.tooltip.likes' | translate}}">
                                            <i class="fa fa-heart-o"></i>
                                            {{ playListLikes }}
						                </span>
                                    </div>
                                    <div class="details">
                                        <div dir="auto" class="name">{{ playList.name|limitTo:160 }}</div>
                                        <div class="row row-nested properties">
                                            <div class="col-xs-3 m-right" style="height: 15px"></div>
                                            <div class="col-xs-3 m-left">
                                            <span uib-tooltip="{{'homepage.tooltip.user' | translate}}">
                                                 <a ng-href="#!/public/{{playList.user.username}}/profile">
                                                     <i class="fa fa-user"></i>
                                                     <span> {{playList.user.username}}</span>
                                                 </a>
                                            </span>
                                            </div>
                                            <div class="col-xs-3">
                                            <span uib-tooltip="{{'playLists.createdOn' | translate}}">
                                                <i class="fa fa-calendar"></i>
                                                <span>{{playList | mongoIdToTimestamp | date:'d-MMM-yyyy'}}</span>
                                            </span>
                                            </div>
                                            <div class="col-xs-3">
                                            <span ng-show="!!playList.subject" uib-tooltip="{{'homepage.tooltip.subject' | translate}}">
                                                <i class="fa fa-book"></i>
                                                <span>{{'filters.subjects.' + playList.subject | translate}}</span>
                                            </span>
                                            </div>
                                        </div>
                                        <div class="row row-nested action-items">
                                            <div class="col-xs-3"> <!--4 - abuse-->
                                                <div class="action-item">
                                                    <div class="abuse-chevron-mobile btn-group" uib-dropdown ng-click="$event.stopPropagation()">
                                                        <button class="btn-link" uib-dropdown-toggle>
                                                            <span class="fa fa-chevron-down" style="vertical-align: super;"></span>
                                                        </button>
                                                        <br>
                                                        <br>
                                                        <ul class="dropdown-menu" style="position: absolute" role="menu">
                                                            <li>
                                                                <a show-logged-in class="btn-link" style="outline: none;"
                                                                   ng-click="setActiveAction(actionItems.REPORT)">
                                                                    <i class="fa fa-flag "></i>
                                                                    {{'reportAbuse.title'|translate}}
                                                                </a>
                                                                <a href="" show-anonymous class="btn-link"
                                                                   uib-popover="{{'playLists.reportAbuseNotAvailable' | translate}}"
                                                                   popover-placement="auto-top"
                                                                   popover-trigger="'outsideClick'" tabindex="0">
                                                                    <i class="fa fa-flag "></i>
                                                                    {{'reportAbuse.title'|translate}}
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-3 hide-hebrew"> <!--1-start-->
                                                <div class="action-item">
                                                    <button class="btn-link" ng-click="startLesson()"
                                                            uib-tooltip="{{'playLists.tooltip.start' | translate}}">
                                                        <i class="fa fa-play-circle-o "></i>
                                                        {{'start' | translate}}
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="col-xs-3"> <!--2-invite-->
                                                <div class="action-item invite">
                                                    <button show-logged-in class="btn-link" ng-click="setActiveAction(actionItems.INVITE)"
                                                            uib-tooltip="{{'playLists.tooltip.invite' | translate}}">
                                                        <i class="fa fa-envelope "></i>
                                                        {{'invite' | translate}}
                                                    </button>
                                                    <a href="" show-anonymous class="btn-link"
                                                       uib-popover="{{'playLists.inviteNotAvailable' | translate}}" popover-placement="top"
                                                       popover-trigger="'outsideClick'"
                                                       tabindex="0">
                                                        <i class="fa fa-envelope "></i>
                                                        {{'invite' | translate}}
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col-xs-3"> <!--3 - share-->
                                                <div class="action-item">
                                                    <button class="btn-link" ng-click="setActiveAction(actionItems.SHARE)"
                                                            uib-tooltip="{{'playLists.tooltip.share' | translate}}">
                                                        <i class="fa fa-share-alt "></i>
                                                        {{'share' | translate}}
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="col-xs-3 hide-english"> <!--1-start-->
                                                <div class="action-item">
                                                    <button class="btn-link" ng-click="startLesson()"
                                                            uib-tooltip="{{'playLists.tooltip.start' | translate}}">
                                                        <i class="fa fa-play-circle-o "></i>
                                                        {{'start' | translate}}
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="col-xs-3 col-like"> <!--5 - like-->
                                             <div class="action-item">
                                                  <div show-logged-in>
                                                      <button class="btn-link" ng-click="likeLesson()"
                                                              uib-tooltip="{{'playLists.tooltip.like' | translate}}" ng-show="!isLiked()">
                                                          <i class="fa fa-heart-o "></i>
                                                          {{'like' | translate}}
                                                      </button>
                                                      <div class="btn-group" uib-dropdown ng-show="!!isLiked()">
                                                          <button class="btn-link" uib-dropdown-toggle>
                                                              <i class="fa fa-heart-o "></i>
                                                              {{'liked' | translate}}
                                                              <span class="fa fa-caret-down"></span>
                                                          </button>
                                                          <ul class="dropdown-menu" role="menu">
                                                              <li>
                                                                  <a class="btn-link" style="outline: none;" ng-click="unlikeLesson()">{{
                                                                      'unlike' | translate }}</a>
                                                              </li>
                                                          </ul>
                                                      </div>
                                                  </div>
                                                  <div show-anonymous>
                                                      <button class="btn-link" uib-popover="{{'playLists.likeNotAvailable' | translate}}"
                                                              popover-placement="auto top" popover-trigger="'outsideClick'" tabindex="0">
                                                          <i class="fa fa-heart-o "></i>
                                                          {{'like' | translate}}
                                                      </button>
                                                  </div>
                                             </div>
                                            </div>
                                            <div class="col-xs-3 col-preview"> <!-- preview -->
                                             <div class="action-item" show-logged-in ng-show="!isInvitationLink()">
                                                 <button class="btn-link" ng-click="previewLesson()"
                                                         uib-tooltip="{{'playLists.tooltip.preview' | translate}}">
                                                     <i class="fa fa-search-plus"></i>
                                                     {{'playListIntro.action.preview.title' | translate}}
                                                 </button>
                                              </div>
                                            </div>
                                        </div>
                                        <div class="row"></div>
                                        <div class="forms">
                                                        <div ng-show="isActiveAction(actionItems.SHARE)"
                                                             ng-include="'views/playLists/intro/_shareForm.html'"></div>
                                                        <div ng-show="isActiveAction(actionItems.INVITE)" playList-create-invite-form
                                                             on-close="setActiveAction()"></div>
                                                        <div ng-show="isActiveAction(actionItems.REPORT)"
                                                             ng-include="'views/playLists/intro/_reportForm.html'"></div>
                                                    </div>
                                        <div class="row"></div>
                                        <div class="description">
                                            <pre dir="auto" ng-show="!more">{{ filteredDescription =(playList.description| limitTo:320 | multilineEllipsis) }}</pre>
                                            <div ng-show="!!more">
                                                <pre dir="auto">{{ playList.description}}</pre>
                                                <div class="edit-summary" ng-show="showEditSummary()">
                                                    <br/>
                                                    <span class="title">{{'questions.editSummary'|translate}}</span>
                                                    <br/>
                                                    <br/>
                                                    <!-- show copy of playList -->
                                                    <div ng-show="copyOfItems.length > 0">
										<span ng-show="copyOfItems.length === 1" ng-repeat="item in copyOfItems">
											{{ 'playListIntro.copiedFromLesson' | translate}}
											<span playList-intro-link playList="item">{{item.name}}</span>
											{{ 'playListIntro.copiedFromLessonBy' | translate }} {{item.userDetails.username }}
										</span>
                                                        <span ng-show="copyOfItems.length > 1">
											{{ 'playListIntro.copiedFromPlayList' | translate }}
											<ul>
                                                <li ng-repeat="item in copyOfItems track by $index">
                                                    <span playList-intro-link playList="item">{{item.name}}</span>
                                                    {{ 'playListIntro.copiedFromLessonBy' | translate }}
                                                    {{item.userDetails.username }}
                                                </li>
                                            </ul>
										</span>
                                                        <br/>
                                                    </div>
                                                    <div ng-repeat="q in questions">
                                                        <div dir="auto" class="question"
                                                             ng-show="!!q.summary || !!questionsWeCopied[q._id] || !!questionsFromOthers[q._id]">
                                                            <!--  <a href="#!/user/questions/{{q._id}}/read"> Q:{{q.question | limitTo :30}}</a>-->
                                                            <i class="fa fa-question-circle"> </i>
                                                            <span class="title-question"> {{q.question | limitTo :50}} </span>
                                                        </div>
                                                        <div ng-show="!!questionsFromOthers[q._id]">
                                                            <div class="summary">Question created by
                                                                {{questionsFromOthers[q._id].userDetails.username}}
                                                            </div>
                                                        </div>
                                                        <div ng-show="!!q.summary">
                                                            <div class="summary" btf-markdown="q.summary"></div>
                                                        </div>
                                                        <div ng-show="!!questionsWeCopied[q._id]">
                                                            <div ng-repeat="o in questionsWeCopied[q._id].originals track by $index">
                                                                <div class="summary">
                                                                    Copied from
                                                                    <span question-read-link question="o"></span>
                                                                    by {{o.userDetails.username}}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="read-more" style="text-align: center"
                                                 ng-show="showReadMore(filteredDescription) " ng-click="more=!more">
                                                <hr class="dashes">
                                                <span ng-show="!more">{{'playLists.readMore' | translate}}</span>
                                                <span ng-show="!!more">{{'playLists.readLess' | translate}}</span>
                                                <hr class="dashes">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="embed-powered-by-lergo"  powered-by-lergo="playList"></div>
                        </div>

                        <div class="not-embed-mode-item" style="margin-top: 10px;">
                                        <div class="comments " show-logged-in>
                                            <div disqus-embed playList="playList"></div>
                                        </div>
                                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
