<div class="base-layout" id="createLessonPageMobile" noindex>
    <span go-to-my-playlists-demo active="{{!isLessonInvalid()}}"></span>
    <div class="container">
        <div class="row">
            <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12"></div>
            <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                    <form ng-submit='create()' class="createLesson-form lergo-form container" name="playlistCreateForm">
                        <div class="form-section form-group name"
                            ng-class="{ 'has-error' : playlistCreateForm.name.$invalid && !playlistCreateForm.$pristine }">
                            <label dir="auto" class="bot5">{{ 'playlists.name' | translate }}</label>
                            <div class="lergo-input">
                                <input dir="auto" required class="form-control" ng-model="playlist.name" name="name"/>
                            </div>
                            <p ng-show="playlistCreateForm.name.$invalid && !playlistCreateForm.$pristine" class="help-block">
                                {{'playlists.error.invalidName' | translate}}</p>
                        </div>
                        <div class="form-section description form-group">
                            <label dir="auto" class="bot5 top5">{{ 'playlists.description' | translate }}</label>
                            <div class="lergo-input">
                                <textarea dir="auto" class="form-control" ng-model="playlist.description" name="description" dir="auto"></textarea>
                            </div>
                        </div>
                        <div class="stats form-group">
                             <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                    <div class="language ">
                                        <label>{{ 'filters.labels.language' | translate }}</label>
                                        <select class="form-control" ng-model="playlist.language"
                                                ng-options="l as ('filters.languages.' + l| translate) for l in languages"
                                                name="language"></select>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                    <div class="subject">
                                        <label>{{ 'filters.labels.subject' | translate }}</label>
                                        <select class="form-control" ng-model="playlist.subject"
                                                ng-options="s as ('filters.subjects.' + s | translate) for s in subjects"
                                                name="subject"></select>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                    <div class="age">
                                        <label>{{ 'fromAge' | translate }}</label>
                                        <input  class="form-control" type="number" min="4" max="18" step="1" size="2"
                                               ng-model="playlist.age" name="age"/>
                                    </div>
                                </div>
                                <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12"></div>
                             </div>

                             <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="tag form-group">
                                    <label>{{ 'tags' | translate }}</label>
                                    <div>
                                        <div tag-section tags="playlist.tags" tags-available="allAvailableTags"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    <!-- starting admin-comment section  -->
                    <!-- <div admin-section="playlists.userCanEdit">
                        <div class="stats admin-background form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="advanced-options">
                                <button class="btn-link expander" ng-click="isAdminCommentOpen = !isAdminCommentOpen"
                                        ng-show="!!playlist.name">
                                    <i ng-show="!isAdminCommentOpen" class="fa fa-plus-square"></i>
                                    <i ng-show="!!isAdminCommentOpen" class="fa fa-minus-square"></i>
                                    {{ 'adminComments' | translate }}
                                </button>
                                <div uib-collapse="!isAdminCommentOpen" class="row">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                            <div class="subject">
                                                <label>{{ 'filters.labels.adminRating' | translate }}</label>
                                                <select class="form-control" ng-model="playlist.adminRating"
                                                        ng-options="a as ('filters.adminRatings.' + a| translate) for a in adminRatings"
                                                        name="adminRating"></select>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="row">
                                        <div class="col-md-11 col-sm-12 col-xs-12">
                                            <div class="subject">
                                                <label>{{ 'playlists.addAdminComment' | translate }}</label> 
                                                <input class="form-control" placeholder="{{ 'playlists.addAdminCommentPlaceholder' | translate }}" ng-model="playlist.adminComment">  
                                            </div>         
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                       <!--  end of admin-comment section -->


                        <div class="stats form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="advanced-options">
                                <br>
                                <button class="btn-link expander" ng-click="isAdvOptOpen = !isAdvOptOpen"
                                        ng-show="!!playlist.name">
                                    <i ng-show="!isAdvOptOpen" class="fa fa-plus-square"></i>
                                    <i ng-show="!!isAdvOptOpen" class="fa fa-minus-square"></i>
                                    {{ 'advancedOptions' | translate }}
                                </button>
                                <div uib-collapse="!isAdvOptOpen" class="row">
                                    <hr>


                                    <div class="row">
                                        <div class="col-md-2 col-sm-12 col-xs-12">
                                            {{ 'playlists.addCoverPage' | translate }}
                                        </div>
                                        <div class="col-md-10 col-sm-12 col-xs-12">
                                            <input lergo-input-converter
                                                   placeholder="{{'playlists.addCoverPageHint' | translate}}"
                                                   ng-model="playlist.coverPage"/>
                                                   <url-google-drive-validation-warning google-drive-link="{{ playlist.coverPage }}"></url-google-drive-validation-warning>
                                        </div>
                                    </div>
                                   

                                    <div class="row">
                                        <div class="col-md-2 col-sm-12 col-xs-12">
                                            {{ 'playlists.recommenedNextPlaylist' | translate }}
                                        </div>
                                        <div class="col-md-10 col-sm-12 col-xs-12">
                                            <input placeholder="{{'playlists.recommenedNextPlaylistText' | translate}}"
                                                   ng-model="playlist.nextPlaylist"/>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2 col-sm-12 col-xs-12">
                                            {{ 'playlists.recommenedPriorPlaylist' | translate }}
                                        </div>
                                        <div class="col-md-10 col-sm-12 col-xs-12">
                                            <input placeholder="{{'playlists.recommenedPriorPlaylistText' | translate}}"
                                                   ng-model="playlist.priorPlaylist"/>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <ng-form name="wikiForm">
                                            <div style="padding-top: 20px" class=" col-lg-2 col-md-2 col-sm-12 col-xs-12 wiki-tip">
                                                {{ 'playlists.wikiLinkTitle' | translate }}
                                            </div>
                                            <div class="col-lg-10 md-10 sm-10 xs-10">
                                                <div class="form-group"
                                                     ng-class="{ 'has-error' : wikiForm.wikiLINK.$invalid && !wikiForm.wikiLINK.$pristine }">
                                                    <input class="form-control wiki-url" name="wikiLINK"
                                                           placeholder="{{'playlists.wikiLink' | translate }}" ng-model="playlist.wikiLink"
                                                           ng-pattern="/http(s):\/\/..\.wik[a-z]+\.org\/wiki\//">
                                                    <p ng-show="wikiForm.wikiLINK.$error.pattern || (wikiForm.wikiLINK.$invalid && !wikiForm.wikiLINK.$pristine)"
                                                       class="help-block">{{'playlists.invalidLink'| translate}}</p>
                                                </div>
                                            </div>
                                        </ng-form>
                                    </div>
                                </div>
                            </div>
                            <div ng-repeat="step in playlist.steps">
                                <hr class="hr-width-create-lesson"/>
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <a href="" ng-click="moveStepUp($index)" ng-show="!$first" class="fa fa-arrow-up"></a>
                                        <a href="" ng-click="moveStepDown($index)" ng-show="!$last" class="fa fa-arrow-down"></a>
                                        <!-- <a ng-click="deleteStep(step)" href="">
                                            <i class="fa fa-trash-o"></i>
                                        </a> -->
                                    </div>
                                </div>
                                <div class="lergo-h1">{{'lessons.inPlaylist' | translate}}</div> 
                                <div ng-include="getStepViewByType(step)"></div>
                            </div>
                            <div save-status="saveStatus" class="row top30 status-save"></div>
                            <div></div>
                            <div class="add-step-hint row" ></div>
                            <div class="lesson-actions row"> <!-- playlist actions -->
                                <button style=" font-size: 13px" class="btn" ng-click="done()" ng-disabled="saveButtonDisabled()">
                                    {{'done' | translate }}
                                </button>
                                <button style=" font-size: 13px" class="btn" ng-click="done('showPlaylist')" ng-disabled="saveButtonDisabled()">
                                    {{'button.showPlaylist' | translate }}
                                </button>
                                <span ng-show="!playlist.steps" class="pop-up-hint add-step-button">
                                    <button style=" font-size: 13px" class="btn btn-start" ng-click="addStep(playlist)"
                                            ng-disabled="saveButtonDisabled()">{{ 'steps.add' | translate }}
                                    </button>
                                    <span class="hidden-xs">
                                        <!--  tabindex = 0 is use to fix focus trigger problem in google chrome -->
                                        <button uib-popover="{{'steps.addHint' | translate}}"
                                                popover-is-open="popoverState.open"
                                                popover-placement="{{popoverState.position}}"  popover-trigger="'outsideClick'"
                                                tabindex="0"></button>
                                    </span>
                                    <span class="hidden-lg hidden-md hidden-sm">
                                        <!--  tabindex = 0 is use to fix focus trigger problem in google chrome -->
                                        <button uib-popover="{{'steps.addHint' | translate}}"
                                                popover-is-open="popoverState.open"
                                                popover-placement="auto top"  popover-trigger="'outsideClick'"
                                                tabindex="0"></button>
                                    </span>
                                </span>
                            </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="hidden-lg hidden-md padding-leftRight15">
                        <button style="white-space: normal;" type="button" class="btn btn-default btn-block" ng-click="isCollapsed = !isCollapsed">{{'helperContent.hintsAndVideos' | translate}}
                        </button>
                        <hr>
                        <div uib-collapse="!isCollapsed">
                            <div helper-content path="'/lesson/update'" user="user"></div>
                        </div>
                    </div>
                <div class="hidden-sm hidden-xs">
                    <div>
                        <div class="create-lesson-sidebar">
                            <div helper-content path="'/lesson/update'" user="user"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>