
 <div id="quizUpdate" load-filter-and-paging="loadPlaylists()">
    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 practice-button">
        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12" >
            <div>
                <div>
                    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12" >
                        <div class="my-playlists lergo-h1-orig" >
                            <div class="btn-group mobile-leftRight15" uib-dropdown dropdown-append-to-body>
                            </div>
                            <div>playlist name:</div> 
                            <a  ng-href="#!/user/playlists/{{playlistToShow._id}}/intro">{{playlistToShow.name}}</a>
                            <!-- [ {{ '  playlists.total' | translate }}: {{filterPage.count}} ] -->
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div filter-is-active="lessonsFilterOpts" section="playlists"></div>
            </div>
        
            <div class="table-responsive"style="border: 1px solid #FAFAFA"> <!--without a style, iPad does not show content!-->
                <table class="table" ng-show="playlists.length > 0" style="border: 2px solid purple">
                <thead>
                <tr style="font-weight: bold">
                    <td class="col-lg-9 col-md-9 col-sm-9 col-xs-9">{{ 'lessons.name' | translate }}</td>
                    <td class="col-lg-3 col-md-3 col-sm-3 col-xs-3">Done</td>
                </tr>
                </thead>
                <tbody> 
                <tr ng-repeat="lesson in playlistLessonArray">
                    <td class="name" dir="auto">
                        <a ng-class="{'disabled':!!lesson.isComplete}"  ng-href="#!/user/lessons/{{lesson._id}}/intro">{{lesson.name}} </a>
                    </td>
                    <td>
                        <input type="checkbox" ng-checked="lesson.isComplete" ng-click="lessonIsDone(lesson)"/>
                    </td>
                </tr>
                </tbody>
            </table>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="col-border-bottom col-lg-3 col-md-3 col-sm-12 col-xs-12" >
                <div class="create" >
                    <button ng-click="createPlaylistBtnDisable || create()" class="btn btn-start"  ng-disabled="createPlaylistBtnDisable">
                        <i ng-show="createPlaylistBtnDisable" class="fa fa-circle-o-notch fa-spin" aria-hidden="true"></i>
                                {{ 'playlists.create' | translate }}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>   