<div class="base-layout">
    <div class="report">
        <div class="row header">
            <div class="hidden-sm hidden-xs">
            <div class="col-md-3">
                <div class="image-agg">
                    <div class="user">
                        <i class="fa fa-users"></i>
                    </div>
                    <div class="cap-small-first">
                        <i class="fa fa-graduation-cap"></i>
                    </div>
                    <div class="cap">
                        <i class="fa fa-graduation-cap"></i>
                    </div>
                    <div class="cap-small-last">
                        <i class="fa fa-graduation-cap fa-flip-horizontal"></i>
                    </div>
                </div>
            </div>
            </div>

            <div class="hidden-lg hidden-md" >
            <img img-fluid src="../images/homepage/graduation.jpg" style="padding: unset">
                <!--<img img-fluid src="../images/homepage/students.png" style="width: 20%; display: inline-block">
                <img img-fluid src="../images/homepage/students.png" style="width: 20%; display: inline-block">
                <img img-fluid src="../images/homepage/students.png" style="width: 20%; display: inline-block">
                <img img-fluid src="../images/homepage/students.png" style="width: 20%; display: inline-block">-->
        </div>
        <div class="padding-leftRight15">
            <div class="col-md-3 col-sm-12 col-xs-12 header-name">
                <div class="class-header lergo-h1">{{'reports.header.className' | translate}}</div><div class="class-name">{{report.data.invitee.class}}</div>
                <br>
                <div class="lergo-h1">
                    <a ng-show="!report.data.lesson.temporary"
                       ng-href="#!/public/lessons/{{report.data.lesson._id}}/intro">{{report.data.lesson.name|
                        limitTo:40}}</a>
                    <span ng-show="!!report.data.lesson.temporary">{{report.data.lesson.name| limitTo:40}}</span>
                </div>
                <div>
                    <span class="lergo-h4">{{'report.date'|translate}}:</span>
                    <span>{{report.lastUpdate | date:'medium'}}</span>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12 ">
                <div>
                    <div class="col-md-12 col-sm-12 col-xs-12 padding-leftRight15">
                        <div ng-show="!!report.data.lesson.description">
                            <div class="lergo-h4">{{'report.description'|translate}}</div>
                            <div class="padding-leftRight15">{{report.data.lesson.description | limitTo:440}}</div>
                        </div>
                    </div>
                </div>
                <div></div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="hidden-sm hidden-xs top90"></div>
                        <a href="" ng-click="redirectToIndividualReports()">
                            <i class="fa fa-bar-chart top20 padding-leftRight15 rtlFloatLeft" style="font-size: 1.5em;"> {{'report.header.individualReports' | translate}}</i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
                <span class="collapsible lergo-h1">
                    <a href="" class="no-underline" ng-click="summaryCollapsed=!summaryCollapsed">
                        <i class="fa" ng-class="{'fa-plus-square':summaryCollapsed,'fa-minus-square':!summaryCollapsed}">
                        </i>
                        {{'report.summary'|translate}}
                    </a>
                </span>
                <span class="text-primary">
                        {{'report.summaryHint' | translate:{count:report.count} }}
                </span>
        </div>
        <hr/>

        <div uib-collapse="!!summaryCollapsed" class="summary">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="top20">
                    <div class="col-md-3 col-sm-5 col-xs-5">
                        <div>
                            <div class="col-md-2 col-sm-2 col-xs-2">
                                <i class="fa fa-percent"></i>
                            </div>
                            <div class="col-md-10 col-sm-10 col-xs-10">
                                <span class="lergo-h1">{{'reports.correctAvg'|translate}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9 col-sm-7 col-xs-7" >
                        <span class="bold">
                            {{'reports.summary.correctPercentage' | translate:{percentage:report.correctPercentage} }}
                        </span>
                        (<ng-pluralize count="report.data.quizItems.length" when="{
                            '0': '{{ &quot;report.questionsInLesson.zero&quot; | translate}}',
                            'one': '{} {{ &quot;report.questionsInLesson.one&quot; | translate}}',
                            'other': '{} {{ &quot;report.questionsInLesson.other&quot; | translate}}'}">
                        </ng-pluralize>
                        <ng-pluralize count="openQuestionCount" when="{
                            '0': '{{&quot;report.openQuestions.zero&quot; | translate}}',
                            'one': ', {} {{&quot;report.openQuestions.one&quot; | translate}}',
                            'other': ', {} {{&quot;report.openQuestions.other&quot; | translate}}'}">
                        </ng-pluralize>)
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="top20">
                    <div class="col-md-3 col-sm-5 col-xs-5">
                        <div>
                            <div class="col-md-2 col-sm-2 col-xs-2">
                                <i class="fa fa-clock-o"></i>
                            </div>
                            <div class="col-md-10 col-sm-10 col-xs-10">
                                <span class="lergo-h1">{{'reports.summary.durationAvg'|translate}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9 col-sm-7col-xs-7">
                        {{report.duration|duration}}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 top20">
            <div class="collapsible lergo-h1 ">
                <a href="" class="no-underline" ng-click="stepCollapsed=!stepCollapsed">
                    <i ng-show="!!stepCollapsed" class="fa fa-plus-square"></i>
                    <i ng-show="!stepCollapsed" class="fa fa-minus-square"></i>
                    {{'report.lessonSteps'|translate}}
                </a>
            </div>

        <hr/>
        <div class="step">
            <div uib-collapse="!!stepCollapsed" class="top20"
                 ng-repeat="step in report.data.lesson.steps">
                <div class="col-md-5 col-sm-12 col-xs-12">
                    <div>
                        <div class="col-md-2 col-sm-1 col-xs-1" >
                            <i ng-show="!!step.videoUrl" class="fa fa-video-camera"></i>
                            <i ng-show="!!step.quizItems" class="fa fa-question-circle"></i>
                            <i ng-show="!!step.slideURL" class="fa fa-television "></i>
                        </div>
                        <div class="col-md-10 col-sm-11 col-xs-11">
                            <span class="lergo-h1">{{step.title}}</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-7 col-sm-12 col-xs-12 description">
                    <a class="inline-table" ng-show="!!step.videoUrl" ng-href="{{step.videoUrl}}">
                        {{'reports.click.video' | translate}}</a>
                    <span ng-show="!!step.quizItems" ng-init="$parent.getAnswerStats(step.quizItems)">
                            <span class="inline-table">
                                <ng-pluralize count="step.quizItems.length" when="{
                                        '0': '{{ &quot;report.questionsInQuiz.zero&quot; | translate}}',
                                        'one':'{} {{ &quot;report.questionsInQuiz.one&quot; | translate}}',
                                        'other':'{} {{ &quot;report.questionsInQuiz.other&quot; | translate}}'}">
                                 </ng-pluralize>
                            </span>
                        <span class="bold">
                            &nbsp;&nbsp;
                            {{'reports.stepCorrectAvg' | translate:{percentage:getStepCorrectPercentage($index)} }}
                        </span>
                        </span>
                    <a class="inline-table" ng-show="!!step.slideURL" ng-href="{{step.slideURL}}">
                        {{'reports.click.step' | translate}}
                    </a>
                </div>
                    <i class="fa fa-clock-o">
                        &nbsp;{{getStepAvgDuration($index)|duration}}
                    </i>

            </div>
        </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 top20">
            <div ng-show="!!report.data.lesson.nextLessonId || !!report.data.lesson.priorLessonId">
            <div class="collapsible lergo-h1">
                <a href="" class="no-underline " ng-click="recommendationCollapsed=!recommendationCollapsed">
                    <i ng-show="!!recommendationCollapsed" class="fa fa-plus-square"></i>
                    <i ng-show="!recommendationCollapsed" class="fa fa-minus-square"></i>
                    {{'report.recommendation'|translate}}
                </a>
            </div>
            <hr/>
            <div class="recommendation" uib-collapse="!!recommendationCollapsed">
                <div class="top20" ng-show="!!report.data.lesson.nextLessonId">
                    <div class="col-md-5 col-sm-12 col-xs-12">
                        <div>
                            <div class="col-md-2 col-sm-1 col-xs-1">
                                <i class="fa fa-university"></i>
                            </div>
                            <div class="col-md-10 col-sm-11 col-xs-11">
                                <span class="title lergo-h1">{{'report.nextLesson' | translate}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7 col-sm-12 col-xs-12 description">
                        <a ng-href="#!/public/lessons/{{report.data.lesson.nextLessonId}}/intro">
                            {{'reports.click.nextLesson' | translate}}
                        </a>
                    </div>
                </div>
                <div class="top20" ng-show="!!report.data.lesson.priorLessonId">
                    <div class="col-md-5 col-sm-12 col-xs-12">
                        <div>
                            <div class="col-md-2 col-sm-1 col-xs-1">
                                <i class="fa fa-university">&nbsp;</i>
                            </div>
                            <div class="col-md-10 col-sm-11 col-xs-11">
                                <span class="title lergo-h1">{{'report.priorLesson' | translate}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7 col-sm-12 col-xs-12 description">
                        <a ng-href="#!/public/lessons/{{report.data.lesson.priorLessonId}}/intro">
                            {{'reports.click.priorLesson' | translate}}
                        </a>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="details">
            <div>
                <span class="collapsible lergo-h1">
                     <a class=" no-underline" href="" ng-click="detailCollapsed=!detailCollapsed">
                    <i ng-show="!!detailCollapsed" class="fa fa-plus-square"></i>
                    <i ng-show="!detailCollapsed" class="fa fa-minus-square"></i>
                    {{'report.questionPerDifficulty'|translate}}
                </a>
                </span>
                <span class="text-primary">
                    {{'report.details.hint' | translate}}
                </span>
            </div>
            <hr/>
            <div uib-collapse="!!detailCollapsed" class="detail">
                <agg-report-view answers="report.answers" quiz-items="report.data.quizItems"></agg-report-view>
            </div>
        </div>
    </div>
    </div>
    <div powered-by-lergo="report.data.lesson"></div>
</div>
