<div class="base-layout">

    <div class="top-padding col-md-3 center-block">
        <div class="lergo-h1">{{ 'invitations.create' | translate }}</div>



        <div class="lergo-form top-padding">
            <form ng-submit="sendInvite()">
                <div class="section">
                    <div class="label">
                        {{ 'name' | translate }}
                    </div>
                    <div class="input">
                        <input ng-model="invite.invitee.name"/>
                    </div>
                </div>

                <div class="actions">
                    <input type="submit" value="{{ 'button.submit' | translate }}" class="btn" ng-show="!pageRequestProgress.inProgress"/>

                    <div ng-show="!!pageRequestProgress.inProgress" class="loader-short"></div>
                </div>
            </form>
        </div>

        <div class="status top-padding">
            <div ng-show="!!createSuccess" class="bg-success">
                {{ 'invitations.createdSuccessfully' | translate }} <br/>
                link = {{ getLink()}}
            </div>

            <div ng-show="!!pageRequestProgress.inProgress" class="bg-info">
                {{ 'invitations.sending' | translate }}
            </div>

            <div ng-show="!!createError" class="bg-warning">
                {{ 'invitations.error' | translate }}
            </div>
        </div>
    </div>

</div>
