<div class="base-layout">
    <div class="report">
        <div class="row header">
            <div class="col-md-2">
                <div class="image">
                    <div class="user">
                        <i class="fa fa-user"></i>
                    </div>
                    <div class="cap">
                        <i class="fa fa-graduation-cap"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-4 header-name ">
                <div ng-show="!!report.data.invitee.name">

                    <div><span class="lergo-h1">{{report.data.invitee.name}}</span><span class="class-name">{{report.data.invitee.class}}</span>
                    </div>
                    <div class="lergo-h4" ng-show="isCompleted(report)">{{'report.completed'|translate}}:</div>
                    <div class="lergo-h4" ng-show="!isCompleted(report)">{{'report.notCompletedTitle'|translate}}:</div>
                    <br/>
                </div>
                <div class="lergo-h1">
                    <a ng-show="!report.data.lesson.temporary"
                       ng-href="#!/public/lessons/{{report.data.lesson._id}}/intro">{{report.data.lesson.name|
                        limitTo:40}}</a>
                    <span ng-show="!!report.data.lesson.temporary">{{report.data.lesson.name| limitTo:40}}</span>
                </div>
                <div>
                    <span class="lergo-h4">{{'report.date'|translate}}:</span>
                    <span>{{report.lastUpdate | date:'medium'}}</span>
                </div>
            </div>
            <div class="col-md-6 ">
                <div class="row  header-desc">
                    <div class="col-md-12">
                        <div ng-show="!!report.data.lesson.description">
                            <div class="lergo-h4">{{'report.description'|translate}}</div>
                            <div>{{report.data.lesson.description | limitTo:440}}</div>
                        </div>
                    </div>
                </div>
                <div class="row top20 redo-buttons" ng-show="showClassReport()">
                    <div class="col-md-6 restart pull-right" ng-show="!report.data.lesson.temporary">
                        <a href="" ng-click="startLesson()">
                            <i class="fa fa-repeat "> {{'lessons.restart' | translate}}</i>
                        </a>
                    </div>
                    <div class="col-md-6 reports pull-right" ng-show="showClassReport()">
                        <a href="" ng-click="redirectToClassReport()">
                            <i class="fa fa-bar-chart"> {{'report.header.classReport' | translate}}</i>
                        </a>
                    </div>
                    <div class="col-md-6 practiceMistake pull-right" ng-show="wrongQuestions.length>0">
                        <a show-logged-in href="" ng-click="practiseBtnDisable || practiceMistakes()"
                           ng-disabled="practiseBtnDisable">
                            <i class="fa fa-repeat "> {{'lessons.practiseWrongQuestion' | translate}}</i>
                        </a>
                        <a show-anonymous href="" popover-placement="bottom" popover-trigger="'outsideClick'"
                           uib-popover="{{'lessons.practiceNotAvailable' | translate}}"
                           tabindex="0">
                            <i class="fa fa-repeat "> {{'lessons.practiseWrongQuestion' | translate}}</i>
                        </a>
                    </div>
                    <div class="col-md-6 pull-right" ng-show="showContinueLesson()">
                        <a class="btn-link" href="{{continueLessonUrl(report)}}">
                            <i class="fa fa-repeat "> {{'lessons.continueLesson' | translate}}</i>
                        </a>
                    </div>
                </div>
                <div class="row top20 redo-buttons" ng-show="!showClassReport()">
                    <div class="col-md-12 text-right">
                        <a ng-click="startLesson()" ng-show="!report.data.lesson.temporary"
                           class="restart no-underline">
                            <i class="fa fa-repeat "> {{'lessons.restart' | translate}} &nbsp;</i>
                        </a>
                        <span ng-show="wrongQuestions.length>0" class="practiceMistake">
                            <a show-logged-in ng-click="practiseBtnDisable || practiceMistakes()"
                               ng-disabled="practiseBtnDisable">
                                <i class="fa fa-repeat "> {{'lessons.practiseWrongQuestion' | translate}}</i>
                            </a>
                            <a show-anonymous href="" popover-placement="bottom" popover-trigger="'outsideClick'"
                               uib-popover="{{'lessons.practiceNotAvailable' | translate}}"
                               tabindex="0">
                            <i class="fa fa-repeat "> {{'lessons.practiseWrongQuestion' | translate}}</i>
                            </a>
                        </span>
                        <a class="btn-link continue-lesson" href="{{continueLessonUrl(report)}}"
                           ng-show="showContinueLesson()">
                            <i class="fa fa-repeat "> {{'lessons.continueLesson' | translate}} &nbsp;</i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!--Report Summary-->
        <div class="collapsible lergo-h1 row">
            <a href="" class="no-underline" ng-click="summaryCollapsed=!summaryCollapsed">
                <i ng-show="!!summaryCollapsed" class="fa fa-plus-square"></i>
                <i ng-show="!summaryCollapsed" class="fa fa-minus-square"></i>
                {{'report.summary'|translate}}
            </a>
        </div>
        <hr/>
        <div collapse="!!summaryCollapsed" class="summary row">
            <div class="row row-nested top20">
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-2">
                            <i class="fa fa-percent"></i>
                        </div>
                        <div class="col-md-10">
                            <span class="lergo-h1">{{'reports.correct'|translate}}</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    {{report.correctPercentage}}
                    (
                    <ng-pluralize count="report.data.quizItems.length" when="{
                        '0': '{{ &quot;report.questionsInLesson.zero&quot; | translate}}',
                        'one': '{} {{ &quot;report.questionsInLesson.one&quot; | translate}}',
                        'other': '{} {{ &quot;report.questionsInLesson.other&quot; | translate}}'}">
                    </ng-pluralize>
                    <ng-pluralize count="reportStats.correct" when="{
                        '0': '{{&quot;report.correctQuestions.zero&quot; | translate}}',
                        'one': ', {} {{&quot;report.correctQuestions.one&quot; | translate}}',
                        'other': ', {} {{&quot;report.correctQuestions.other&quot; | translate}}'}">
                    </ng-pluralize>
                    <ng-pluralize count="reportStats.wrong" when="{
                        '0': '{{&quot;report.wrongQuestions.zero&quot; | translate}}',
                        'one': ', {} {{&quot;report.wrongQuestions.one&quot; | translate}}',
                        'other': ', {} {{&quot;report.wrongQuestions.other&quot; | translate}}'}">
                    </ng-pluralize>
                    <ng-pluralize count="reportStats.openQuestions" when="{
                        '0': '{{&quot;report.openQuestions.zero&quot; | translate}}',
                        'one': ', {} {{&quot;report.openQuestions.one&quot; | translate}}',
                        'other': ', {} {{&quot;report.openQuestions.other&quot; | translate}}'}">
                    </ng-pluralize>
                    )
                </div>
            </div>
            <div class="row row-nested top20">
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-2">
                            <i class="fa fa-clock-o"></i>
                        </div>
                        <div class="col-md-10">
                            <span class="lergo-h1">{{'reports.summary.duration'|translate}}</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    {{report.duration|duration}}

                </div>
            </div>
        </div>
        <!--End Of Report Summary-->

        <!--Lessons Step-->
        <div class="collapsible lergo-h1 row">
            <a href="" class="no-underline" ng-click="stepCollapsed=!stepCollapsed">
                <i ng-show="!!stepCollapsed" class="fa fa-plus-square"></i>
                <i ng-show="!stepCollapsed" class="fa fa-minus-square"></i>
                {{'report.lessonSteps'|translate}}
            </a>
        </div>
        <hr/>
        <div class="step row">
            <div collapse="!!stepCollapsed" class="row row-nested top20"
                 ng-repeat="step in report.data.lesson.steps">
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-2">
                            <i ng-show="!!step.videoUrl" class="fa fa-video-camera"></i>
                            <i ng-show="!!step.quizItems" class="fa fa-question-circle"></i>
                            <i ng-show="!!step.slideURL" class="fa fa-television "></i>
                        </div>
                        <div class="col-md-10">
                            <span dir="auto" class="title lergo-h1">{{step.title}}</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-9 description">
                    <div class="row">
                        <div class="col-md-12">
                            <a class="inline-table" ng-show="!!step.videoUrl" ng-href="{{step.videoUrl}}">
                                {{'reports.click.video' | translate}}</a>
                            <span ng-show="!!step.quizItems" ng-init="$parent.getAnswerStats(step.quizItems)">
                            <span class="inline-table">
                                 <ng-pluralize count="step.quizItems.length" when="{
                                        '0': '{{ &quot;report.questionsInQuiz.zero&quot; | translate}}',
                                        'one':'{} {{ &quot;report.questionsInQuiz.one&quot; | translate}}',
                                        'other':'{} {{ &quot;report.questionsInQuiz.other&quot; | translate}}'}">
                                 </ng-pluralize>
                            </span>
                            <span ng-show="!!stats[$index].correct" class="bg-success report-quiz-summary-item">
                                {{stats[$index].correct}} {{'questions.correct' | translate}}
                                ({{stats[$index].correctPercentage}}%)
                            </span>
                            <span ng-show="!!stats[$index].wrong" class="bg-warning report-quiz-summary-item">
                                {{stats[$index].wrong}} {{'questions.incorrect' | translate}}
                                ({{stats[$index].wrongPercentage}}%)
                            </span>
                            <span ng-show="!!stats[$index].openQuestions" class="bg-primary report-quiz-summary-item">
                                <ng-pluralize count="stats[$index].openQuestions" when="{
                                        '0':'{{&quot;report.openQuestions.zero&quot; | translate}}',
                                        'one':'{} {{&quot;report.openQuestions.one&quot; | translate}}',
                                        'other':'{} {{&quot;report.openQuestions.other&quot; | translate}}'}">
                                 </ng-pluralize>
                            </span>
                        </span>
                            <a class="inline-table" ng-show="!!step.slideURL" ng-href="{{step.slideURL}}">
                                {{'reports.click.step' | translate}}
                            </a>

                            <i ngShow="!!report.stepDurations[$index]" class="fa fa-clock-o">
                                &nbsp;{{report.stepDurations[$index]|duration}}
                            </i>
                            <a ng-show="!!step.quizItems && step.retryQuestion && step.testMode === 'False'"
                               ng-click="stepDetail=!stepDetail">
                                <i ng-show="!stepDetail" class="fa fa-plus-square"></i>
                                <i ng-show="!!stepDetail" class="fa fa-minus-square"></i>
                            </a>
                        </div>
                    </div>
                    <div  class="row top15">
                        <div collapse="!stepDetail" class="col-md-12">
                            <div>
                                <span>
                                    <ng-pluralize count="step.retBefCrctAns" when="{
                                        '0': '{{ &quot;report.lessonStep.practiceMode.showCorrectAns.zero&quot; | translate}}',
                                        'one': '{{ &quot;report.lessonStep.practiceMode.showCorrectAns.one&quot; | translate}}',
                                        'other': '{{ &quot;report.lessonStep.practiceMode.showCorrectAns.other&quot; | translate}}'}">
                                    </ng-pluralize>
                                </span>
                                <sup>
                                    <!--  tabindex = 0 is use to fix focus trigger problem in google chrome -->
                                    <a uib-popover="{{'report.lessonStep.practiceMode.hint.'+step.retBefCrctAns|translate}}"
                                       class="fa fa-question-circle no-underline-v1"
                                       popover-placement="top"  popover-trigger="'outsideClick'" tabindex="0"
                                       style="text-decoration: none"></a>
                                </sup>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div ng-show="!!report.data.lesson.nextLessonId || !!report.data.lesson.priorLessonId">
            <div class="collapsible lergo-h1 row">
                <a href="" class="no-underline " ng-click="recommendationCollapsed=!recommendationCollapsed">
                    <i ng-show="!!recommendationCollapsed" class="fa fa-plus-square"></i>
                    <i ng-show="!recommendationCollapsed" class="fa fa-minus-square"></i>
                    {{'report.recommendation'|translate}}
                </a>
            </div>
            <hr/>
            <div class="recommendation row" collapse="!!recommendationCollapsed">
                <div class="row row-nested top20" ng-show="!!report.data.lesson.nextLessonId">
                    <div class="col-md-3">
                        <div class="row">
                            <div class="col-md-2">
                                <i class="fa fa-university"></i>
                            </div>
                            <div class="col-md-10">
                                <span class="title lergo-h1">{{'report.nextLesson' | translate}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9 description">
                        <a ng-href="#!/public/lessons/{{report.data.lesson.nextLessonId}}/intro">
                            {{'reports.click.nextLesson' | translate}}
                        </a>
                    </div>
                </div>
                <div class="row row-nested top20" ng-show="!!report.data.lesson.priorLessonId">
                    <div class="col-md-3">
                        <div class="row">
                            <div class="col-md-2">
                                <i class="fa fa-university">&nbsp;</i>
                            </div>
                            <div class="col-md-10">
                                <span class="title lergo-h1">{{'report.priorLesson' | translate}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9 description">
                        <a ng-href="#!/public/lessons/{{report.data.lesson.priorLessonId}}/intro">
                            {{'reports.click.priorLesson' | translate}}
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="details">
            <div class="collapsible lergo-h1 row">
                <a class="no-underline" href="" ng-click="detailCollapsed=!detailCollapsed">
                    <i ng-show="!!detailCollapsed" class="fa fa-plus-square"></i>
                    <i ng-show="!detailCollapsed" class="fa fa-minus-square"></i>
                    {{'report.detailedReport'|translate}}
                </a>
            </div>
            <hr/>
            <div collapse="!!detailCollapsed" class="detail row">
                <div report-view lesson="report.data.lesson" answers="report.answers"
                     quiz-items="report.data.quizItems"></div>
            </div>
        </div>
    </div>
    <div powered-by-lergo="report.data.lesson"></div>
</div>
