<div class="base-layout">
	<div class="report">
		<div class="image">
			<div class="user">
				<i class="fa fa-user"></i>
			</div>
			<div class="cap">
				<i class="fa fa-graduation-cap"></i>
			</div>
		</div>
		<div class="header">
			<div class="header-name">
				<div ng-show="!!report.data.invitee.name">
					<div class="lergo-h1">{{report.data.invitee.name}}</div>
					<div class="lergo-h4">{{'report.completed'|i18n}}:</div>
					<br />
				</div>
				<div class="lergo-h1">{{report.data.lesson.name}}</div>
				<div>
					<span class="lergo-h4">{{'report.date'|i18n}}:</span>
					<span>{{report.lastUpdate | date:'medium'}}</span>
				</div>
			</div>
			<div ng-show="!!report.data.lesson.description" class="header-desc">
				<div class="lergo-h4">{{'report.description'|i18n}}</div>
				<div>{{report.data.lesson.description | limitTo:440}}</div>
			</div>
		</div>
		<div class=steps>
			<div class="lergo-h1">
				<a href="" class="no-underline" ng-click="stepCollapsed=!stepCollapsed">
					<i ng-show="!!stepCollapsed" class="fa fa-plus-square"></i>
					<i ng-show="!stepCollapsed" class="fa fa-minus-square"></i>
					{{'report.lessonSteps'|i18n}}
				</a>
			</div>
			<hr />
			<div collapse="!!stepCollapsed" class="step">
				<div ng-repeat="step in report.data.lesson.steps">
					<table class="lergo-table">
						<tr>
							<td class="icon">
								<i ng-show="!step.quizItems" class="fa fa-video-camera"></i>
								<i ng-show="!!step.quizItems" class="fa fa-question-circle"></i>
							</td>
							<td class="title lergo-h1">{{step.title}}</td>
							<td class="description">
								<a ng-show="!!step.videoUrl" ng-href="{{step.videoUrl}}"> {{step.videoUrl}}</a>
								<span ng-show="!!step.quizItems" ng-init="$parent.getAnswerStats(step.quizItems)">
									<span class="inline-table">{{step.quizItems.length}} {{'report.questionsInQuiz' | i18n}} </span>
									<Span ng-show="!!stats[$index].correct" class="bg-success">
										<span class="inline-table">{{stats[$index].correct}} {{'questions.correct' | i18n}}</span>
										<span class="inline-table">({{stats[$index].correctPercentage}}%)</Span>
									</Span>
									<span ng-show="!!stats[$index].wrong" class="bg-warning">
										<span class="inline-table">{{stats[$index].wrong}} {{'questions.incorrect' | i18n}}</span>
										<span class="inline-table">({{stats[$index].wrongPercentage}}%)</span>
									</span>
									<span ng-show="!!stats[$index].openQuestions" class="bg-primary">
										<span class="inline-table">{{stats[$index].openQuestions}} {{'questions.openQuestion' | i18n}}</span>
									</span>
								</span>
								<span ngShow="!!report.stepDurations[$index]">
									<i class="fa fa-clock-o"></i>
									{{report.stepDurations[$index]|duration}}
								</span>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
		<div ng-show="!!report.data.lesson.nextLessonId || !!report.data.lesson.priorLessonId">
			<div class="lergo-h1">
				<a href="" class="no-underline" ng-click="recommendationCollapsed=!recommendationCollapsed">
					<i ng-show="!!recommendationCollapsed" class="fa fa-plus-square"></i>
					<i ng-show="!recommendationCollapsed" class="fa fa-minus-square"></i>
					{{'report.recommendation'|i18n}}
				</a>
			</div>
			<hr />
			<div class="recommendation" collapse="!!recommendationCollapsed">
				<table class="lergo-table">
					<tr ng-show="!!report.data.lesson.nextLessonId">
						<td class="icon">
							<i class="fa fa-university"></i>
						</td>
						<td class="title lergo-h1">{{'report.nextLesson' | i18n}}</td>
						<td class="description">
							<a ng-href="#!/public/lessons/{{report.data.lesson.nextLessonId}}/intro">{{absoluteShareLink(report.data.lesson.nextLessonId)}}</a>
						</td>
					</tr>
					<tr ng-show="!!report.data.lesson.priorLessonId">
						<td class="icon">
							<i class="fa fa-university"></i>
						</td>
						<td class="title lergo-h1">{{'report.priorLesson' | i18n}}</td>
						<td class="description">
							<a ng-href="#!/public/lessons/{{report.data.lesson.priorLessonId}}/intro">{{absoluteShareLink(report.data.lesson.priorLessonId)}}</a>
						</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="details">
			<div class="lergo-h1">
				<a class="no-underline" href="" ng-click="detailCollapsed=!detailCollapsed">
					<i ng-show="!!detailCollapsed" class="fa fa-plus-square"></i>
					<i ng-show="!detailCollapsed" class="fa fa-minus-square"></i>
					{{'report.detailedReport'|i18n}}
				</a>
			</div>
			<hr />
			<div collapse="!!detailCollapsed" class="detail">
				<div lesson-view lesson="report.data.lesson" answers="report.answers" quiz-items="report.data.quizItems"></div>
			</div>
		</div>
	</div>
</div>