<div>
    <div>
        <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12"></div>
        <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 dpadleftRight37">
            <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12" ></div>
            <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
                <div class="lesson-step-quiz-mobile d-leftRight80">
                    <div dir="auto" class="lesson-step-title lergo-h1">{{step.title}}</div>
                    <div>
                        <table class="lergo-table">
                            <tr>
                                <td style="vertical-align: top;">
                                    <div class="lesson-step-quiz-content" ng-include="getLessonItemTemplate()" ng-init="mode='lesson'"></div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12"></div>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12"></div>
    </div>

</div>

