
                <!-- <div style="border: 2px solid red">
                    <span class="back-button-alignment hidden-sm hidden-xs" ng-show="currentUrl" >
                        <span class="angle-eng">
                               <a  ng-click="goBack()"><span class="back-button"><i class="fa fa-angle-left fa-2x"></i>&nbsp {{'playlist.back' | translate}} &nbsp</span></a>
                        </span>
                        <span class="angle-heb">
                             <a  ng-click="goBack()"><span class="back-button">&nbsp {{'playlist.back' | translate}} &nbsp<i class="fa fa-angle-left fa-2x "></i></span></a>
                        </span>
                    </span>
                    <div dir="auto" class="playlist-step-title lergo-h1" style="text-align: center">{{  'playlists.invitePlaylist.name' | translate }}: {{step.title}}</div>
                    <table class="lergo-table">
                        <tr>
                            <td style="vertical-align: top;">
                                <div class="playlist-step-quiz-content" ng-include="getlessonItemTemplate()" ng-init="mode='quiz'"></div>
                            </td>
                        </tr>
                    </table>
                </div> -->

