<div class="login-form lergo-form" ng-controller="LoginCtrl">
	<form ng-submit='login()'>
		<div class="form-section">
			<div class="lergo-label">
				<span style="float: left;">Username</span> <span
					class="errorMessage" ng-show='errorMessage'
					style="float: right; font-size: 15px; color: red;">{{errorMessage}}</span>
			</div>
			<div class="lergo-input">
				<input ng-model="form.username" required />
			</div>
		</div>

		<div class="form-section">
			<div class="lergo-label">Password</div>
			<div class="lergo-input">
				<input ng-model="form.password" required type="password" />
			</div>
		</div>

		<div class="form-section">
			<div class="lergo-label">Keep Me Logged In</div>
			<div class="lergo-input">
				<input ng-model="form.rememberMe" type="checkbox" />
			</div>
		</div>

		<button type='submit'>Login</button>
		<a href="#/public/session/signup">Signup</a>
	</form>
</div>