<div>
	<div id="wrapper" class="clearfix">
		<div id="header" ng-controller="LoginCtrl">
			<div class="centered-content">
				<div class="header-main">
					<div><a href="#/user/homepage"><i class="logo-beta"></i></a></div>
					<div class="header-links">
						<ul>
						<li><a href="#/user/homepage">{{ 'baseLayout.header.links.learn'| i18n }} </a></li>
							<li
								ng-repeat="item in ['Create','Parents','Teachers','Contribute']">
								<a href="#/user/{{item}}">{{ 'baseLayout.header.links.' + item.toLowerCase() | i18n }}</a>
							</li>
                        </ul>
                    </div>
					<div class="header-search">
						<input placeholder="{{'baseLayout.header.searchPlaceholder' | i18n  }}" /> <i
							class="icon-search"></i>
					</div>
					
					<div class="header-login" ng-show="!user">
						<a href="#"> {{ 'button.login' | i18n }}</a> <a href="#/public/session/signup"> {{ 'button.signup' | i18n }}</a>
					</div>
					<div class="header-login" ng-show="!!user">
						<a href="#/user/lessons"><i class="fa fa-user fa-fw"></i> {{user.username}}</a>
						<button class="btn" ng-click="logout()">{{'baseLayout.header.logout' | i18n  }}</button>
					</div>
				</div>

			</div>
		</div>
		<div id="content" class="centered-content clearfix" ng-transclude="">
		</div>
		<div class="push"></div>
	</div>
	<div id="footer">
		<div class="centered-content">
			<div class="footer-links">
				<ul>
					<li>{{'baseLayout.footer.privacyAndTerms' | i18n  }}</li>
					<li><a href="#/public/about">{{'baseLayout.footer.about' | i18n  }}</a></li>
					<li><a href="#/user/homepage"> {{'baseLayout.footer.homepage' | i18n  }}</a></li>
					<li>{{'baseLayout.footer.contact' | i18n  }}</li>
					<li><a href="#/public/kitchenSink">Kitchen Sink</a></li>
					<li><a href="#/public/translations/diff">Translations Diff</a></li>

                    <select ng-model="$root.lergoLanguage" ng-options="lang.id as lang.label for lang in $root.lergoLanguages"></select>

				</ul>
			</div>
			<div class="copyrights">&copy; LerGO 2013-2014 All Rights
				Reserved</div>
		</div>
	</div>

</div>


