<div>
	<div id="wrapper" class="clearfix">
		<div id="header" class="not-embed-mode-item" ng-controller="LoginCtrl">
			<div class="centered-content">
				<div class="header-main">
					<div class="header-logo">
						<a href="#!/user/homepage">
							<i class="logo-beta"></i>
						</a>
					</div>
                    <div class="header-navigation">
					    <div class="header-links">
						<ul>
							<li>
								<a href="#!/user/homepage">{{ 'baseLayout.header.links.learn'| translate }} </a>
							</li>
							<li>
								<a show-logged-in href="#!/user/create/lessons">{{ 'baseLayout.header.links.create'| translate }} </a>
								<!--  tabindex = 0 is use to fix focus trigger problem in google chrome -->
								<a show-anonymous href="#" popover-placement="bottom" popover-trigger="focus" popover="{{'createNotAvailable' | translate}}" tabindex="0">{{
									'baseLayout.header.links.create'| translate }} </a>
							</li>
							<li ng-repeat="item in ['Parents','Teachers']">
								<a href="#!/user/{{item}}">{{ 'baseLayout.header.links.' + item.toLowerCase() | translate }}</a>
							</li>
							<li>
								<a href="#!/public/contribute">{{ 'baseLayout.header.links.contribute'| translate }} </a>
							</li>
						</ul>
					</div>
					    <div class="header-search" ui-keypress="{enter: 'searchOnHomepage()'}">
						<!--<div text-filter placeholder="{{'baseLayout.header.searchPlaceholder' | translate  }}" items="typeaheadItems" model="filterTextSearch"
							on-select="doSearchFromTypeahead($item,$model,$label)"></div>-->
						<input placeholder="{{'baseLayout.header.searchPlaceholder' | translate  }}" ng-model="baseLayout.filterTextSearch" />
						<button ng-click="searchOnHomepage()" class="btn btn-link">
							<i class="icon-search"></i>
						</button>
					</div>
                    </div>
                    <div class="header-actions">
                        <div profile-login-button="user"></div>

                        <div class="header-language" tooltip="{{'baseLayout.header.siteLanguage' | translate}}" tooltip-placement="right">
                            <i class="fa fa-globe fa-fw"></i>
                            <select ng-model="$root.lergoLanguage" ng-options="lang.id as ( 'general.translationLanguage.' + lang.id | translate ) for lang in $root.lergoLanguages"></select>
                        </div>
                    </div>
				</div>
			</div>
		</div>
		<div id="content" class="centered-content clearfix" ng-transclude=""></div>
		<div class="push"></div>
	</div>
	<div id="footer" class="not-embed-mode-item">
		<div class="centered-content">
			<div class="footer-text">
				{{'baseLayout.footer.text1' | translate }}
				<a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">{{'baseLayout.footer.text2' | translate }};</a>
				{{'baseLayout.footer.text3' | translate }}
				<a href="#!/public/terms">{{'baseLayout.footer.text4' | translate }}.</a>
				{{'baseLayout.footer.text5' | translate }}.
			</div>
			<div>
				<div class="footer-links">
					<div class=row>
						<ul>
							<li>
								<a href="#!/public/terms">{{'baseLayout.footer.privacyAndTerms' | translate }}</a>
							</li>
							<li>
								<a href="#!/public/about/overview">{{'baseLayout.footer.about' | translate }}</a>
							</li>
							<li>
								<a href="#!/user/homepage"> {{'baseLayout.footer.homepage' | translate }}</a>
							</li>
							<li>
								<a href="#!/public/contact">{{'baseLayout.footer.contact' | translate }}</a>
							</li>
							<li admin-section>
								<a href="#!/public/kitchenSink">{{'baseLayout.footer.kitchenSink' | translate}}</a>
							</li>
						</ul>
					</div>
					<div class="row">
						<ul>
							<li>
								<a class="weight12" href="#!/public/feedback">{{'baseLayout.footer.feedback' | translate}}</a>
							</li>
							<li>
								<a class="weight12" href="#!/public/suggest">{{'baseLayout.footer.suggest' | translate}}</a>
							</li>
							<li>
								<a class="weight12" href="#!/public/problem">{{'baseLayout.footer.problem' | translate}}</a>
							</li>
							<li>
								<a class="weight12" href="#!/public/abuse">{{'baseLayout.footer.abuse' | translate}}</a>
							</li>
						</ul>
						<div class="copyrights">
							<div>&copy; {{'baseLayout.footer.copyright' | translate}}</div>
							<div>{{'baseLayout.footer.copyrightMsg' | translate}}</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
