<div>
    <div ng-controller="LoginCtrl">
        <div class="container-fluid">
            <div class="row" >
                <div class="col-lg-12 col-md-12 col-xs-12">
                    <nav id="header-mobile" role="navigation">
                        <div class="navbar-header hidden-lg hidden-md">
                            <div> <!-- image and search icon in nabvar for mobile-->
                                <div class=" col-xs-5 mobile-leftRight15">
                                    <a class="pull-left" href="#!/user/homepage"><img src="../images/homepage/lergo-logo-no-tagline-blue-background-resize.png"></a>
                                </div>
                                <div class="col-xs-2">
                                    <div ng-show="!showSearchbar" ng-init="showSearchbar=false;" ng-click="showSearchbar = true;" class="searchIconCenter">
                                        <i  ng-show="!baseLayout.filterTextSearch" class="fa fa-search fa-lg"></i>
                                    </div>
                                </div>
                                <div class=" col-xs-5 mobile-leftRight12">
                                    <button type="button" class="navbar-toggle" style="margin-right: 0"  ng-click="isNavCollapsed = !isNavCollapsed"  >
                                        <i class="fa fa-ellipsis-v fa-2x"></i>
                                    </button>
                                </div>
                                <div> <!-- search bar for mobile appearing only after click on search icon-->
                                    <div class="container">
                                        <div class="row">
                                            <form class="navbar-form" role="search" style=" border-color: #91CFFF" ng-show="showSearchbar || !!baseLayout.filterTextSearch.length > 0 ">
                                                <div  class="navbar-search-mobile" ui-keypress="{enter: 'searchOnHomepage()'}">
                                                    <div class="col-sm-12 col-xs-12 navbar-search-adjust">
                                                        <div class="col-sm-10 col-xs-10">
                                                            <input  class="form-control" style="background-color: #efefef"   ng-class="{'search-color' : baseLayout.filterTextSearch.length > 0 }" placeholder="{{'baseLayout.header.searchPlaceholderMobile' | translate  }}" ng-model="baseLayout.filterTextSearch"  />
                                                            <a  style="text-decoration: none;" href="#!/user/homepage">
                                                                <span ng-show="!!baseLayout.filterTextSearch"  class="search-mobile">X</span>
                                                            </a>
                                                        </div>
                                                        <div class="col-sm-2 col-xs-2">
                                                            <div class="cancel-search-mobile">
                                                                <a ng-click="showSearchbar = false">
                                                                    <span class="cancel-adjust">{{'baseLayout.navbar.mobileSearchCancel' | translate}}</span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>  <!--end of navbar header class -->

                        <div class="hidden-sm hidden-xs" >
                            <div class="col-lg-1 col-md-1">  <!-- image for desktop -->
                                <a  href="#!/user/homepage">
                                    <img style="padding: 0 50px;" src="../images/homepage/lergo-logo-no-tagline-blue-background-resize.png">
                                </a>
                            </div>
                            <div class="col-lg-8 col-md-8">
                                <div class="col-lg-7 col-md-7" style=" height: 60px" >
                                    <form ng-show="showForm || baseLayout.filterTextSearch.length > 0 " class="navbar-form" role="search">
                                        <div class="form-group search-homepage-desktop"  ui-keypress="{enter: 'searchOnHomepage()'}">
                                            <input class="form-control search-desktop" ng-class="{'search-color' : baseLayout.filterTextSearch.length > 0 }" placeholder="{{'baseLayout.header.searchPlaceholderMobile' | translate  }}" ng-model="baseLayout.filterTextSearch"  />
                                            <button ng-click="searchOnHomepage()" class="btn btn-link" >
                                                <i class="fa fa-search"  uib-tooltip="{{'homepage.tooltip.searchWord' | translate}}" tooltip-placement="right"></i>
                                            </button>
                                            <a style="text-decoration: none;" href="#!/user/homepage" class="btn btn-link">
                                                <i class="fa fa-times-circle-o fa-lg cancel-search" uib-tooltip="{{'homepage.tooltip.searchReset' | translate}}" tooltip-placement="right" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </form>
                                    <div>
                                        <div class="col-lg-6 col-md-6"></div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class=" rtlFloatLeft lergo-h1"   ng-hide="showForm || baseLayout.filterTextSearch.length > 0 " ng-click="showForm = true; setFocus('focus-search-desktop')">
                                                <span class="search-icon"> {{'baseLayout.navbar.searchLesson' | translate}}
                                                     <i class="fa fa-search" aria-hidden="true">
                                                     </i>
                                                 </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div style="height: 60px;color: #c1def5; padding-top: 20px" class="col-lg-1 col-md-1 text-center">|</div>
                                <div class="col-lg-4 col-md-4">
                                    <div class="lergo-h1"  create-your-own-box></div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3">
                                <div class="col-lg-6 col-md-6">
                                    <div class="header-actions">
                                        <div id="profileloginbutton-desktop"  profile-login-button="$root.user"></div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 ">
                                        <span uib-dropdown on-toggle="toggled(open)"  >
                                              <a href id="simple-dropdown1" uib-dropdown-toggle>
                                                <i style="padding: 0 40px" class="fa fa-bars fa-2x" aria-hidden="true"></i>
                                              </a>
                                              <ul class="dropdown-menu overidePositionInherit dropdown-align" uib-dropdown role="menu" aria-labelledby="single-button">
                                                 <li role="menuitem"><a href="#!/user/homepage">{{ 'baseLayout.header.links.learn'| translate }}</a></li>
                                                 <li role="menuitem"><a show-logged-in href="#!/user/create/lessons">{{ 'baseLayout.header.links.create'| translate }} </a>
                                                 <a show-anonymous href="#!/public/session/login" popover-placement="bottom" popover-trigger="focus" popover="{{'createNotAvailable' | translate}}" tabindex="0">{{
                                                                'baseLayout.header.links.create'| translate }} </a></li>
                                                 <li role="menuitem"><a href="#!/user/Parents">{{ 'baseLayout.header.links.' + 'Parents'.toLowerCase() | translate }}</a></li>
                                                 <li role="menuitem"><a href="#!/user/Teachers">{{ 'baseLayout.header.links.' + 'Teachers'.toLowerCase() | translate }}</a></li>
                                                 <li role="menuitem"><a href="#!/public/contribute">{{ 'baseLayout.header.links.contribute'| translate }} </a></li>
                                                 <li role="menuitem"><a href="#!/public/about/overview">{{'baseLayout.footer.about' | translate }}</a></li>
                                                 <li role="menuitem"><a href="#!/user/Privacy">{{ 'baseLayout.header.links.' + 'Privacy'.toLowerCase() | translate }}</a></li>
                                                  <li class="divider"></li>
                                                 <div>
                                                     <li role="menuitem">
                                                         <div class="btn-group" style="padding-left: 14px;">
                                                            <label ng-hide="baseLayout.language == 'en'" class="btn btn-link " ng-model="baseLayout.language" uib-btn-radio="'en'">English</label>
                                                            <label ng-hide="baseLayout.language == 'he'" class="btn btn-link" ng-model="baseLayout.language" uib-btn-radio="'he'">עברית</label>
                                                            <label ng-hide="baseLayout.language == 'ar'" class="btn btn-link " ng-model="baseLayout.language" uib-btn-radio="'ar'"> العربية</label>
                                                         </div>
                                                     </li>
                                                 </div>
                                              </ul>
                                        </span>
                                </div>
                            </div>
                        </div>
                        <div class="collapse navbar-collapse desktop" uib-collapse="isNavCollapsed"> <!--new stuff-->
                            <ul class="hidden-lg hidden-md nav navbar-nav desktop navbar-right">
                                <div>
                                    <div class="mobile-navbar-menu">
                                        <div class="header-actions">
                                            <li ng-show="!user">
                                                <div id="profileloginbutton-mobile-not-logged-in"  profile-login-button="$root.user"></div>
                                            </li>
                                            <li ng-show="!user" class="divider"></li>
                                        </div>
                                        <li role="menuitem"><a href="#!/user/homepage">{{ 'baseLayout.header.links.learn'| translate }}</a></li>
                                        <li role="menuitem"><a show-logged-in href="#!/user/create/lessons">{{ 'baseLayout.header.links.create'| translate }} </a>
                                            <a show-anonymous href="#!/public/session/login" popover-placement="bottom" popover-trigger="focus" popover="{{'createNotAvailable' | translate}}" tabindex="0">{{
                                                'baseLayout.header.links.create'| translate }}
                                            </a>
                                        </li>
                                        <li role="menuitem"><a href="#!/user/Parents">{{ 'baseLayout.header.links.' + 'Parents'.toLowerCase() | translate }}</a></li>
                                        <li role="menuitem"><a href="#!/user/Teachers">{{ 'baseLayout.header.links.' + 'Teachers'.toLowerCase() | translate }}</a></li>
                                        <li role="menuitem"><a href="#!/public/contribute">{{ 'baseLayout.header.links.contribute'| translate }} </a></li>
                                        <li role="menuitem"><a href="#!/public/about/overview">{{'baseLayout.footer.about' | translate }}</a></li>
                                        <li role="menuitem"><a href="#!/user/Privacy">{{ 'baseLayout.header.links.' + 'Privacy'.toLowerCase() | translate }}</a></li>
                                    </div>
                                    <li>
                                        <div>
                                            <div class="header-actions">
                                                <div ng-show="user" id="profileloginbutton-mobile"  profile-login-button="$root.user"></div>
                                            </div>
                                        </div>
                                    </li>
                                    <li role="menuitem" style="padding-top: 20px">
                                        <div class="btn-group">
                                            <label ng-click="isNavCollapsed = !isNavCollapsed" ng-hide="baseLayout.language == 'en'" class="btn btn-link " ng-model="baseLayout.language" uib-btn-radio="'en'">English</label>
                                            <label ng-click="isNavCollapsed = !isNavCollapsed" ng-hide="baseLayout.language == 'he'" class="btn btn-link" ng-model="baseLayout.language" uib-btn-radio="'he'">עברית</label>
                                            <label ng-click="isNavCollapsed = !isNavCollapsed" ng-hide="baseLayout.language == 'ar'" class="btn btn-link " ng-model="baseLayout.language" uib-btn-radio="'ar'"> العربية</label>
                                        </div>
                                    </li>
                                </div>  <!--end of hidden-lg h     hidden-md-->
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>



            <!--start content-->
    <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12"></div>
    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
        <div id="content" class="centered-content clearfix" ng-transclude=""></div>
    </div>
    <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12"></div>



    <div class="hidden-sm hidden-xs">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div id="footer" class="not-embed-mode-item" style="overflow-y: auto">
                        <div class="centered-content-footer row-nested30">
                            <div class="footer-text">
                                {{'baseLayout.footer.text1' | translate }}
                                <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">{{'baseLayout.footer.text2' | translate }};</a>
                                {{'baseLayout.footer.text3' | translate }}
                                <a href="#!/public/terms">{{'baseLayout.footer.text4' | translate }}.</a>
                                {{'baseLayout.footer.text5' | translate }}.
                            </div>
                            <div class="footer-links">
                                <div class=row>
                                    <ul>
                                        <li>
                                            <a href="#!/public/terms">{{'baseLayout.footer.privacyAndTerms' | translate }}</a>
                                        </li>
                                        <li>
                                            <a href="#!/public/about/overview">{{'baseLayout.footer.about' | translate }}</a>
                                        </li>
                                        <li>
                                            <a href="#!/user/homepage"> {{'baseLayout.footer.homepage' | translate }}</a>
                                        </li>
                                        <li>
                                            <a href="#!/public/about/contact">{{'baseLayout.footer.contact' | translate }}</a>
                                        </li>
                                        <li admin-section="misc.userCanSeeKitchenSink">
                                            <a href="#!/public/kitchenSink">{{'baseLayout.footer.kitchenSink' | translate}}</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="row">
                                    <ul>
                                        <li>
                                            <a class="weight12" href="#!/public/feedback">{{'baseLayout.footer.feedback' | translate}}</a>
                                        </li>
                                        <li>
                                            <a class="weight12" href="#!/public/suggest">{{'baseLayout.footer.suggest' | translate}}</a>
                                        </li>
                                        <li>
                                            <a class="weight12" href="#!/public/problem">{{'baseLayout.footer.problem' | translate}}</a>
                                        </li>
                                        <li>
                                            <a class="weight12" href="#!/public/abuse">{{'baseLayout.footer.abuse' | translate}}</a>
                                        </li>
                                    </ul>
                                    <div class="copyrights">
                                        <div>&copy; {{'baseLayout.footer.copyright' | translate}}</div>
                                        <div>{{'baseLayout.footer.copyrightMsg' | translate}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
