<div id="homepage">
    <div id="header">
        <div class="centered-content">
            <div class="header-main">
            <div class="logo"></div>
            <div class="header-links">
                <ul>
                    <li ng-repeat="item in ['Learn','Create','Parents','Teachers','Contribute']"> <a href="#">{{item}}</a></li>
                </ul>
            </div>
            <div class="header-search">
                <input placeholder="What would you like to learn about?"/>
                <i class="icon-search"></i>
            </div>
            <div class="header-login">
                <a href="#">Log in</a>
                <a href="#">Sign up</a>
            </div>
            </div>
            <div class="header-stats">
                <div class="article">
                    <div class="item">
                        <div class="amount">2305</div>
                        <div class="type">lessons</div>
                    </div>
                    <div class="item">
                        <div class="amount">17456</div>
                        <div class="type">questions</div>
                    </div>
                    <div class="and-counting item">
                        and counting...
                    </div>
                </div>
                <div class="sidebar">
                    <div class="title">Create Your Own Lessons</div>
                    <div class="start">start</div>
                    <div class="free">it's free!</div>
                </div>
            </div>
        </div>
    </div>
    <div id="content" class="centered-content">
          <div class="article"></div>
          <div class="sidebar">
              <div class="filters">
                <div class="title">
                      filter lessons
                  </div>
                  <div class="filter" ng-repeat="filter in filters">
                      <div class="label"> {{filter.label}}</div>
                      <div class="input"><select ng-options="op | i18n:{skip:!filter.translate} for op in filter.options" ng-model="filter.selected"> </select></div>
                  </div>
              </div>
              <div class="tags">
                  <div class="tag" ng-repeat="tag in tags">
                      <div class="label">
                          {{tag.label}}
                      </div>
                  </div>

              </div>
              <div class="labels">
                    <span ng-repeat="label in labels" class="weight{{label.weight}}"><a href="#">{{label.text}} </a></span>
              </div>
          </div>
        <div class="push"></div>
    </div>
    <div id="footer">
        <div class="footer-links">
            <ul>
                <li> Privacy & Terms</li>
                <li> About LetGO</li>
                <li> Home Page</li>
                <li> Contact Us</li>

            </ul>
        </div>
        <div class="copyrights">
                &copy; LetGO 2013 All Rights Reserved
        </div>
    </div>

</div>