<div class="base-layout">
          <div class="article">
              <div class="section" ng-repeat="section in sections">
                  <div class="title">
                      <div class="section-label">
                          {{section.label|i18n}}
                      </div>
                      <div class="controls">
                          <i class="icon-chevron-left" ng-class="{'disabled':section.index ==0}" ng-click="flipSection(section,false)"></i>
                          <i class="icon-chevron-right" ng-click="flipSection(section,true)"></i>
                      </div>
                  </div>
                  <div class="lessons">
                      <div class="lesson" ng-repeat="lesson in getLessons(section)">
                          <div class="age-limit age-limit-{{lesson.age}}">
                              <div class="value">{{lesson.age}}</div>
                              <div class="units">
                                  <i class="icon-arrow-up"></i>
                                  years
                              </div>
                          </div> <!-- age limit -->
                          <div class="image">
                              <img src="/images/homepage/logo.png"/>

                              <div class="stats">
                                  <span class="time">
                                        <i class="icon-time"></i>
                                        <span> {{lesson.time}} </span>
                                  </span>
                                  <span class="questions">
                                        <i class="icon-question-sign"></i>
                                        <span> {{lesson.questions}} </span>
                                  </span>

                              </div>
                          </div>
                          <div class="title">
                              {{ lesson.title + ".title" | i18n }}
                          </div>

                          <div class="description" multiline-ellipsis>
                              {{lesson.title + '.description' | i18n }}
                          </div>
                          <div class="info">
                              <div class="by">
                                  <div class="label">by</div>
                                  <ul class="value">
                                      <li ng-repeat="by in lesson.by"><a href="#">{{by}}</a></li>
                                    </ul>
                              </div>
                              <div class="at">
                                  {{lesson.at}}
                              </div>
                          </div>
                          <div class="lesson-stats">
                              <div class="lesson-stats-item" >

                                  <div class="{{stat.type}} item" ng-repeat="stat in lesson.stats">
                                      <i ng-class="{'icon-thumbs-up' : stat.type == 'likes', 'icon-eye-open':stat.type == 'views', 'icon-comment': stat.type == 'comments'}">                                  </i>

                                  </div>
                              </div>
                              <div class="lesson-stats-item" >
                                  <div class="{{stat.type}} item" ng-repeat="stat in lesson.stats">
                                      {{stat.value}}



                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="sidebar">
              <div class="filters">
                <div class="title">
                      filter lessons
                  </div>
                  <div class="filter" ng-repeat="filter in filters">
                      <div class="label"> {{filter.label}}</div>
                      <div class="input"><select ng-options="op | i18n:{skip:!filter.translate} for op in filter.options" ng-model="filter.selected"> </select></div>
                  </div>
                  <div class="filter">
                      <div class="label">tags</div>
                  </div>
                  <div class="tags">
                      <div class="tag" ng-repeat="tag in tags">
                      <span>
                          {{tag}}
                      </span>
                          <i class="icon-remove"></i>
                      </div>

                  </div>
              </div>

              <div class="labels">
                    <span ng-repeat="label in labels" class="weight{{label.weight}}"><a href="#">{{label.text}} </a></span>
              </div>
          </div>
        <div class="push"></div>
</div>