<div id="homepage">
    <div id="header">
        <div class="centered-content">
            <div class="header-main">
            <div class="logo"></div>
            <div class="header-links">
                <ul>
                    <li ng-repeat="item in ['Learn','Create','Parents','Teachers','Contribute']"> <a href="#">{{item}}</a></li>
                </ul>
            </div>
            <div class="header-search">
                <input placeholder="What would you like to learn about?"/>
                <i class="icon-search"></i>
            </div>
            <div class="header-login">
                <a href="#">Log in</a>
                <a href="#">Sign up</a>
            </div>
            </div>
            <div class="header-stats">
                <div class="article">
                    <div class="item">
                        <div class="amount">2305</div>
                        <div class="type">lessons</div>
                    </div>
                    <div class="item">
                        <div class="amount">17456</div>
                        <div class="type">questions</div>
                    </div>
                    <div class="and-counting item">
                        and counting...
                    </div>
                </div>
                <div class="sidebar">
                    <div class="title">Create Your Own Lessons</div>
                    <div class="start">start</div>
                    <div class="free">it's free!</div>
                </div>
            </div>
        </div>
    </div>
    <div id="content" class="centered-content">
          <div class="article">
              <div class="section" ng-repeat="section in sections">
                  <div class="title">
                      <div class="section-label">
                          {{section.label|i18n}}
                      </div>
                      <div class="controls">
                          <i class="icon-chevron-left" ng-class="{'disabled':section.index ==0}" ng-click="flipSection(section,false)"></i>
                          <i class="icon-chevron-right" ng-click="flipSection(section,true)"></i>
                      </div>
                  </div>
                  <div class="lessons">
                      <div class="lesson" ng-repeat="lesson in getLessons(section)">
                          <div class="age-limit age-limit-{{lesson.age}}">
                              <div class="value">{{lesson.age}}</div>
                              <div class="units">
                                  <i class="icon-arrow-up"></i>
                                  years
                              </div>
                          </div> <!-- age limit -->
                          <div class="image">
                              <img src="/images/homepage/logo.png"/>

                              <div class="stats">
                                  <span class="time">
                                        <i class="icon-time"></i>
                                        <span> {{lesson.time}} </span>
                                  </span>
                                  <span class="questions">
                                        <i class="icon-question-sign"></i>
                                        <span> {{lesson.questions}} </span>
                                  </span>

                              </div>
                          </div>
                          <div class="title">
                              {{ lesson.title + ".title" | i18n }}
                          </div>

                          <div class="description" multiline-ellipsis>
                              {{lesson.title + '.description' | i18n }}
                          </div>
                          <div class="info">
                              <div class="by">
                                  <div class="label">by</div>
                                  <ul class="value">
                                      <li ng-repeat="by in lesson.by"><a href="#">{{by}}</a></li>
                                    </ul>
                              </div>
                              <div class="at">
                                  {{lesson.at}}
                              </div>
                          </div>
                          <div class="lesson-stats">
                              <div class="lesson-stats-item" >

                                  <div class="{{stat.type}} item" ng-repeat="stat in lesson.stats">
                                      <i ng-class="{'icon-thumbs-up' : stat.type == 'likes', 'icon-eye-open':stat.type == 'views', 'icon-comment': stat.type == 'comments'}">                                  </i>

                                  </div>
                              </div>
                              <div class="lesson-stats-item" >
                                  <div class="{{stat.type}} item" ng-repeat="stat in lesson.stats">
                                      {{stat.value}}



                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="sidebar">
              <div class="filters">
                <div class="title">
                      filter lessons
                  </div>
                  <div class="filter" ng-repeat="filter in filters">
                      <div class="label"> {{filter.label}}</div>
                      <div class="input"><select ng-options="op | i18n:{skip:!filter.translate} for op in filter.options" ng-model="filter.selected"> </select></div>
                  </div>
                  <div class="filter">
                      <div class="label">tags</div>
                  </div>
                  <div class="tags">
                      <div class="tag" ng-repeat="tag in tags">
                      <span>
                          {{tag}}
                      </span>
                          <i class="icon-remove"></i>
                      </div>

                  </div>
              </div>

              <div class="labels">
                    <span ng-repeat="label in labels" class="weight{{label.weight}}"><a href="#">{{label.text}} </a></span>
              </div>
          </div>
        <div class="push"></div>
    </div>
    <div id="footer">
        <div class="centered-content">
            <div class="footer-links">
                <ul>
                    <li> Privacy & Terms</li>
                    <li> About LetGO</li>
                    <li> Home Page</li>
                    <li> Contact Us</li>

                </ul>
            </div>
            <div class="copyrights">
                    &copy; LerGO 2013 All Rights Reserved
            </div>
        </div>
    </div>

</div>