#manageUserUpdate{
    .user-roles{
        padding-bottom:30px;
        span{
            display:inline-block;
            width:200px;
            overflow:hidden;
            text-overflow:ellipsis;
        }
    }
}
