<div >
    <div class="action-items">
        <div class="hint" ng-show="!!quizItem.hint">
            <div class="hidden-lg hidden-md">
                <button popover-animation="false" ng-show="!!quizItem.hint" ng-click="hintUsed(quizItem)" popover-placement="bottom-right" uib-popover="{{quizItem.hint}}" class="btn-link"
                        popover-is-open="stepDisplay.showHint" tabindex="0">{{'hint' | translate}}</button><!-- focus click - click adds mobile support in ipad/chrome -->
            </div>
            <div class="hidden-sm hidden-xs">
                <button popover-animation="false" ng-show="!!quizItem.hint" ng-click="hintUsed(quizItem)" popover-placement="top" uib-popover="{{quizItem.hint}}" class="btn-link"
                        popover-is-open="stepDisplay.showHint" tabindex="0">{{'hint' | translate}}</button><!-- focus click - click adds mobile support in ipad/chrome -->
            </div>

        </div>
        <div ng-show="mode==='read'" class="action-item" style="border: 2px solid darkorange">
            <hr />
            <a class="btn-link" ng-click="copyQuestion(quizItem)" ng-show="!!permissions.canCopy">
                <i class="fa fa-copy" uib-tooltip="{{'questions.tooltip.copy' | translate}}"></i>
            </a>
            <a class="btn-link" href="#!/user/questions/{{quizItem._id}}/update" uib-tooltip="{{'questions.tooltip.edit' | translate}}" ng-show="!!permissions.canEdit">
                <i class="fa fa-pencil-square-o"></i>
            </a>
        </div>
    </div>
</div>
