<div class="action-items">
	<div class="hint" ng-show="!!quizItem.hint">
		<a ng-show="!!quizItem.hint" popover-placement="top" popover="{{quizItem.hint}}" class="btn-link" popover-trigger="focus" tabindex="0"> {{'hint'
			| i18n}} </a>
	</div>
	<div ng-show="mode==='read'" class="action-item">
		<hr />
		<a class="btn-link" ng-click="copyQuestion(quizItem)">
			<i class="fa fa-copy" tooltip="{{'questions.tooltip.copy' | i18n}}"></i>
		</a>
		<a class="btn-link" href="#/user/questions/{{quizItem._id}}/update" tooltip="{{'questions.tooltip.edit' | i18n}}">
			<i class="fa fa-pencil-square-o"></i>
		</a>
	</div>
</div>