<div class="submit">
    <div>
        <button ng-show="!getAnswer() && !hideSubmitButton" ng-disabled="!canSubmit(quizItem)" type="submit" class="btn"
                ng-click="checkAnswer()">
            {{ 'button.submit' | translate }}
        </button>
        <div quiz-next-question-button></div>
        <button ng-show="!!isQuizDone()" class="btn lergo-next-step" ng-click="continueBtnDisable || nextStep()"
                ng-disabled="continueBtnDisable">
            <i ng-show="continueBtnDisable" class="fa fa-circle-o-notch fa-spin" aria-hidden="true"></i>
            {{ 'lessons.letsContinue' | translate }}
        </button>
    </div>
</div>
