<div class="submit">
	<div ng-show="mode==='read'">
		<button class="btn" type="submit" ng-disabled="!canSubmit(quizItem)" ng-click="checkAnswer()">{{ 'button.submit' | i18n }}</button>
	</div>
	<div ng-show="mode==='quiz'">
		<button ng-show="!getAnswer(quizItem)" ng-disabled="!canSubmit(quizItem)" type="submit" class="btn" ng-click="checkAnswer()">{{
			'button.submit' | i18n }}</button>
		<button ng-show="hasNextQuizItem() && getAnswer(quizItem)" class="btn" ng-click="nextQuizItem()">
			{{ 'nextQuestion' | i18n }}
			<span class="fa fa-forward"></span>
		</button>
		<button ng-show="!hasNextQuizItem() && getAnswer(quizItem)" class="btn" disabled>{{ 'steps.noMoreQuestions' | i18n }}</button>
	</div>
</div>